.container-fluid.contact-us-container-fixed.text-center
    .row
        .col-12.contact-us-fixed-col
            div#crmWebToEntityForm.crmWebToEntityForm
                form.contact-us-form#webform6296617000000479035(action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads6296617000000479035 method='POST' accept-charset='UTF-8' novalidate)
                    input(type='text' style='display:none;' name='xnQsjsdp' value='c9ef63b049adde9dd26f5acb21dc87ed1cff806c5954f97aa4908339c68a8469')
                    input#zc_gad(type='hidden' name='zc_gad' value='')
                    input(type='text' style='display:none;' name='xmIwtLD' value='901545bd25a6f11e8753daa2bb5bdc4a62c942986fe3a3b3123340dde1be1461ada4f129bad2cf0112fb24bc402fd5af')
                    input(type='text' style='display:none;' name='actionType' value='TGVhZHM=')
                    input(type='text' style='display:none;' name='returnURL' value='https://www.dirabulgarit.co.il/contact-us-confirm')
                    input.contact-us-honeypot-input(type='text' name='bot_check' style='display:none;' value='')
                    .row.contact-us-fixed-row.align-items-center.d-flex.justify-content-center
                        .col-1.contact-us-headline-col
                        .col-10.contact-us-headline-col
                            div.contact-us-fixed-headline Свяжитесь с нами, и мы вернемся к вам как можно скорее
                        .col-1.contact-us-headline-col
                            img.close-contact-us-fixed-btn(src='/img/icons/x-sign-times-svgrepo-com-white.svg' alt='Значок знака X')
                        .col-md-2.contact-us-input-fixed-col
                            img.contact-us-fixed-logo(src='/img/logo-white.png' alt='Estates logo')
                        .col-md-2.contact-us-input-fixed-col
                            input.contact-us-input.contact-us-input.contact-us-name-input.form-control.en-search-filter-input(type='text' name='Last Name' maxlength="50" pattern='[A-Za-zА-Яа-яЁёא-ת\\s\'\\-]{2,50}' placeholder='Имя' aria-label='Имя' aria-describedby='basic-addon1' required)                            
                            .invalid-tooltip.invalid-tooltip-fixed Пожалуйста, введите действительное имя
                        .col-md-2.contact-us-input-fixed-col
                            input.contact-us-input.contact-us-phone-input.form-control.en-search-filter-input(type='text' name='Phone' maxlength="12" pattern='((02|03|04|08|09)[0-9]{7})|(((05[0-57-9])|(07[2-4,6-9])|(08[1,7,9])|(09[2-5,7,9])|(170)|(171)|(177)|(444)|(447))[0-9]{7})|(972((5[0-57-9])|(7[2-4,6-9])|(8[1,7,9])|(9[2-5,7,9])|(170)|(171)|(177)|(444)|(447))[0-9]{7})|(972(2|3|4|8|9)[0-9]{7})' placeholder='Номер телефона' aria-label='Номер телефона' aria-describedby='basic-addon1' required)
                            .invalid-tooltip.invalid-tooltip-fixed.contact-us-phone-invalid Пожалуйста, введите действительный номер телефона
                        .col-md-2.contact-us-input-fixed-col
                            input.contact-us-input.contact-us-email-input.form-control.en-search-filter-input(type='email' ftype='email' autocomplete='false' name='Email' crmlabel='' maxlength='100' placeholder='Электронная почта  ' aria-label='Электронная почта' aria-describedby='basic-addon1' pattern='^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$' required)
                            .invalid-tooltip.invalid-tooltip-fixed.contact-us-email-invalid Пожалуйста, введите действительный адрес электронной почты
                        .col-md-1.contact-us-fixed-bottom-col 
                            button.btn-cta-mobile-white.text-center(type='submit' id='formsubmit' class='formsubmit zcwf_button' value='שליחה' title='Submit')                
                                img.btn-cta-mobile-icon(src='/img/icons/send-svgrepo-com.svg' alt='Send arrow Icon')
                        .col-md-2.contact-us-input-fixed-col 
                            div.contact-us-fixed-call-us-text-container
                                img.contact-us-fixed-mobile-icon.en-navbar-mobile-icon(src='/img/icons/phone-call-phone-svgrepo-com.svg' alt='Значок телефона') 
                                span.contact-us-fixed-call-us-text Вызов: 
                                br
                                a.contact-us-fixed-call-us-text(href="tel:0546398138") 054-639-8138
                        .col-md-12.contact-us-input-fixed-col.d-flex.justify-content-center.align-items-md-center
                            input.contact-us-checkbox-en(type='checkbox' aria-checked='false' class='zcwf_ckbox' id='Email_Opt_Out' aria-required='false' aria-label='Email Opt Out' name='Email Opt Out' aria-valuemax='50' maxlength='50')
                            span.webinar-form-check-top-label.form-check-label(for='flexCheckDefault') Я даю согласие на получение соответствующей информации о недвижимости в Болгарии, которая может иногда носить рекламный характер        

.container-fluid.contact-us-fixed-expand-container
    .row.contact-us-fixed-expand-btn-row
        .col-12.d-flex.justify-content-center
            div.contact-us-fixed-expand-btn-container(title='Contact Us')
                img.contact-us-fixed-expand-btn(src='/img/icons/arrow-up-337-svgrepo-com-white.svg' alt='Значок стрелки вверх')                                        