footer
    .container-fluid.footer-container
        .row.footer-row.d-flex.justify-content-md-evenly
            .col-12.footer-logo-col.text-start
                img.footer-logo-img(src='/img/logo-white.png' alt='Estates logo')
            .col-12.col-sm-6.col-xl-3.footer-col.en-footer-col.footer-links-col
                div.footer-headline Dira Bulgarit
                div.footer-border-container.d-flex.justify-content-start
                    div.footer-border
                div.footer-link-container                                     
                    a.footer-link(href='/ru') Дом
                div.footer-link-container     
                    a.footer-link(href='/ru/search') Поиск
                div.footer-link-container     
                    a.footer-link.footer-project-link(data-slug='prestige-estates') Prestige Estates 
                div.footer-link-container     
                    a.footer-link(href='/ru/qanda') Вопросы и ответы
                div.footer-link-container     
                    a.footer-link(href='/ru/invest') Инвестиционный путеводитель 
                div.footer-link-container     
                    a.footer-link(href='/ru/about') О нас 
                div.footer-link-container     
                    a.footer-link(href='/ru/blog') Блог  
                div.footer-link-container     
                    a.footer-link(href='/ru/pricing') Услуги  
                div.footer-link-container     
                    a.footer-link(href='/ru/contact-us') Связаться с нами                         
            .col-12.col-sm-6.col-xl-3.footer-col.en-footer-col.footer-links-col  
                div.footer-headline Статьи
                div.footer-border-container.d-flex.justify-content-start
                    div.footer-border
                div.footer-link-container                                     
                    a.footer-link(href='/ru/blog/The-reasons-for-Bulgarias-popularity-among-Israeli-property-buyers') Почему израильтяне массово скупают квартиры в Болгарии
                div.footer-link-container     
                    a.footer-link(href='/ru/blog/Residence-permit-for-investment-in-Bulgaria-2024') Вид на жительство в Болгарии для инвесторов — 2024: как остаться навсегда и по закону
                div.footer-link-container     
                    a.footer-link(href='/ru/blog/Estimating-the-cost-of-living-in-Bulgaria-a-detailed-guide') Сколько стоит жить в Болгарии: честно, просто и по делу
                div.footer-link-container     
                    a.footer-link(href='/ru/blog/The-best-places-to-live-in-Bulgaria') Лучшие города Болгарии для жизни: море, горы и Wi-Fi без перебоев
                div.footer-link-container     
                    a.footer-link(href='/ru/blog/How-to-pay-bills-in-Bulgaria') Как оплатить счета в Болгарии и не потеряться в квитанциях
                div.footer-link-container     
                    a.footer-link(href='/ru/blog/Maintenance-fees-for-complexes-in-Bulgaria') Обслуживающие сборы в Болгарии: что, сколько и за что вы платите
                div.footer-link-container     
                    a.footer-link(href='/ru/blog/real-estate-investments-in-bulgaria') Инвестиции в Болгарию: как превратить левы в евро          
                div.footer-link-container     
                    a.footer-link(href='/ru/blog/apartments-for-sale-in-varna-bulgaria') Варна: где Черное море встречает инвестиционный потенциал        
                div.footer-link-container     
                    a.footer-link(href='/ru/blog/apartments-for-sale-in-sofia-bulgaria') София — столица, где недвижимость работает на вас       
                div.footer-link-container     
                    a.footer-link(href='/ru/blog/apartments-for-sale-in-banesko-bulgaria') Квартиры в Банско: горы, лыжи и пассивный доход — всё включено!            
                div.footer-link-container     
                    a.footer-link(href='/ru/blog/villas-for-sale-in-bulgaria') Виллы в Болгарии: роскошь с видом на горы, море и таблицу доходности         
                div.footer-link-container     
                    a.footer-link(href='/ru/blog/real-estate-opportunities-abroad') Где живёт ваш капитал? Возможности инвестиций в недвижимость за рубежом      
                div.footer-link-container     
                    a.footer-link(href='/ru/blog/real-estate-investments-abroad') Инвестиции в недвижимость за рубежом: доход, свобода и евро на горизонте        
                div.footer-link-container     
                    a.footer-link(href='/ru/blog/real-estate-investments-in-europe') Европа зовёт: как инвестировать в недвижимость и не пожалеть          
            .col-12.col-sm-6.col-xl-3.footer-col.en-footer-col.footer-links-col  
                div.footer-headline Политика
                div.footer-border-container.d-flex.justify-content-start
                    div.footer-border
                div.footer-link-container                                     
                    a.footer-link(href='/ru/terms-of-service') Условия использования
                div.footer-link-container     
                    a.footer-link(href='/ru/privacy') политика конфиденциальности
                div.footer-link-container     
                    a.footer-link(href='/ru/accessibility') Политика доступности
                div.footer-link-container     
                    a.footer-link(href='/ru/site-map') Карта сайта
            .col-12.col-sm-6.col-xl-3.footer-col.en-footer-col
                div.footer-headline Связаться с нами
                div.footer-border-container.d-flex.justify-content-start
                    div.footer-border
                div.footer-text-container  
                    img.footer-icon.en-footer-icon(src='/img/icons/address-location-map-svgrepo-com-white.svg' alt='Значок адреса')
                    span.footer-text Хахаров 10, Тель-Авив
                div.footer-text-container   
                    img.footer-icon.en-footer-icon(src='/img/icons/phone-svgrepo-com-white.svg' alt='Значок телефона') 
                    span.footer-text Вита Лившиц 
                    a.footer-phone(href="tel:0546398138")  054-639-8138
                div.footer-text-container   
                    img.footer-icon.en-footer-icon(src='/img/icons/email-9-svgrepo-com-white.svg' alt='Значок электронной почты')         
                    a.footer-text(href='mailto:drorsal3@gmail.com' aria-label='Dror Salomon E-mail' dir='rtl') drorsal3@gmail.com
                div.footer-social.en-footer-social.my-4
                    a(href='https://www.facebook.com/dror.salomon/' aria-label='Dror Salomon Facebook' target="_blank")
                        img.footer-social-icon(src='/img/icons/facebook-color-svgrepo-com.svg' alt='Иконка Facebook')  
                    a(href='Instagram' aria-label='Instagram' target="_blank")
                        img.footer-social-icon(src='/img/icons/instagram-1-svgrepo-com.svg' alt='Instagram Icon') 
                    a(href='Youtube' aria-label='Youtube' target="_blank")
                        img.footer-social-icon(src='/img/icons/youtube-color-svgrepo-com.svg' alt='Youtube Icon')   
                    a(href='https://www.linkedin.com/in/dror-salomon-542867199/' aria-label='Dror Salomon Linkedin' target="_blank")
                        img.footer-social-icon(src='/img/icons/linkedin-svgrepo-com.svg' alt='Иконка LinkedIn')      
        .row.footer-copyright-row
            .col-12.footer-copyright-col.text-center
                div.footer-copyright-text.en-footer-copyright-text Все права принадлежат Дрору Саломону &copy; #{new Date().getFullYear()} (Веб-сайт представлен исключительно в иллюстративных целях и не содержит реальных активов и контента)
                                    
                    