extends base 

block head
    title Познакомьтесь с командой | Dira Bulgarit
    meta(name="description" content="Команда Dira Bulgarit будет сопровождать вас на всем пути к прибыльной и стабильной инвестиции в недвижимость в Болгарии.")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.co.il/ru/about")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/ru/about" hreflang="ru")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/en/about" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/about" hreflang="he")

    meta(property="og:title" content="Познакомьтесь с командой | Dira Bulgarit")
    meta(property="og:description" content="Команда Dira Bulgarit будет сопровождать вас на всем пути к прибыльной и стабильной инвестиции в недвижимость в Болгарии.")
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../he/_headLinksScripts

block content

    .container-fluid
        .row.about-headline-row
            .col.about-headline-col 
                img.about-headline-img(src='/img/sectionCover-4.webp' alt='Изображение Бургаса Болгария') 
                h1.about-headline О нас
                button.section-headline-cta-btn.to-calendly-btn(aria-label='Перейти на страницу контактов') Связаться

    .container-fluid.about-container                        
        .row.about-row.d-flex.align-items-center.justify-content-center.mx-4
            .col-12.col-md-10.col-xxl-6.about-text-col.my-4
                h2.about-text-name(dir='ltr') Дрор Саломон
                h3.about-text-role(dir='ltr') Контент-менеджер и владелец
                div.about-text(dir='ltr') Дипломированный специалист в области психологии (B.A.), последние пять лет я специализируюсь на программировании и веб-разработке.
                div.about-text(dir='ltr') Сложность покупки недвижимости по разумной цене в нашей стране заставляет многие молодые пары и одиноких людей в возрасте 20, 30 и 40 лет отказаться от своей мечты. Они вынуждены смириться с тем, что, скорее всего, никогда не станут владельцами жилья и будут жить в условиях нестабильной аренды. Местный рынок недвижимости переживает множество потрясений из-за нехватки предложения, войн и дефицита рабочей силы в строительном секторе, что делает мечту о собственном доме почти несбыточной для многих из нас.
                div.about-text(dir='ltr') Поэтому, если вы заинтересованы в инвестициях в зарубежную недвижимость, <strong>свяжитесь с нами и назначьте видеовстречу в удобное для вас время. Мы сделаем все возможное, чтобы ответить на любые вопросы и сопроводить вас на пути к желанному объекту</strong>.
            .col-12.col-md-10.col-xxl-6.about-img-col.text-center
                img.about-img.img-fluid(src='/img/dror.webp' alt='Фото Дрора Саломона, контент-менеджера и владельца') 

    .container-fluid.mainpage-rec-container            
        .row.mx-4.justify-content-center
            .col-12.mainpage-rec-maintext-col.text-center
                h2.mainpage-rec-tag Рекомендации   
                h3.mainpage-rec-headline Что говорят о нас наши клиенты
            .col-12.col-md-10.reviews-carousel-col           
                #reviewsCarousel.carousel.slide.text-center.reviews-carousel(data-bs-touch='true' data-bs-interval='15000' data-bs-ride='carousel')
                    .carousel-inner.reviews-carousel-inner    
                        .carousel-item.active.reviews-carousel-item.ru-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/avatar-img-1.webp' alt='Фото автора отзыва Марины П.' loading='lazy')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name(dir='ltr') Нахум Рубин
                                        div.mainpage-reviews-prof(dir='ltr') Инспектор по строительству
                                        div.mainpage-reviews-review.fst-italic(dir='ltr') "Отличный сервис! С помощью профессиональной команды сайта я нашел потрясающую недвижимость за рубежом — личное сопровождение, надежность и эффективность на каждом этапе."
                        .carousel-item.reviews-carousel-item.ru-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/avatar-img-2.webp' alt='Фото автора отзыва Гюзель' loading='lazy')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name(dir='ltr') Алон Коэн
                                        div.mainpage-reviews-prof(dir='ltr') Программный разработчик
                                        div.mainpage-reviews-review.fst-italic(dir='ltr') "Я и не думал, что процесс покупки недвижимости за границей может быть таким простым! Сайт помог мне найти квартиру, которая идеально подошла под мои запросы, и предоставил ответы на все вопросы — от первичной проверки до подписания контракта. Очень рекомендую всем, кто хочет инвестировать в недвижимость по всему миру."
                        .carousel-item.reviews-carousel-item.ru-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/avatar-img-3.webp' alt='Фото автора отзыва Алекса Н.' loading='lazy')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name(dir='ltr') Карин Грин
                                        div.mainpage-reviews-prof(dir='ltr') Дизайнер интерьера
                                        div.mainpage-reviews-review.fst-italic(dir='ltr') "После долгих поисков выгодных инвестиций за рубежом я попала на этот сайт и быстро поняла, что пришла по адресу. Команда была терпеливой, профессиональной и всегда доступной — они помогли мне разобраться в местном рынке, проверили различные варианты и познакомили с надежными специалистами в стране назначения. В итоге я приобрела объект с отличной доходностью и определенно планирую инвестировать через них снова. Спасибо за сервис мирового уровня!"
                    button.carousel-control-prev(type='button' data-bs-target='#reviewsCarousel' data-bs-slide='prev')
                        span.carousel-control-prev-icon.mainpage-reviews-carousel-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                    button.carousel-control-next(type='button' data-bs-target='#reviewsCarousel' data-bs-slide='next')
                        span.carousel-control-next-icon.mainpage-reviews-carousel-next-icon(aria-hidden='true')
                        span.visually-hidden Next     
            .col-12.text-center.my-5   
                button.btn-cta.pricing-cta-btn.to-calendly-btn(aria-label='Перейти на страницу контактов') Связаться с нами     

    include _contactUsFixed  
    include _contactUsFixedMobile                       

                                            