extends base 

block head
    title Политика доступности | Dira Bulgarit
    meta(name="description" content="Политика доступности | Dira Bulgarit")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.co.il/ru/accessibility")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/ru/accessibility" hreflang="ru")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/en/accessibility" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/accessibility" hreflang="he")

    meta(property="og:title" content="Политика доступности | Dira Bulgarit")
    meta(property="og:description" content="Политика доступности | Dira Bulgarit")
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../he/_headLinksScripts

block content

    .container-fluid.accessibility-container
        .row.accessibility-headline-row.justify-content-center 
            .col-10.accessibility-headline-col 
                h1.accessibility-headline Политика доступности
        .row.accessibility-row.justify-content-center 
            .col-10.accessibility-text-col
                h2.accessibility-text-headline Введение
                div.accessibility-text Команда Estates считает доступность сайта одной из важнейших ценностей, стремясь обеспечить всем нашим клиентам максимально приятный и успешный опыт просмотра. Мы осознаем, что в Государстве Израиль проживает около миллиона человек с определенными формами инвалидности, и мы хотим предоставить им необходимую поддержку при посещении нашего веб-сайта.
                h2.accessibility-text-headline Доступность сайта
                div.accessibility-text Мы приложили много усилий, чтобы наш сайт был доступен в соответствии с рекомендациями израильского стандарта 5568 на уровне AA и международного документа WCAG 2.0.
                div.accessibility-text На сайте установлена панель доступности компании "enable", которая помогает пользователю вносить различные изменения на сайте и может способствовать его доступности в зависимости от индивидуальных потребностей.
                h2.accessibility-text-headline Как работает панель доступности?
                div.accessibility-text Чтобы открыть панель доступности, пользователь должен нажать кнопку открытия в левой части экрана или нажать клавишу ESC.
                div.accessibility-text Кнопка синего цвета, на ней изображен человек в инвалидном кресле.
                div.accessibility-text <strong>В меню доступности вы найдете следующие опции:</strong>
                div.accessibility-text • Навигация с помощью клавиатуры.
                div.accessibility-text • Отмена мигания на сайте.
                div.accessibility-text • Переключение сайта в черно-белый режим (монохром).
                div.accessibility-text • Изменение цветов сайта на тона сепии.
                div.accessibility-text • Изменение цветов сайта на высококонтрастные.
                div.accessibility-text • Изменение цветов сайта только на черный и желтый.
                div.accessibility-text • Инверсия цветов сайта.
                div.accessibility-text • Выделение всех заголовков на сайте.
                div.accessibility-text • Выделение всех ссылок на сайте.
                div.accessibility-text • Отображение описаний (alt) на сайте.
                div.accessibility-text • Постоянное отображение описаний alt на сайте.
                div.accessibility-text • Изменение шрифта на более читабельный.
                div.accessibility-text • Увеличение размера шрифта.
                div.accessibility-text • Уменьшение размера шрифта.
                div.accessibility-text • Увеличение масштаба (Zoom in).
                div.accessibility-text • Уменьшение масштаба (Zoom out).
                div.accessibility-text • Увеличение курсора мыши.
                div.accessibility-text • Изменение цвета курсора мыши на черный.
                div.accessibility-text • Режим чтения.           
                h2.accessibility-text-headline Важно знать
                div.accessibility-text Мы делаем все возможное, чтобы сделать наш сайт доступным для широкого круга людей с ограниченными возможностями, однако, несмотря на это, некоторые части или компоненты сайта могут быть не на 100% доступны.
                div.accessibility-text Если вы обнаружили на нашем сайте какой-либо раздел, который не доступен в соответствии с вашими потребностями, из-за чего вы не можете им воспользоваться, мы будем очень признательны, если вы свяжетесь с нами по указанным ниже контактам, и мы сделаем все возможное, чтобы решить проблему доступности.
                h2.accessibility-text-headline Контакты координатора по доступности на сайте
                div.accessibility-text <strong>Имя:</strong> Дрор Саломон
                div.accessibility-text <strong>Телефон:</strong> 054-639-8138
                div.accessibility-text <strong>Email:</strong> 
                    a(href='mailto:drorsal3@gmail.com' aria-label='Email Dror Salomon') drorsal3@gmail.com
                br
                div.accessibility-text Заявление о доступности было обновлено 27.05.2025