extends base 

block head
    title Инвестиции в недвижимость Болгарии: сотни инвестиционных объектов и возможностей | Dira Bulgarit
    meta(name="description" content='Инвестиции в недвижимость в Болгарии осуществляются только с Dira Bulgarit! Компания, которая предлагает сотни объектов недвижимости и квартир для инвестиций в Болгарии, а также профессиональную поддержку от этапа поиска до получения ключа от недвижимости. Для получения более подробной информации нажмите >>')
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.co.il/ru")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/ru" hreflang="ru")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/en" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.co.il" hreflang="he")

    meta(property="og:title" content="Инвестиции в недвижимость Болгарии: сотни инвестиционных объектов и возможностей | Dira Bulgarit")
    meta(name='description' content='Инвестиции в недвижимость в Болгарии осуществляются только с Dira Bulgarit! Компания, которая предлагает сотни объектов недвижимости и квартир для инвестиций в Болгарии, а также профессиональную поддержку от этапа поиска до получения ключа от недвижимости. Для получения более подробной информации нажмите >>')
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../he/_headLinksScripts

block content 
    
    .container-fluid.hero-container.ru-hero-container(role="img" aria-labelledby="heroDescription")
        .row.d-flex.align-items-center.justify-content-center                    
            .col-10.col-lg-8.hero-text-col.en-hero-text-col
                .hero-border
                h1.hero-headline Инвестиции в недвижимость
                .hero-border.hero-bottom-border
                div.hero-text Estates — крупнейший сайт недвижимости в Израиле
        .row.hero-icons-row.en-hero-icons-row
            .col-6.col-xl-3.hero-icon-col
                img.hero-icon(src='/img/icons/house-svgrepo-com-hero-white.svg' alt='House icon' loading='lazy') 
                .hero-icon-text(dir='rtl') Сотни объектов недвижимости
            .col-6.col-xl-3.hero-icon-col 
                img.hero-icon(src='/img/icons/lighthouse-svgrepo-com-hero-white.svg' alt='Lighthouse icon' loading='lazy') 
                .hero-icon-text(dir='rtl') Полное сопровождение на протяжении всего процесса
            .col-6.col-xl-3.hero-icon-col
                img.hero-icon(src='/img/icons/stats-real-estate-svgrepo-com-hero-white.svg' alt='House and graph icon' loading='lazy') 
                .hero-icon-text(dir='rtl') Стабильная инвестиционная прибыль
            .col-6.col-xl-3.hero-icon-col
                img.hero-icon(src='/img/icons/money-bag-euro-svgrepo-com-hero-white.svg' alt='Euro money bag icon' loading='lazy') 
                .hero-icon-text(dir='rtl') Инвестиции в развивающуюся страну-члена ЕС
        .row.hero-contact-us-row.en-hero-contact-us-row       
            .col-10.col-lg-8.hero-contact-us-col      
                button.btn-cta-white.to-calendly-btn(aria-label='Open the Contact Us page') Связаться          

    div.mainpage-search-modal-open-btn-container.text-center
        h2.mainpage-search-headline Поиск недвижимости
        div.mainpage-search-text Нажмите кнопку поиска и найдите недвижимость по своему вкусу
        button.mainpage-search-modal-open-btn(data-bs-toggle="modal" data-bs-target="#searchModal" aria-label='Открыть модальный поиск недвижимости') Открыть поиск  

    .container.d-flex.justify-content-center
        .mainpage-search-container.w-75   
            h2.mainpage-search-headline.text-center Поиск недвижимости
            include _searchForm

        include _searchModal  

    .container-fluid.mainpage-hot-assets-container
        .row.mainpage-hot-assets-row.justify-content-center
            .col-12.mainpage-hot-assets-headline-col
                .row.text-center
                    h2.mainpage-hot-assets-tag Рекомендации   
                    h3.mainpage-hot-assets-headline Инвестиционные возможности 
            each asset in hotAssets
                include _assetsCards
        .row.mobile-mainpage-hot-assets-row.justify-content-center.mx-1         
            .col-12.mainpage-hot-assets-headline-col
                .row.text-center
                    div.mainpage-hot-assets-tag Рекомендации  
                    div.mainpage-hot-assets-headline Инвестиционные возможности 
            each asset in hotAssets
                include _mobileAssetsCards       

    .container-fluid.mainpage-about-container.ru-mainpage-about-container.overflow-hidden(role="img" aria-labelledby="aboutUsImageDescription")
        span.visually-hidden(id="aboutUsImageDescription") Изображение домов, расположенных на берегу Черного моря в Бургасе
        .row.mainpage-about-row.align-items-center
            .col-10.col-lg-8.mainpage-about-text-col
                h2.mainpage-about-tag О нас
                h3.mainpage-about-headline Estates
                div.mainpage-about-text рофессиональная и высококвалифицированная команда сопровождает израильских инвесторов на пути к успешным инвестициям на рынке недвижимости. Поддержка от момента заинтересованности до получения ключей.
            .col-10.col-lg-8.mainpage-about-button-col.en-mainpage-about-button-col.my-md-5.my-lg-1
                .row.justify-content-center 
                    .col-12.col-sm-4.my-4
                        button.btn-cta-white.ru-btn-cta-white.to-about-btn Познакомьтесь с командой    

    .container-fluid.d-flex.mainpage-howitworks-container 
        .row.mainpage-howitworks-row.align-items-center.justify-content-center.mx-4
            .col-12.mainpage-howitworks-maintext--col
                h2.mainpage-howitworks-label Процесс
                h3.mainpage-howitworks-mainheadline Система работы 
                div.mainpage-howitworks-maintext Компания Estates лично и индивидуально сопровождает своих клиентов на протяжении всего процесса приобретения недвижимости, от этапа поиска до завершения сделки
            .col-12.col-md-6.col-xl-6.col.mainpage-howitworks-steps--col
                div.mainpage-howitworks-icon--background
                    svg.bi.mainpage-howitworks-icon(aria-labelledby="howItWorkIconClipboard")
                        title(id="howItWorkIconClipboard") Доска для рисования с изображением сердца в центре
                        use(xlink:href='/img/icons/clipboard.svg#clipboard')
                div.mainpage-howitworks-headline Предпочтения   
                div.mainpage-howitworks-text Мы проведем с вами zoom встречу, чтобы узнать ваши предпочтения      
            .col-12.col-md-6.col-xl-6.col.mainpage-howitworks-steps--col
                div.mainpage-howitworks-icon--background
                    svg.bi.mainpage-howitworks-icon(aria-labelledby="howItWorkIconBinoculars")
                        title(id="howItWorkIconBinoculars") Значок бинокля
                        use(xlink:href='/img/icons/binoculars.svg#binoculars')
                div.mainpage-howitworks-headline Поиск недвижимости     
                div.mainpage-howitworks-text Мы представим вам разнообразные объекты недвижимости в соответствии с вашими предпочтениями     
            .col-12.col-md-6.col-xl-6.col.mainpage-howitworks-steps--col
                div.mainpage-howitworks-icon--background
                    svg.bi.mainpage-howitworks-icon(aria-labelledby="howItWorkIconHouse")
                        title(id="howItWorkIconHouse") House Icon
                        use(xlink:href='/img/icons/house.svg#house')
                div.mainpage-howitworks-headline Тур по недвижимости   
                div.mainpage-howitworks-text Мы будем сопровождать вас и продемонстрируем все понравившиеся объекты     
            .col-12.col-md-6.col-xl-6.col.mainpage-howitworks-steps--col
                div.mainpage-howitworks-icon--background
                    svg.bi.mainpage-howitworks-icon(aria-labelledby="howItWorkIconSearch")
                        title(id="howItWorkIconSearch") Значок увеличительного стекла
                        use(xlink:href='/img/icons/search.svg#search')
                div.mainpage-howitworks-headline Юридический контроль     
                div.mainpage-howitworks-text Мы проведем комплексную юридическую проверку недвижимости с помощью нашей юридической консультации в Болгарии     

    .container-fluid.mainpage-why-bulgaria-container
        .row.mainpage-why-bulgaria-row.align-items-center.justify-content-center 
            .col.mainpage-why-bulgaria-col
                div.mainpage-why-bulgaria-bg-video-container.ru-mainpage-why-bulgaria-bg-video-container(role="img" aria-labelledby="whyBulgariaDescription")
                    video(muted loop loading="lazy" data-src="/videos/burgas-video-1080p.mp4").mainpage-why-bulgaria-bg-video
                    span.visually-hidden(id="whyBulgariaDescription") Видео, показывающее город Бургас с высоты птичьего полета
                div.mainpage-why-bulgaria-text-container.w-75.text-center       
                    h2.mainpage-why-bulgaria-tag Инвестиции          
                    h3.mainpage-why-bulgaria-headline Почему недвижимость?
                    div.mainpage-why-bulgaria-text Экономика постоянно растет, отчасти благодаря увеличению инвестиций и развитию мирового рынка. Цены на недвижимость во многих местах по всему миру остаются относительно доступными, а в некоторых районах можно получать высокую арендную доходность – особенно в крупных городах и туристических центрах. Мы подготовили для вас подробное руководство по инвестициям, которое поможет вам сделать первые шаги к выгодной и наиболее прибыльной сделке.
                div.invest-guide-btn-container.en-invest-guide-btn-container.my-xxs-4.my-xs-2.my-md-4.my-lg-1
                    button.invest-guide-btn.ru-invest-guide-btn Инвестиционный путеводитель            

    .container-fluid.mainpage-rec-container            
        .row.mx-4.justify-content-center
            .col-12.mainpage-rec-maintext-col.text-center
                h2.mainpage-rec-tag Рекомендации   
                h3.mainpage-rec-headline Что говорят о нас наши клиенты
            .col-12.col-md-10.reviews-carousel-col           
                #reviewsCarousel.carousel.slide.text-center.reviews-carousel(data-bs-touch='true' data-bs-interval='15000' data-bs-ride='carousel')
                    .carousel-inner.reviews-carousel-inner    
                        .carousel-item.active.reviews-carousel-item.ru-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/avatar-img-1.webp' alt='Фото автора отзыва Марины П.' loading='lazy')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name(dir='ltr') Нахум Рубин
                                        div.mainpage-reviews-prof(dir='ltr') Инспектор по строительству
                                        div.mainpage-reviews-review.fst-italic(dir='ltr') "Отличный сервис! С помощью профессиональной команды сайта я нашел потрясающую недвижимость за рубежом — личное сопровождение, надежность и эффективность на каждом этапе."
                        .carousel-item.reviews-carousel-item.ru-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/avatar-img-2.webp' alt='Фото автора отзыва Гюзель' loading='lazy')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name(dir='ltr') Алон Коэн
                                        div.mainpage-reviews-prof(dir='ltr') Программный разработчик
                                        div.mainpage-reviews-review.fst-italic(dir='ltr') "Я и не думал, что процесс покупки недвижимости за границей может быть таким простым! Сайт помог мне найти квартиру, которая идеально подошла под мои запросы, и предоставил ответы на все вопросы — от первичной проверки до подписания контракта. Очень рекомендую всем, кто хочет инвестировать в недвижимость по всему миру."
                        .carousel-item.reviews-carousel-item.ru-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/avatar-img-3.webp' alt='Фото автора отзыва Алекса Н.' loading='lazy')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name(dir='ltr') Карин Грин
                                        div.mainpage-reviews-prof(dir='ltr') Дизайнер интерьера
                                        div.mainpage-reviews-review.fst-italic(dir='ltr') "После долгих поисков выгодных инвестиций за рубежом я попала на этот сайт и быстро поняла, что пришла по адресу. Команда была терпеливой, профессиональной и всегда доступной — они помогли мне разобраться в местном рынке, проверили различные варианты и познакомили с надежными специалистами в стране назначения. В итоге я приобрела объект с отличной доходностью и определенно планирую инвестировать через них снова. Спасибо за сервис мирового уровня!"
                    button.carousel-control-prev(type='button' data-bs-target='#reviewsCarousel' data-bs-slide='prev')
                        span.carousel-control-prev-icon.mainpage-reviews-carousel-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                    button.carousel-control-next(type='button' data-bs-target='#reviewsCarousel' data-bs-slide='next')
                        span.carousel-control-next-icon.mainpage-reviews-carousel-next-icon(aria-hidden='true')
                        span.visually-hidden Next    

    .container-fluid.mainpage-pricing-container.justify-content-center               
        .row.mx-4.justify-content-center.mainpage-pricing-headline-row
            .col-12.pricing-maintext-col.text-center
                h2.pricing-tag На ваш выбор 
                h3.mainpage-pricing-headline Цены                       
        .row.justify-content-center.pricing-cards-row         
            .col-12.col-sm-7.col-md-6.col-lg-4.col-xl-4.col-xxl-3.mx-xxl-5.p-xxs-0.p-med-1
                .card.pricing-card-basic
                    .card-body
                        .container-fluid
                            .row.pricing-card-body-row
                                .col-12
                                    .card-title.pricing-card-main-title Базовый
                                    .card-title.pricing-card-secondary-title Поиск недвижимости и сбор документов
                                    .card-title.pricing-card-tertiary-title 3000€ + Налог
                                .col-12.my-5
                                    div.card-text-container.d-flex.align-content-center.py-3
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки') 
                                        span.pricing-card-text Подбор объекта по запросу клиента
                                    div.card-text-container.d-flex.align-content-center.py-3        
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки')
                                        span.pricing-card-text Физический или онлайн-тур по объекту
                                    div.card-text-container.d-flex.align-content-center.py-3
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки')
                                        span.pricing-card-text Юридическая проверка недвижимости
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки')
                                        span.pricing-card-text Сбор юридической документации
                                    div.card-text-container.d-flex.align-content-center.py-3  
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='Иконка крестика')
                                        span.pricing-card-text Составление первичного контракта с юристом
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='Иконка крестика')
                                        span.pricing-card-text Оформление и подписание договора у нотариуса
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='Иконка крестика')
                                        span.pricing-card-text Открытие банковского счета для клиента
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='Иконка крестика')                                     
                                        span.pricing-card-text Аренда и управление недвижимостью
            .col-12.col-sm-7.col-md-6.col-lg-4.col-xl-4.col-xxl-3.mx-xxl-5
                .card.pricing-card-plus
                    .card-body
                        .container-fluid
                            .row.pricing-card-body-row
                                .col-12
                                    .card-title.pricing-card-main-title Плюс
                                    .card-title.pricing-card-secondary-title Финальный контракт и открытие счета
                                    .card-title.pricing-card-tertiary-title 3990€ + Налог
                                .col-12.my-5
                                    div.card-text-container.d-flex.align-content-center.py-3
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки') 
                                        span.pricing-card-text Подбор объекта по запросу клиента
                                    div.card-text-container.d-flex.align-content-center.py-3        
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки')
                                        span.pricing-card-text Физический или онлайн-тур по объекту
                                    div.card-text-container.d-flex.align-content-center.py-3
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки')
                                        span.pricing-card-text Юридическая проверка недвижимости
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки')
                                        span.pricing-card-text Сбор юридической документации
                                    div.card-text-container.d-flex.align-content-center.py-3  
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки')
                                        span.pricing-card-text Составление первичного контракта с юристом
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки')
                                        span.pricing-card-text Оформление и подписание договора у нотариуса
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки')
                                        span.pricing-card-text Открытие банковского счета для клиента
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='Иконка крестика')                                    
                                        span.pricing-card-text Аренда и управление недвижимостью
            .col-12.col-sm-7.col-md-6.col-lg-4.col-xl-4.col-xxl-3.mx-xxl-5
                .card.pricing-card-premium
                    .card-body
                        .container-fluid
                            .row.pricing-card-body-row
                                .col-12.justify-content-center.pricing-premium-col 
                                    .span.badge.ru-pricing-premium-badge Лучшая цена
                                    .card-title.pricing-card-main-title Премиум
                                    .card-title.pricing-card-secondary-title Полный сервис и управление объектом
                                    .card-title.pricing-card-tertiary-title 4990€ + Налог
                                .col-12.my-5
                                    div.card-text-container.d-flex.align-content-center.py-3
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки') 
                                        span.pricing-card-text Подбор объекта по запросу клиента
                                    div.card-text-container.d-flex.align-content-center.py-3        
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки')
                                        span.pricing-card-text Физический или онлайн-тур по объекту
                                    div.card-text-container.d-flex.align-content-center.py-3
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки')
                                        span.pricing-card-text Юридическая проверка недвижимости
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки')
                                        span.pricing-card-text Сбор юридической документации
                                    div.card-text-container.d-flex.align-content-center.py-3  
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки')
                                        span.pricing-card-text Составление первичного контракта с юристом
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки')
                                        span.pricing-card-text Оформление и подписание договора у нотариуса
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки')
                                        span.pricing-card-text Открытие банковского счета для клиента
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки')    
                                        span.pricing-card-text Аренда и управление недвижимостью
            .col-12.ru-mainpage-pricing-btn-container.text-center  
                button.btn-cta.pricing-cta-btn.to-calendly-btn(aria-label='Перейти на страницу контактов') Связаться с нами

    .container-fluid.mainpage-blog-container
        .row.mainpage-blog-headline-row.d-felx.justify-content-center
            .col-12.mainpage-blog-headline-col
                .row.text-center
                    h2.mainpage-blog-tag Важно знать
                    h3.mainpage-blog-headline Выбранные статьи из нашего блога
        .row.mainpage-blog-cards-row.d-felx.justify-content-center.flex-md-row-reverse.mx-4 
            .col-12.col-md-6.col-lg-3
                .card.mainpage-blog-card.ru-mainpage-blog-card.py-3
                    .card-body
                        .container-fluid
                            .row.mainpage-blog-card-body-row.text-center
                                .col-12.mainpage-blog-card-title-col.ru-mainpage-blog-card-title-col
                                    img.mainpage-blog-icon(src='/img/icons/israel-shekel-currency-symbol-svgrepo-com-white.svg' alt='Значок флага Израиля' loading='lazy')
                                    .card-title.mainpage-blog-card-title Причины популярности Болгарии среди израильских покупателей недвижимости
                                .col-12.mainpage-blog-card-text-col.ru-mainpage-blog-card-text-col.my-2
                                    div.d-flex.align-content-center.justify-content-end.py-3 
                                        span.mainpage-blog-card-text Среди самых популярных стран для покупки недвижимости за рубежом у израильтян стоит выделить Болгарию. Красивые морские пейзажи, мягкий климат, множество достопримечательностей и архитектурных памятников привлекают граждан Израиля...
                                .col-12.my-2        
                                    button.mainpage-blog-card-btn(data-slug="The-reasons-for-Bulgarias-popularity-among-Israeli-property-buyers") Читать далее
            .col-12.col-md-6.col-lg-3
                .card.mainpage-blog-card.ru-mainpage-blog-card.py-3
                    .card-body
                        .container-fluid
                            .row.mainpage-blog-card-body-row.text-center
                                .col-12.mainpage-blog-card-title-col.ru-mainpage-blog-card-title-col
                                    img.mainpage-blog-icon(src='/img/icons/graph-property-svgrepo-com-white.svg' alt='Значок графика с домами в каждом столбце' loading='lazy')
                                    .card-title.mainpage-blog-card-title  Инвестиции в Болгарию: как превратить левы в евро
                                .col-12.mainpage-blog-card-text-col.ru-mainpage-blog-card-text-col.my-2
                                    div.d-flex.align-content-center.justify-content-end.py-3 
                                        span.mainpage-blog-card-text Если вы давно мечтаете вложиться в недвижимость, но Париж пугает ценами, а Лондон — акцентом, взгляните на Болгарию. Болгария — это как младшая сестра Европы: скромная, перспективная, а жильё у неё пока не стоит как крыло от самолёта...
                                .col-12.my-2.align-content-end      
                                    button.mainpage-blog-card-btn(data-slug="real-estate-investments-in-bulgaria") Читать далее
            .col-12.col-md-6.col-lg-3
                .card.mainpage-blog-card.ru-mainpage-blog-card.py-3
                    .card-body
                        .container-fluid
                            .row.mainpage-blog-card-body-row.text-center
                                .col-12.mainpage-blog-card-title-col.ru-mainpage-blog-card-title-col
                                    img.mainpage-blog-icon(src='/img/icons/mountaint-landscape-svgrepo-com-white.svg' alt='Значок солнечного неба над горами' loading='lazy')
                                    .card-title.mainpage-blog-card-title Сколько стоит жить в Болгарии: честно, просто и по делу
                                .col-12.mainpage-blog-card-text-col.ru-mainpage-blog-card-text-col.my-2
                                    div.d-flex.align-content-center.justify-content-end.py-3 
                                        span.mainpage-blog-card-text Жизнь в Болгарии — это не миф про "дёшево и сердито", а вполне себе реальность, особенно если сравнивать с израильскими ценами на продукты, аренду и нервную систему. Здесь есть море, горы, вино, йогурт, чистый воздух и ещё кое-что важное — разумные цены на всё...
                                .col-12.my-2        
                                    button.mainpage-blog-card-btn(data-slug="Estimating-the-cost-of-living-in-Bulgaria-a-detailed-guide") Читать далее
            .col-12.col-md-6.col-lg-3
                .card.mainpage-blog-card.ru-mainpage-blog-card.py-3
                    .card-body
                        .container-fluid
                            .row.mainpage-blog-card-body-row.text-center
                                .col-12.mainpage-blog-card-title-col.ru-mainpage-blog-card-title-col
                                    img.mainpage-blog-icon(src='/img/icons/house-thumbs-up-svgrepo-com-white.svg' alt='Значок дома, внутри которого стоит знак «Мне нравится»' loading='lazy')
                                    div.card-title.mainpage-blog-card-title Лучшие города Болгарии для жизни: море, горы и Wi-Fi без перебоев
                                .col-12.mainpage-blog-card-text-col.ru-mainpage-blog-card-text-col.my-2
                                    div.d-flex.align-content-center.justify-content-end.py-3 
                                        span.mainpage-blog-card-text Выбираете, куда переехать в Болгарию или просто прицениться к недвижимости у моря? Болгария — это не одна большая деревня с розами и болгарским перцем. Это страна, где можно найти и город с кофейнями на каждом углу, и деревню, где по утрам поют петухи, а не сирены скорой....
                                .col-12.my-2        
                                    button.mainpage-blog-card-btn(data-slug="The-best-places-to-live-in-Bulgaria") Читать далее
        .row.mainpage-blog-btn-row.d-felx.justify-content-center
            .col-12.text-center.py-3    
                button.to-blog-btn Страница блога  

    .container-fluid.mainpage-contact-us-container
        .row.mainpage-contact-us-headline-row.d-felx.justify-content-center
            .col-12.col-md-10.col-xl-8.mainpage-contact-us-headline-col
                .row.text-center
                    h2.mainpage-contact-us-tag Свяжитесь с нами
                    h3.mainpage-contact-us-headline Введите свои контактные данные, и наш представитель свяжется с вами в ближайшее время
        .row.mainpage-contact-us-row.d-felx.justify-content-center.mx-4
            .col-12.col-md-10.col-xl-8.mainpage-contact-us-col.text-center 
                div#crmWebToEntityForm.crmWebToEntityForm
                    form.contact-us-form#webform6296617000000479035(action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads6296617000000479035 method='POST' accept-charset='UTF-8' novalidate)
                        input(type='text' style='display:none;' name='xnQsjsdp' value='c9ef63b049adde9dd26f5acb21dc87ed1cff806c5954f97aa4908339c68a8469')
                        input#zc_gad(type='hidden' name='zc_gad' value='')
                        input(type='text' style='display:none;' name='xmIwtLD' value='901545bd25a6f11e8753daa2bb5bdc4a62c942986fe3a3b3123340dde1be1461ada4f129bad2cf0112fb24bc402fd5af')
                        input(type='text' style='display:none;' name='actionType' value='TGVhZHM=')
                        input(type='text' style='display:none;' name='returnURL' value='https://www.dirabulgarit.co.il/en/contact-us-confirm')
                        input.contact-us-honeypot-input(type='text' name='bot_check' style='display:none;' value='')
                        .row.contact-us-row.align-items-center
                            .col-12.contact-us-col.d-flex.justify-content-end
                                input.contact-us-input.contact-us-name-input.form-control.en-search-filter-input(type='text' name='Last Name' maxlength="50" pattern='[A-Za-zА-Яа-яЁёא-ת\\s\'\\-]{2,50}' placeholder='Имя' aria-label='Имя' aria-describedby='basic-addon1' required)                            
                                .invalid-tooltip Пожалуйста, введите действительное имя
                            .col-12.contact-us-col.d-flex.justify-content-end
                                input.contact-us-input.contact-us-phone-input.form-control.en-search-filter-input(type='text' name='Phone' maxlength="12" pattern='((02|03|04|08|09)[0-9]{7})|(((05[0-57-9])|(07[2-4,6-9])|(08[1,7,9])|(09[2-5,7,9])|(170)|(171)|(177)|(444)|(447))[0-9]{7})|(972((5[0-57-9])|(7[2-4,6-9])|(8[1,7,9])|(9[2-5,7,9])|(170)|(171)|(177)|(444)|(447))[0-9]{7})|(972(2|3|4|8|9)[0-9]{7})' placeholder='Телефон' aria-label='Телефон' aria-describedby='basic-addon1' required)
                                .invalid-tooltip.contact-us-phone-invalid Пожалуйста, введите действительный номер телефона
                            .col-12.contact-us-col.d-flex.justify-content-end 
                                input.contact-us-input.contact-us-email-input.form-control.en-search-filter-input(type='email' ftype='email' autocomplete='false' name='Email' crmlabel='' maxlength='100' placeholder='Электронная почта  ' aria-label='Электронная почта' aria-describedby='basic-addon1' pattern='^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$' required)
                                .invalid-tooltip.contact-us-email-invalid Пожалуйста, введите действительный адрес электронной почты
                            .col-12.contact-us-col.contact-us-last-col.d-flex.justify-content-end     
                                textarea.contact-us-textarea.contact-us-description-input.form-control.en-search-filter-input(id='Description' name='Description' aria-label="Описание" rows="5" placeholder='Хотите ли вы сообщить нам что-то еще?')
                            .col-12.contact-us-col.d-flex.align-items-start.align-items-sm-center
                                input.contact-us-checkbox-en(type='checkbox' aria-checked='false' class='zcwf_ckbox' id='Email_Opt_Out' aria-required='false' aria-label='Email Opt Out' name='Email Opt Out' aria-valuemax='50' maxlength='50')
                                span.webinar-form-check-top-label.form-check-label(for='flexCheckDefault') Я даю согласие на получение соответствующей информации о недвижимости в Болгарии, которая может иногда носить рекламный характер.
                            .col-12.contact-us-col
                                input.contact-us-button.ru-contact-us-button.mx-3(type='submit' id='formsubmit' class='formsubmit zcwf_button' value='Отправлять' title='Submit')                                                                   
                                input.contact-us-button.ru-contact-us-button.mx-3(type='reset' class='zcwf_button' name='reset' value='Очистить' title='Reset')    

    include _contactUsFixed  
    include _contactUsFixedMobile                                
