extends base 

block head
    title Услуги | Dira Bulgarit
    meta(name="description" content="Dira Bulgarit сопровождает вас на протяжении всего процесса инвестиций в недвижимость в Болгарии.")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.co.il/ru/pricing")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/ru/pricing" hreflang="ru")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/en/pricing" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/pricing" hreflang="he")

    meta(property="og:title" content="Услуги | Dira Bulgarit")
    meta(property="og:description" content="Dira Bulgarit сопровождает вас на протяжении всего процесса инвестиций в недвижимость в Болгарии.")
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../he/_headLinksScripts

block content 
   
    .container-fluid.mainpage-pricing-container.justify-content-center               
        .row.mx-4.justify-content-center.mainpage-pricing-headline-row
            .col-12.pricing-maintext-col.text-center
                h2.pricing-tag На ваш выбор 
                h3.mainpage-pricing-headline Цены                       
        .row.justify-content-center.pricing-cards-row         
            .col-12.col-sm-7.col-md-6.col-lg-4.col-xl-4.col-xxl-3.mx-xxl-5.p-xxs-0.p-med-1
                .card.pricing-card-basic
                    .card-body
                        .container-fluid
                            .row.pricing-card-body-row
                                .col-12
                                    .card-title.pricing-card-main-title Базовый
                                    .card-title.pricing-card-secondary-title Поиск недвижимости и сбор документов
                                    .card-title.pricing-card-tertiary-title 3000€ + Налог
                                .col-12.my-5
                                    div.card-text-container.d-flex.align-content-center.py-3
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки') 
                                        span.pricing-card-text Подбор объекта по запросу клиента
                                    div.card-text-container.d-flex.align-content-center.py-3        
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки')
                                        span.pricing-card-text Физический или онлайн-тур по объекту
                                    div.card-text-container.d-flex.align-content-center.py-3
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки')
                                        span.pricing-card-text Юридическая проверка недвижимости
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки')
                                        span.pricing-card-text Сбор юридической документации
                                    div.card-text-container.d-flex.align-content-center.py-3  
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='Иконка крестика')
                                        span.pricing-card-text Составление первичного контракта с юристом
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='Иконка крестика')
                                        span.pricing-card-text Оформление и подписание договора у нотариуса
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='Иконка крестика')
                                        span.pricing-card-text Открытие банковского счета для клиента
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='Иконка крестика')                                     
                                        span.pricing-card-text Аренда и управление недвижимостью
            .col-12.col-sm-7.col-md-6.col-lg-4.col-xl-4.col-xxl-3.mx-xxl-5
                .card.pricing-card-plus
                    .card-body
                        .container-fluid
                            .row.pricing-card-body-row
                                .col-12
                                    .card-title.pricing-card-main-title Плюс
                                    .card-title.pricing-card-secondary-title Финальный контракт и открытие счета
                                    .card-title.pricing-card-tertiary-title 3990€ + Налог
                                .col-12.my-5
                                    div.card-text-container.d-flex.align-content-center.py-3
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки') 
                                        span.pricing-card-text Подбор объекта по запросу клиента
                                    div.card-text-container.d-flex.align-content-center.py-3        
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки')
                                        span.pricing-card-text Физический или онлайн-тур по объекту
                                    div.card-text-container.d-flex.align-content-center.py-3
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки')
                                        span.pricing-card-text Юридическая проверка недвижимости
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки')
                                        span.pricing-card-text Сбор юридической документации
                                    div.card-text-container.d-flex.align-content-center.py-3  
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки')
                                        span.pricing-card-text Составление первичного контракта с юристом
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки')
                                        span.pricing-card-text Оформление и подписание договора у нотариуса
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки')
                                        span.pricing-card-text Открытие банковского счета для клиента
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='Иконка крестика')                                    
                                        span.pricing-card-text Аренда и управление недвижимостью
            .col-12.col-sm-7.col-md-6.col-lg-4.col-xl-4.col-xxl-3.mx-xxl-5
                .card.pricing-card-premium
                    .card-body
                        .container-fluid
                            .row.pricing-card-body-row
                                .col-12.justify-content-center.pricing-premium-col 
                                    .span.badge.ru-pricing-premium-badge Лучшая цена
                                    .card-title.pricing-card-main-title Премиум
                                    .card-title.pricing-card-secondary-title Полный сервис и управление объектом
                                    .card-title.pricing-card-tertiary-title 4990€ + Налог
                                .col-12.my-5
                                    div.card-text-container.d-flex.align-content-center.py-3
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки') 
                                        span.pricing-card-text Подбор объекта по запросу клиента
                                    div.card-text-container.d-flex.align-content-center.py-3        
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки')
                                        span.pricing-card-text Физический или онлайн-тур по объекту
                                    div.card-text-container.d-flex.align-content-center.py-3
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки')
                                        span.pricing-card-text Юридическая проверка недвижимости
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки')
                                        span.pricing-card-text Сбор юридической документации
                                    div.card-text-container.d-flex.align-content-center.py-3  
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки')
                                        span.pricing-card-text Составление первичного контракта с юристом
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки')
                                        span.pricing-card-text Оформление и подписание договора у нотариуса
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки')
                                        span.pricing-card-text Открытие банковского счета для клиента
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.ru-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='Иконка галочки')    
                                        span.pricing-card-text Аренда и управление недвижимостью
            .col-12.ru-mainpage-pricing-btn-container.text-center  
                button.btn-cta.pricing-cta-btn.to-calendly-btn(aria-label='Перейти на страницу контактов') Связаться с нами 

    include _contactUsFixed  
    include _contactUsFixedMobile                                               