extends base 

block head
    title Конфиденциальность и приватность | Dira Bulgarit
    meta(name="description" content="Конфиденциальность и приватность | Dira Bulgarit")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.co.il/ru/privacy")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/ru/privacy" hreflang="ru")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/en/privacy" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/privacy" hreflang="he")

    meta(property="og:title" content="Конфиденциальность и приватность | Dira Bulgarit")
    meta(property="og:description" content="Конфиденциальность и приватность | Dira Bulgarit")
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../he/_headLinksScripts

block content

    .container-fluid.privacy-container
        .row.privacy-headline-row.justify-content-center 
            .col-10.privacy-headline-col 
                h1.privacy-headline Конфиденциальность и защита данных
        .row.privacy-row.justify-content-center 
            .col-10.privacy-text-col
                div.termsOfService-text-headline Введение
                div.privacy-text В Estates («мы», «наш») мы стремимся защищать вашу конфиденциальность. Данная политика конфиденциальности объясняет, как мы собираем, используем и защищаем вашу информацию при посещении нашего веб-сайта.
                div.termsOfService-text-headline Сбор данных
                div.privacy-text Мы используем Google Analytics для сбора статистических данных о пользователях нашего сайта, таких как количество посетителей, продолжительность посещений, просмотренные страницы и источники трафика. Эта информация собирается анонимно и помогает нам анализировать и улучшать работу сайта.
                div.privacy-text Мы используем файлы cookie для улучшения вашего пользовательского опыта. Мы собираем личную информацию, которую вы добровольно предоставляете через раздел «Связаться с нами» и при записи на встречу через Calendly. Это включает:
                div.privacy-text • Имя
                div.privacy-text • Адрес электронной почты
                div.privacy-text • Номер телефона
                div.termsOfService-text-headline Использование данных
                div.privacy-text Мы используем собранную информацию для следующих целей:
                div.privacy-text • Ответы на ваши запросы и предоставление клиентской поддержки.
                div.privacy-text • Содействие коммуникации относительно объектов недвижимости.
                div.privacy-text • Координация и управление встречами через Calendly.
                div.privacy-text • Анализ и улучшение пользовательского опыта на нашем сайте с помощью Google Analytics.
                div.termsOfService-text-headline Обмен данными
                div.privacy-text Мы не продаем, не обмениваем и не передаем вашу личную информацию третьим лицам, за исключением случаев, когда это необходимо для предоставления наших услуг (например, использование Calendly для планирования встреч).
                div.privacy-text Что касается Google Analytics, мы передаем данные компании Google для проведения статистического анализа в соответствии с политикой конфиденциальности Google.
                div.termsOfService-text-headline Безопасность данных
                div.privacy-text Мы внедряем различные меры безопасности для защиты вашей личной информации. Однако ни один метод передачи через Интернет или электронного хранения не является безопасным на 100%.
                div.termsOfService-text-headline Сторонние сервисы
                div.privacy-text Наш веб-сайт использует Google Analytics для статистического анализа активности на сайте в соответствии с их политикой конфиденциальности, с которой мы рекомендуем вам ознакомиться. <a href="https://support.google.com/analytics/answer/7318509?hl=en" target="_blank">https://support.google.com/analytics/answer/7318509?hl=en</a>
                div.privacy-text Наш веб-сайт использует Calendly для управления встречами. Использование вашей личной информации компанией Calendly регулируется их политикой конфиденциальности, с которой мы также рекомендуем ознакомиться. <a href="https://calendly.com/legal/customer-terms-conditions" target="_blank">https://calendly.com/legal/customer-terms-conditions</a>
                div.termsOfService-text-headline Ваши права
                div.privacy-text У вас есть право:
                div.privacy-text • Запросить удаление вашей личной информации.
                div.privacy-text • Отказаться от обработки вашей личной информации.
                div.privacy-text Для реализации этих прав, пожалуйста, свяжитесь с нами по адресу drorsal3@gmail.com
                div.termsOfService-text-headline Изменения в политике конфиденциальности
                div.privacy-text Мы можем периодически обновлять данную политику конфиденциальности. Мы уведомим вас о любых изменениях, опубликовав новую версию на этой странице. Ваше дальнейшее использование сайта после внесения изменений означает ваше согласие с новой политикой конфиденциальности.
                div.termsOfService-text-headline Контакты
                div.privacy-text Если у вас есть вопросы по поводу данной политики конфиденциальности, пожалуйста, свяжитесь с нами по адресу: drorsal3@gmail.com
                