extends base 

block head
    title Карта сайта | Dira Bulgarit
    meta(name="robots" content="noindex, nofollow")
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../he/_headLinksScripts

block content

    .container-fluid.siteMap-container
        .row.siteMap-headline-row.justify-content-center
            .col-10.siteMap-headline-col 
                h1.siteMap-headline Карта сайта
        .row.siteMap-row.d-flex.justify-content-center.text-start
            .col-10.siteMap-headline-col 
                .row
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/ru/blog') Поиск
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/ru/qanda') Вопросы и ответы
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/ru/invest') Инвестиционный путеводитель
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/ru/about') О нас
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/ru/blog') Блог
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/ru/pricing') Услуги
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/ru/contact-us') Связаться с нами
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/ru/terms-of-service') Условия использования
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/ru/privacy') политика конфиденциальности
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/ru/accessibility') Политика доступности
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links.siteMap-project-link(data-slug='prestige-estates') Prestige Estates