extends base 

block head
    title Условия использования | Dira Bulgarit
    meta(name="description" content="Условия использования | Dira Bulgarit")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.co.il/ru/terms-of-service")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/ru/terms-of-service" hreflang="ru")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/en/terms-of-service" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/terms-of-service" hreflang="he")

    meta(property="og:title" content="Условия использования | Dira Bulgarit")
    meta(property="og:description" content="Условия использования | Dira Bulgarit")
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../he/_headLinksScripts

block content

    .container-fluid.termsOfService-container
        .row.termsOfService-headline-row.justify-content-center 
            .col-10.termsOfService-headline-col 
                h1.termsOfService-headline Условия использования
        .row.termsOfService-row.justify-content-center 
            .col-10.termsOfService-text-col
                div.termsOfService-text-headline Введение
                div.termsOfService-text Добро пожаловать в Estates («Сайт»). Настоящие положения и условия («Условия») регулируют использование вами нашего веб-сайта. Заходя на наш сайт или используя его, вы соглашаетесь соблюдать эти условия. Если вы не согласны с ними, вы не должны использовать наш веб-сайт.
                div.termsOfService-text-headline Услуги
                div.termsOfService-text Наш веб-сайт предлагает списки объектов недвижимости и помогает израильским клиентам инвестировать и приобретать недвижимость в Болгарии. Мы предоставляем информацию и содействуем общению между покупателями и продавцами, но не выступаем в роли агентов по недвижимости.
                div.termsOfService-text-headline Использование сайта
                div.termsOfService-text • Вы соглашаетесь использовать Сайт только в законных целях.
                div.termsOfService-text • Вы не имеете права использовать сайт таким образом, который наносит или может нанести ущерб сайту или нарушить его доступность.
                div.termsOfService-text • Вы соглашаетесь не использовать информацию, найденную на сайте, в коммерческих целях.
                div.termsOfService-text-headline Интеллектуальная собственность
                div.termsOfService-text Весь контент на сайте, включая текст, графику, логотипы и изображения, является собственностью Estates или его поставщиков контента и защищен международными законами об авторском праве.
                div.termsOfService-text-headline Ограничение ответственности
                div.termsOfService-text Мы не несем ответственности за любые прямые, косвенные, случайные или закономерные убытки, возникшие в результате или в связи с использованием нашего веб-сайта. Это включает в себя любые ошибки или упущения в контенте, представленном на сайте.
                div.termsOfService-text-headline Внешние ссылки
                div.termsOfService-text Наш веб-сайт может содержать ссылки на сторонние сайты. Мы не несем ответственности за содержание или практику этих сайтов.
                div.termsOfService-text-headline Изменения условий
                div.termsOfService-text Мы оставляем за собой право изменять условия в любое время. Любые изменения будут опубликованы на этой странице, и ваше дальнейшее использование сайта после внесения изменений означает ваше согласие с новыми условиями.
                div.termsOfService-text-headline Применимое право
                div.termsOfService-text Настоящие условия регулируются и толкуются в соответствии с законодательством Государства Израиль, и любые споры, связанные с этими условиями, будут находиться под исключительной юрисдикцией судов Государства Израиль.