@import 'variables';

.calendly-row {
  margin-bottom: 5rem;
}

.calendly-col {
  position: relative;
  background-color: $text-color-secondary !important;
  height: 157rem;
  border-radius: 1rem;
}

.ru-calendly-col {
  height: 177rem;
}

.calendly-text-container {
  text-align: right;
  position: absolute;
  top: 28%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.en-calendly-text-container {
  top: 29%;
}

.ru-calendly-text-container {
  top: 31%;
}

.calendly-text-headline {
  font-size: $h4;
  font-weight: 600;
  color: $bg-color-primary;
  margin-bottom: 1.5rem;
}

.calendly-text {
  color: $bg-color-primary;
  margin-bottom: 1.5rem;
}

.contact-us-col {
  position: relative;
  margin-bottom: 3rem;
}

.contact-us-last-col {
  position: relative;
  margin-bottom: 1rem;
}

.contact-us-input {
  font-size: $h7 !important;
  text-align: right !important;
  color: $text-color-primary !important;
  border: 1px solid $text-color-secondary !important;
  border-radius: 1rem !important;
  height: 4rem !important;
}

.contact-us-textarea {
  font-size: $h6 !important;
  text-align: right !important;
  color: $text-color-primary !important;
  border: 1px solid $text-color-secondary !important;
}

.en-contact-us-textarea {
  text-align: left !important;
}

.en-search-filter-input {
  text-align: left !important;
  padding-right: 0;
  padding-left: 1rem;
}

.en-search-filter-input::placeholder {
  text-align: left !important;
}

.contact-us-input:focus,
.contact-us-textarea:focus {
  outline: none;
  border-color: $input-border-glow !important;
  -webkit-box-shadow: 0 0 10px $input-border-glow !important;
  box-shadow: 0 0 10px $input-border-glow !important;
}

.contact-us-checkbox {
  margin: 0.4rem 0 0 0.5rem;
}

.contact-us-checkbox-en {
  margin: 0.4rem 0.5rem 0 0;
}

.invalid-tooltip {
  font-size: $h7 !important;
}

.contact-us-button {
  margin-bottom: 2rem;
  width: 9rem !important;
  height: 3rem !important;
  background-color: $bg-color-primary;
  color: $text-color-secondary;
  border: none;
  -webkit-box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
}

.webinar-form-check-top-label {
  color: $bg-color-primary;
}

.ru-contact-us-button {
  width: 11rem !important;
  height: 4rem !important;
}

.calendly-widget-container {
  position: absolute;
  height: fit-content;
  top: 177%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.en-calendly-widget-container {
  top: 175%;
}

.ru-calendly-widget-container {
  top: 165%;
}

.calendly-inline-widget {
  height: 65rem;
  width: 25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
