@import 'variables';

footer {
  background-color: $text-color-secondary;
  color: $bg-color-primary;
}

.footer-logo-col {
  margin-bottom: 8rem;
  padding-top: 5rem;
}

.footer-logo-img {
  height: 6rem;
}

.footer-row {
  padding: 2rem 0 2rem 0;
  margin: 0 2rem 5rem 2rem !important;
}

.footer-col {
  text-align: right;
}

.en-footer-col {
  text-align: left;
}

.footer-headline {
  font-size: $h5;
  font-weight: 600;
  margin-bottom: 1rem;
}

.footer-border {
  background-color: rgba(255, 255, 255, 0.2);
  height: 1px;
  margin-bottom: 2rem;
  width: 18rem;
}

.footer-text-container {
  margin-bottom: 2rem;
}

.footer-text {
  margin-bottom: 2rem;
  color: $bg-color-primary;
  text-decoration: none;
}

.footer-phone {
  color: $bg-color-primary;
  text-decoration: none;
}

.footer-icon {
  height: 2rem;
  margin-left: 1rem;
}

.en-footer-icon {
  margin-left: 0;
  margin-right: 1rem;
}

.footer-social {
  text-align: right;
}

.footer-social-icon {
  width: 3.5rem;
  height: 3.5rem;
  margin-left: 0.7rem;
  filter: brightness(0.8);
}

.en-footer-social {
  text-align: left;
}

.footer-links-col {
  margin-bottom: 2rem;
}

.footer-link-container {
  margin-bottom: 2rem;
}

.footer-link {
  font-size: $h6;
  text-decoration: none;
  color: $bg-color-primary;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

a {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

a:hover {
  -webkit-filter: brightness(90%);
  filter: brightness(90%);
}

.footer-copyright-row {
  padding: 1rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-copyright-text {
  font-size: $h6;
}

.en-footer-copyright-text {
  font-size: $h7;
}
