@import 'variables';

nav,
.navbar-container,
.mobile-navbar-row,
.mobile-navbar-col {
  background: rgba(255, 255, 255, 0.8);
  height: 8rem;
}

.navbar-container {
  display: block !important;
}

.offcanvas {
  background-color: $text-color-secondary !important;
}

.offcanvas-body {
  padding: 0;
}

.btn-cta--container {
  padding: 1rem;
}

.navbar-toggler,
.navbar-toggler:focus {
  border: none !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(50, 71, 98)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  height: 2.9rem !important;
  width: 3rem !important;
}

.navbar-call-us-text-container {
  background-color: $text-color-secondary;
  padding: 0.5rem;
  border-radius: 1rem;
  width: fit-content !important;
  margin: auto !important;
}

.navbar-mobile-icon {
  margin: 0 0 0.2rem 0.5rem;
  height: 2.3rem;
}

.en-navbar-mobile-icon {
  margin: 0 0.5rem 0.2rem 0;
}

.ru-navbar-mobile-icon {
  margin: 0 1rem 0.2rem 0;
}

.navbar-call-us-text {
  color: $bg-color-primary;
  font-size: $h7;
  font-weight: 600;
  text-decoration: none;
}

.navbar-nav {
  width: 100%;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-box-align: right;
  -ms-flex-align: right;
  align-items: right;
}

.en-navbar-nav {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.nav-item {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  padding: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.en-nav-item {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.assets-catalog-dropdown-menu,
.projects-dropdown-menu,
.commercial-dropdown-menu {
  font-size: $h6 !important;
  background-color: $text-color-secondary !important;
  border: none !important;
}

.assets-catalog-dropdown-btn::after,
.projects-dropdown-btn::after,
.commercial-dropdown-btn::after {
  margin-right: 1rem;
}

.projects-dropdown-btn:focus,
.commercial-dropdown-btn:focus {
  background-color: transparent !important;
}

.projects-dropdown-btn:active,
.commercial-dropdown-btn:active {
  background-color: transparent !important;
}

.projects-dropdown-btn:hover,
.commercial-dropdown-btn:hover {
  background-color: transparent !important;
}

.assets-catalog-dropdown-item {
  margin: 0.5rem 2rem 0.5rem 0 !important;
}

.projects-dropdown-btn,
.commercial-dropdown-btn {
  margin: 1.5rem 0 0 0 !important;
  padding: 0 !important;
}

.assets-catalog-dropdown-item,
.projects-dropdown-item {
  color: $bg-color-primary !important;
}

.projects-dropdown-item,
.commercial-dropdown-item {
  margin-top: 1rem;
}

.projects-dropdown-item {
  cursor: pointer;
}

.dropdown-menu {
  position: static;
  float: none;
}

.dropdown-submenu > .dropdown-menu {
  margin-top: 0;
  margin-left: 0;
}

.dropdown-submenu > .dropdown-menu.show {
  display: block;
}

.btn-cta--offcanvas {
  border: 1px solid $bg-color-primary !important;
}

.offcanvas-active-link {
  color: $text-color-tertiary !important;
}

.nav-el {
  color: $text-color-primary;
  text-decoration: none;
  cursor: pointer;
  margin: 0;
}

.navbar-brand {
  margin: 0;
}

.laptop-navbar-brand {
  display: none;
}

.navbar-logo {
  height: 4.5rem;
}

.mobile-navbar-logo {
  height: 1.7rem;
}

.navbar-brand:hover,
.navbar-logo:hover {
  -webkit-filter: brightness(100%) !important;
  filter: brightness(100%) !important;
}

.dropdown-center {
  width: 3rem;
}

.currency-nav-item,
.lang-nav-item {
  display: none;
}

.mobile-currency-dropdown-btn {
  margin-right: 2.7rem;
}

.mobile-lang-collapse-col {
  margin-right: 0.5rem !important;
}

.mobile-lang-collapse-col-ru {
  margin-left: 5rem !important;
}

.mobile-lang-collapse-col-en {
  margin-left: 4.7rem !important;
}

.mobile-navbar-not-active-currency-icon {
  margin-right: 4rem;
}

.en-mobile-navbar-not-active-currency-icon {
  margin-right: 0;
  margin-left: 0.5rem;
}

.mobile-navbar-not-active-currency-icon,
.mobile-navbar-not-active-lang-icon {
  margin-bottom: 1rem;
}

.mobile-lang-dropdown-btn {
  margin-right: 1rem;
}

.mobile-navbar-not-active-lang-icon {
  margin-right: 1.2rem;
}

.currency-dropdown-btn,
.lang-dropdown-btn {
  background-color: rgba(255, 255, 255, 0) !important;
  padding: 0 !important;
  border: none !important;
}

.currency-dropdown-btn::after,
.lang-dropdown-btn::after {
  display: none !important;
}

.currency-dropdown-menu,
.lang-dropdown-menu {
  border: none !important;
  background-color: rgba(255, 255, 255, 0) !important;
  padding: 0 !important;
}

.navbar-currency-icon,
.navbar-lang-icon {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
}
