@import 'variables';
@import 'mixin';

.project-main-image-container,
.project-gallery-container,
.project-details-container,
.project-amenities-container,
.project-mid-image-container,
.project-map-container,
.project-video-container,
.project-assets-container,
.project-installment-scheme-container {
  margin-bottom: 5rem !important;
}

.project-main-image-col {
  &.project-main-image-col-prestige-estates {
    @include projectBackgroundImage('https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-estates-images/1769597288423-prestige-estates-1.webp');
  }
}

.project-main-image-headline {
  &.project-main-image-headline-prestige-estates {
    @include projectHeadline(40%);
    font-size: $h2;
  }
}

.project-gallery-image {
  height: 17rem;
  width: 28rem;
  border-radius: 0.5rem;
  margin-bottom: 3rem;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.project-numbers-buildings-number,
.project-numbers-floors-number,
.project-numbers-apartments-number,
.project-numbers-parking-spots-number,
.project-numbers-area-number,
.project-numbers-green-area-number,
.project-numbers-start-number,
.project-numbers-end-number {
  color: $text-color-counter;
  font-size: $h1;
  font-weight: 600;
}

.project-numbers-container {
  margin-bottom: 2rem;
}

.project-numbers-text {
  font-size: $h5;
  font-weight: 600;
  margin-bottom: 5rem;
}

.project-gallery-headline,
.project-details-headline,
.project-amenities-headline,
.project-map-headline,
.project-assets-headline,
.project-installment-scheme-headline {
  font-size: $h3;
  font-weight: 600;
  color: $text-color-tertiary;
  margin-bottom: 2rem;
}

.project-details-container {
  margin-bottom: 2rem;
}

.project-details-text {
  line-height: 3rem;
}

.project-details-sub-headline {
  font-size: $h4;
  font-weight: 600;
  color: $text-color-tertiary;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.project-details-img {
  margin: 3rem 0 0.5rem 0;
  height: 20rem;
  width: 30rem;
  border-radius: 0.5rem;
}

.project-details-img-sofia-b5 {
  height: 30rem;
  width: 20rem;
}

.project-amenities-icon {
  height: 10rem;
  margin-bottom: 1rem;
}

.project-amenities-text {
  font-size: $h5;
  font-weight: 600;
  margin-bottom: 4rem;
}

.project-mid-image-container {
  &.project-mid-image-container-prestige-estates {
    @include projectMiddleImage(
      'https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-estates-images/1769597288463-prestige-estates-2.webp',
      100% 25rem,
      30rem
    );
  }
}

.project-map {
  height: 35rem;
  border-radius: 2rem;
}

.project-installment-scheme-table {
  width: 85rem !important;
}

.project-installment-table-head {
  background-color: $text-color-secondary;
  color: $bg-color-primary;
}

.project-installment-scheme-table-col {
  overflow-x: scroll !important;
}

.project-installment-scheme-table th,
.project-installment-scheme-table td {
  font-size: $h7;
}

.project-installment-scheme-table th {
  padding: 0 1rem 0 1rem;
}

.project-installment-scheme-table td {
  padding: 2rem 1rem 2rem 1rem;
}
