@media only screen and (min-width: 310px) {
  .webinar-headline-img {
    height: 65rem;
  }
  .webinar-headline {
    top: 12%;
    font-size: 2rem;
    width: 30rem;
  }
  .webinar-headline-text-top,
  .webinar-headline-text-bottom {
    font-size: 1.6rem;
  }
  .webinar-contact-us-top-container {
    top: 67%;
  }
  .webinar-headline-text-top {
    top: 24%;
  }
  .webinar-headline-text-bottom {
    top: 28%;
  }
}
@media only screen and (min-width: 360px) {
  .webinar-mainpage-text,
  .webinar-mainpage-text span {
    font-size: 1.6rem;
  }
  .ru-hero-container {
    height: 83rem;
  }
  .mainpage-about-container {
    height: 70rem;
  }
  .en-mainpage-about-container {
    height: 80rem;
  }
  .carousel-control-prev {
    margin-left: -0.5rem;
  }
  .carousel-control-next {
    margin-right: -0.5rem;
  }
  .search-filter-dropdown--btn {
    font-size: 1.6rem !important;
  }
  .pagination-page-btn {
    font-size: 1.6rem;
  }
  .mainpage-why-bulgaria-bg-video-container {
    height: 60rem;
  }
  .ru-mainpage-why-bulgaria-bg-video-container {
    height: 75rem;
  }
  .en-invest-guide-btn-container {
    top: 91%;
  }
  .qanda-headline-img {
    height: 27rem;
  }
  .about-partners-card {
    height: 58rem !important;
  }
  .en-about-partners-card {
    height: 67rem !important;
  }
  .pricing-card-text {
    font-size: 1.2rem;
  }
  .pricing-card-icon {
    width: 1.7rem;
    height: 1.7rem;
  }
  .calendly-widget-container {
    top: 179%;
  }
  .en-calendly-widget-container {
    top: 175%;
  }
  .ru-calendly-widget-container {
    top: 165%;
  }
  .footer-icon {
    display: inline;
  }
  .webinar-headline-img {
    height: 70rem;
  }
  .webinar-headline {
    font-size: 2.4rem;
  }
  .webinar-headline-text-top,
  .webinar-headline-text-bottom {
    font-size: 2rem;
  }
  .webinar-contact-us-asterisk-icon {
    height: 2.5rem;
  }
  .webinar-headline {
    top: 12%;
  }
  .webinar-contact-us-top-container {
    top: 67%;
  }
  .webinar-headline-text-top {
    top: 25%;
  }
  .webinar-headline-text-bottom {
    top: 29%;
  }
}
@media only screen and (min-width: 425px) {
  .about-partners-card {
    height: 62rem !important;
  }
}
@media only screen and (min-width: 576px) {
  .webinar-mainpage-container {
    padding-top: 1rem;
  }
  .whatsapp-widget-container {
    width: 14rem !important;
    height: 3.5rem !important;
  }
  .whatsapp-widget a {
    color: #ffffff;
    font-size: 1.2rem;
    text-decoration: none;
  }
  .whatsapp-widget-icon {
    height: 3rem;
  }
  .navbar-mobile-icon {
    height: 3rem;
  }
  .navbar-call-us-text {
    font-size: 1.6rem;
  }
  .navbar-logo {
    height: 3rem;
  }
  .hero-container {
    height: 55rem;
  }
  .hero-headline {
    font-size: 4.8rem;
  }
  .hero-text-col {
    top: 16%;
  }
  .ru-hero-container {
    height: 80rem;
  }
  .en-hero-text-col {
    top: 20%;
  }
  .en-hero-icons-row {
    top: 58%;
  }
  .mainpage-about-container {
    height: 55rem;
  }
  .en-mainpage-about-container {
    height: 59rem;
  }
  .ru-mainpage-about-container {
    height: 65rem;
  }
  .mainpage-about-text-col {
    top: 45%;
  }
  .mainpage-about-headline {
    font-size: 4.8rem;
  }
  .mainpage-about-img {
    width: 15rem;
    height: 10rem;
  }
  .ru-hero-container {
    height: 83rem;
  }
  .mainpage-howitworks-text {
    font-size: 1.6rem;
  }
  .mainpage-why-bulgaria-bg-video-container {
    height: 45rem;
  }
  .ru-mainpage-why-bulgaria-bg-video-container {
    height: 50rem;
  }
  .mainpage-reviews-review {
    font-size: 1.6rem;
  }
  .carousel-control-prev {
    margin-left: -1rem;
  }
  .carousel-control-next {
    margin-right: -1rem;
  }
  .asset-card-body-row {
    font-size: 1.6rem;
  }
  .asset-card-img {
    height: 25rem;
  }
  .asset-card-sold-badge,
  .asset-card-exclusive-badge {
    font-size: 2.4rem !important;
  }
  .mobile-asset-card-title {
    font-size: 2rem;
  }
  .mobile-card-text-container {
    font-size: 1.2rem;
  }
  .mobile-card-icon {
    margin-left: 0.5rem;
    width: 2rem;
    height: 2rem;
  }
  .asset-gallery-zoomIn-icon {
    height: 4rem;
    width: 4rem;
  }
  .asset-gallery-carousel-item {
    height: 58rem !important;
  }
  .asset-gallery-carousel-prev-icon {
    width: 4rem !important;
    height: 4rem !important;
  }
  .asset-gallery-carousel-next-icon {
    width: 4rem !important;
    height: 4rem !important;
  }
  .qanda-headline-img,
  .invest-headline-img,
  .about-headline-img {
    height: 31rem;
  }
  .qanda-headline,
  .invest-headline,
  .about-headline {
    font-size: 3.4rem;
  }
  .accordion-button {
    font-size: 2rem !important;
  }
  .accordion-body {
    font-size: 1.6rem !important;
  }
  .about-partners-card {
    height: 58rem !important;
  }
  .en-about-partners-card {
    height: 67rem !important;
  }
  .about-partners-img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
  }
  .calendly-col {
    height: 140rem;
  }
  .ru-calendly-col {
    height: 157rem;
  }
  .calendly-text-container {
    top: 27%;
  }
  .ru-calendly-text-container {
    top: 28%;
  }
  .calendly-widget-container {
    top: 193%;
  }
  .en-calendly-widget-container {
    top: 188%;
  }
  .ru-calendly-widget-container {
    top: 180%;
  }
  .calendly-inline-widget {
    width: 40rem;
  }
  .close-contact-us-fixed-btn {
    width: 2rem;
    height: 2rem;
  }
  .contact-us-checkbox {
    margin: 0.2rem 0 0 0.5rem;
  }
  .contact-us-checkbox-en {
    margin: 0 0.5rem 0 0;
  }
  .contact-us-fixed-headline {
    font-size: 2rem;
  }
  .contact-us-fixed-expand-btn-container {
    padding: 0.5rem 2rem;
    width: 6.3rem;
    height: 3.8rem;
  }
  .contact-us-fixed-expand-btn {
    width: 2.3rem;
    height: 2.3rem;
  }
  .invalid-tooltip-fixed {
    top: 78% !important;
  }
  .pricing-card-icon {
    width: 2rem;
    height: 2rem;
  }
  .pricing-premium-badge {
    margin: 6rem 0 0 -3rem;
  }
  .project-main-image-headline.project-main-image-headline-prestige-estates {
    position: absolute;
    top: 50%;
    left: 37%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-weight: 600;
    color: #ffffff;
    font-size: 4.8rem;
  }
  .project-gallery-image {
    height: 17rem;
    width: 26rem;
  }
  .project-details-img {
    height: 30rem;
    width: 45rem;
  }
  .project-details-img-sofia-b5 {
    height: 40rem;
    width: 30rem;
  }
}
.project-installment-scheme-table {
  width: 95rem !important;
}

.project-installment-scheme-table th,
.project-installment-scheme-table td {
  font-size: 1.6rem;
}

.landing-main-image {
  height: 24.5rem;
}

.webinar-headline-img {
  height: 65rem;
}

.webinar-headline-text-top {
  top: 27%;
}

.webinar-headline-text-bottom {
  top: 32%;
}

.webinar-contact-us-top-container {
  top: 69%;
}

.webinar-input-name,
.webinar-input-phone,
.webinar-input-email {
  width: 37rem !important;
}

.webinar-form-check {
  margin-left: 1rem;
}

.alert {
  width: 70%;
  font-size: 1.6rem;
}

@media only screen and (min-width: 768px) {
  .webinar-mainpage-text,
  .webinar-mainpage-text span {
    font-size: 2.4rem;
  }
  .navbar-call-us-text-container {
    padding: 0.6rem 2rem;
  }
  .hero-container {
    height: 70rem;
  }
  .hero-headline {
    font-size: 6rem;
  }
  .hero-text {
    font-size: 3.4rem;
  }
  .hero-text-col {
    top: 22%;
  }
  .hero-icons-row {
    top: 57%;
  }
  .hero-icon {
    height: 8rem;
  }
  .hero-icon-text {
    font-size: 2rem;
  }
  .en-hero-container {
    height: 90rem;
  }
  .en-hero-text-col {
    top: 23%;
  }
  .en-hero-icons-row {
    top: 62%;
  }
  .en-hero-contact-us-row {
    top: 86%;
  }
  .ru-hero-container {
    height: 88rem;
  }
  .search-filter-options--btn {
    font-size: 1.6rem !important;
  }
  .search-filter-option--text {
    font-size: 1.6rem;
  }
  .mainpage-about-container {
    height: 65rem;
  }
  .en-mainpage-about-container {
    height: 80rem;
  }
  .ru-mainpage-about-container {
    height: 80rem;
  }
  .en-mainpage-about-button-col {
    top: 78%;
  }
  .mainpage-about-tag {
    font-size: 2.4rem;
  }
  .mainpage-about-headline {
    font-size: 6rem;
  }
  .mainpage-about-text {
    font-size: 3.4rem;
  }
  .mainpage-about-img {
    width: 20rem;
    height: 15rem;
  }
  .mainpage-howitworks-label {
    font-size: 2.4rem;
  }
  .mainpage-howitworks-steps--col {
    height: 20rem;
  }
  .mainpage-why-bulgaria-bg-video-container {
    height: 45rem;
  }
  .ru-mainpage-why-bulgaria-bg-video-container {
    height: 50rem;
  }
  .mainpage-why-bulgaria-tag {
    font-size: 2.4rem;
  }
  .invest-guide-btn-container {
    top: 85%;
  }
  .mobile-mainpage-hot-assets-row,
  .mobile-asset-related-assets-row {
    display: none !important;
  }
  .mainpage-hot-assets-row,
  .asset-related-assets-row {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .mainpage-hot-assets-tag {
    font-size: 2.4rem;
  }
  .asset-card-title-col {
    height: 11rem !important;
  }
  .asset-card-img {
    height: 20rem;
  }
  .asset-card-sold-badge,
  .asset-card-exclusive-badge {
    font-size: 2rem !important;
  }
  .mainpage-rec-tag {
    font-size: 2.4rem;
  }
  .reviews-carousel {
    -webkit-transform: skewX(-8deg);
    -ms-transform: skewX(-8deg);
    transform: skewX(-8deg);
  }
  .mainpage-reviews-img {
    height: 13rem;
    width: 13rem;
    -webkit-transform: translateX(-3rem) skewX(8deg);
    -ms-transform: translateX(-3rem) skewX(8deg);
    transform: translateX(-3rem) skewX(8deg);
  }
  .carousel-control-prev {
    margin-left: -3rem;
  }
  .carousel-control-next {
    margin-right: -3rem;
  }
  .mainpage-blog-tag {
    font-size: 2.4rem;
  }
  .mainpage-blog-card {
    height: 40rem !important;
  }
  .mainpage-blog-card-title-col {
    height: 16rem !important;
  }
  .mainpage-blog-card-text-col {
    height: 13rem !important;
  }
  .en-mainpage-blog-card {
    height: 47rem !important;
  }
  .en-mainpage-blog-card-title-col {
    height: 20rem !important;
  }
  .en-mainpage-blog-card-text-col {
    height: 16rem !important;
  }
  .ru-mainpage-blog-card {
    height: 55rem !important;
  }
  .ru-mainpage-blog-card-title-col {
    height: 23rem !important;
  }
  .ru-mainpage-blog-card-text-col {
    height: 21rem !important;
  }
  .mainpage-contact-us-tag {
    font-size: 2.4rem;
  }
  .search-headline-img {
    height: 30rem;
  }
  input[type=text]::-webkit-input-placeholder {
    font-size: 1.6rem;
  }
  input[type=text]::-moz-placeholder {
    font-size: 1.6rem;
  }
  input[type=text]:-ms-input-placeholder {
    font-size: 1.6rem;
  }
  input[type=text]::-ms-input-placeholder {
    font-size: 1.6rem;
  }
  input[type=text]::placeholder {
    font-size: 1.6rem;
  }
  .ru-calendly-col {
    height: 150rem;
  }
  .ru-calendly-text-container {
    top: 27%;
  }
  .calendly-text-headline {
    font-size: 3.4rem;
  }
  .calendly-inline-widget {
    width: 55rem;
  }
  .contact-us-button-fixed {
    width: 10rem !important;
  }
  .contact-us-mobile-fixed-container {
    display: none;
  }
  .contact-us-container-fixed {
    display: block;
    width: 101.5% !important;
    position: fixed;
  }
  .contact-us-fixed-row {
    padding: 0.2rem 0 !important;
  }
  .contact-us-input-fixed-col {
    margin-bottom: 0.1rem;
  }
  .close-contact-us-fixed-btn {
    width: 2.3rem;
    height: 2.3rem;
    margin-bottom: 0 !important;
  }
  .invalid-tooltip-fixed {
    top: 76% !important;
  }
  .contact-us-fixed-headline {
    margin-bottom: 0.5rem;
  }
  .contact-us-input {
    font-size: 1.6rem !important;
  }
  .en-calendly-widget-container {
    top: 198%;
  }
  .ru-calendly-widget-container {
    top: 195%;
  }
  .asset-gallery-mainImage {
    height: 23.3rem;
  }
  .asset-gallery-zoomIn-icon {
    height: 5rem;
    width: 5rem;
  }
  .asset-gallery-thumbnails-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .asset-details-description-smallViewport-container,
  .asset-btn-smallViewport-container,
  .mobile-asset-favorite-btn-container {
    display: none;
  }
  .asset-details-description-middleViewport-col,
  .asset-btn-middleViewport-container {
    display: block;
  }
  .asset-video {
    height: 30rem;
  }
  .about-partners-card {
    height: 57rem !important;
  }
  .en-about-partners-card {
    height: 69rem !important;
  }
  .about-partners-img {
    height: 22rem;
  }
  .pricing-card-icon {
    width: 2.3rem;
    height: 2.3rem;
  }
  .pricing-tag {
    font-size: 2.4rem;
  }
  .project-main-image-headline.project-main-image-headline-prestige-estates {
    position: absolute;
    top: 50%;
    left: 28%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-weight: 600;
    color: #ffffff;
  }
  .project-mid-image-container.project-mid-image-container-prestige-estates {
    position: relative;
    padding: 0 !important;
    background-image: linear-gradient(to right bottom, rgba(37, 48, 70, 0), rgba(37, 48, 70, 0)), url("https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-estates-images/1769597288463-prestige-estates-2.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 50rem;
    height: 40rem;
    width: 100%;
  }
  .project-gallery-image {
    height: 17rem;
    width: 23rem;
  }
  .project-details-img {
    height: 40rem;
    width: 60rem;
  }
  .project-details-img-sofia-b5 {
    height: 45rem;
    width: 35rem;
  }
}
.footer-border {
  width: 15rem;
}

.footer-social-icon {
  width: 4.5rem;
  height: 4.5rem;
}

.landing-text {
  font-size: 1.6rem;
}

.landing-main-image {
  height: 31rem;
}

.landing-contact-us-input {
  width: 35rem !important;
}

.webinar-headline-img {
  height: 68rem;
}

.webinar-headline {
  font-size: 3.4rem;
  width: 55rem;
  top: 15%;
}

.webinar-headline-text-top,
.webinar-headline-text-bottom {
  font-size: 2.4rem;
}

.webinar-headline-text-top {
  top: 30%;
}

.webinar-headline-text-bottom {
  top: 35%;
}

.webinar-contact-us-top-container {
  top: 71%;
}

.webinar-contact-us-headline {
  font-size: 2rem;
}

.webinar-main-text {
  font-size: 2.4rem;
}

.webinar-subjects-icon-container {
  width: 11rem;
  height: 11rem;
}

.webinar-subjects-icon {
  height: 7rem;
}

.webinar-subjects-icon-text,
.webinar-moderators-image-name {
  font-size: 2rem;
}

.webinar-moderators-image-container {
  width: 11.5rem;
  height: 11.5rem;
}

.webinar-moderators-image {
  height: 11rem;
}

.webinar-moderators-image-text {
  font-size: 1.6rem;
}

@media only screen and (min-width: 992px) {
  .btn-cta,
  .btn-cta--offcanvas,
  .invest-guide-btn,
  .blog-card-btn,
  .to-blog-btn,
  .section-headline-cta-btn,
  .share-btn,
  .error-btn {
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    outline: 2px solid;
    outline-color: #2078a9;
    outline-offset: 0px;
  }
  .btn-cta,
  .btn-cta--offcanvas {
    outline-color: #f28c38;
  }
  .btn-cta:hover,
  .btn-cta--offcanvas:hover,
  .invest-guide-btn:hover,
  .blog-card-btn:hover,
  .to-blog-btn:hover,
  .share-btn:hover,
  .error-btn:hover {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
    color: #ffffff;
    background-color: #2078a9;
    border-color: #2078a9;
    border: 1px solid #2078a9;
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 25px;
  }
  .btn-cta:hover,
  .btn-cta--offcanvas:hover {
    background-color: #f28c38;
    border-color: #f28c38;
    border: 1px solid #f28c38;
  }
  .btn-cta-white,
  .btn-cta-asset,
  .asset-pdf-btn,
  .mainpage-blog-card-btn {
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    outline: 2px solid;
    outline-color: #ffffff;
    outline-offset: 0px;
  }
  .btn-cta-white:hover,
  .btn-cta-asset:hover,
  .asset-pdf-btn:hover,
  .mainpage-blog-card-btn:hover {
    border: 1px solid;
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 25px;
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  .share-btn-white,
  .asset-favorite-btn-white,
  .btn-cta-mobile-white,
  .landing-contact-us-button,
  .landing-webinar-button,
  .btn-search,
  .contact-us-button,
  .asset-back-to-results-btn,
  .contact-us-fixed-expand-btn-container,
  .webinar-mainpage-text {
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .share-btn-white:hover,
  .asset-favorite-btn-white:hover,
  .btn-cta-mobile-white:hover,
  .landing-contact-us-button:hover,
  .landing-webinar-button:hover,
  .btn-search:hover,
  .contact-us-button:hover,
  .contact-us-fixed-expand-btn-container:hover,
  .webinar-mainpage-text:hover {
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
  }
  .section-headline-cta-btn:hover {
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 25px;
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
  }
  .asset-back-to-results-btn:hover {
    color: #ffffff;
    background-color: #2078a9;
    border-color: #ffffff;
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  .hero-icons-row {
    width: 70% !important;
  }
  .mainpage-search-container {
    display: block;
  }
  .mainpage-search-modal-open-btn-container {
    display: none;
  }
  .mainpage-search-headline {
    font-size: 3.4rem;
  }
  .en-mainpage-about-container {
    height: 75rem;
  }
  .en-mainpage-about-button-col {
    top: 80%;
  }
  .mainpage-rec-container {
    padding-bottom: 8rem;
  }
  .mainpage-howitworks-container {
    padding-bottom: 2rem;
  }
  .mainpage-why-bulgaria-bg-video-container {
    height: 50rem;
  }
  .invest-guide-btn-container {
    top: 85%;
  }
  .mainpage-hot-assets-container {
    padding: 1rem 0 !important;
  }
  .asset-card {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .asset-card:hover {
    -webkit-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  .asset-card-img {
    height: 26rem;
  }
  .asset-card-sold-badge,
  .asset-card-exclusive-badge {
    font-size: 2.4rem !important;
  }
  .mainpage-blog-card {
    height: 53rem !important;
  }
  .mainpage-blog-card-title-col {
    height: 20rem !important;
  }
  .mainpage-blog-card-text-col {
    height: 21rem !important;
  }
  .en-mainpage-blog-card {
    height: 65rem !important;
  }
  .en-mainpage-blog-card-title-col {
    height: 27rem !important;
  }
  .en-mainpage-blog-card-text-col {
    height: 28rem !important;
  }
  .ru-mainpage-blog-card {
    height: 79rem !important;
  }
  .ru-mainpage-blog-card-title-col {
    height: 34rem !important;
  }
  .ru-mainpage-blog-card-text-col {
    height: 35rem !important;
  }
  .search-container {
    display: block;
  }
  .search-modal-open-btn-container {
    display: none;
  }
  .search-headline-img {
    height: 65rem;
  }
  .search-container {
    top: 50%;
  }
  input[type=text]::-webkit-input-placeholder {
    font-size: 1.6rem;
  }
  input[type=text]::-moz-placeholder {
    font-size: 1.6rem;
  }
  input[type=text]:-ms-input-placeholder {
    font-size: 1.6rem;
  }
  input[type=text]::-ms-input-placeholder {
    font-size: 1.6rem;
  }
  input[type=text]::placeholder {
    font-size: 1.6rem;
  }
  .asset-search-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .asset-modal-open-btn-container {
    display: none;
  }
  .asset-search-container {
    margin: 2rem 0;
  }
  .asset-headline {
    margin-bottom: 2rem;
  }
  .asset-gallery-mainImage {
    height: 33rem;
  }
  .asset-gallery-carousel-item {
    height: 58rem !important;
  }
  .carousel-icon-container {
    background-color: rgba(255, 255, 255, 0.488) !important;
    padding: 0.8rem !important;
  }
  .asset-video {
    height: 35rem;
  }
  .qanda-headline-img,
  .invest-headline-img,
  .about-headline-img {
    height: 37rem;
  }
  .qanda-headline,
  .invest-headline,
  .about-headline {
    font-size: 4.2rem;
  }
  .qanda-cta-btn {
    width: 17rem !important;
    height: 5.6rem !important;
  }
  .about-cta-btn {
    width: 17rem !important;
    height: 5.6rem !important;
  }
  .en-about-partners-card {
    height: 65rem !important;
  }
  .about-partners-img {
    height: 30rem;
  }
  .blog-card {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .blog-card:hover {
    -webkit-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  .calendly-col {
    height: 137rem;
  }
  .ru-calendly-col {
    height: 145rem;
  }
  .calendly-text-container {
    top: 25%;
  }
  .ru-calendly-text-container {
    top: 27%;
  }
  .calendly-widget-container {
    top: 207%;
  }
  .en-calendly-widget-container {
    top: 199%;
  }
  .ru-calendly-widget-container {
    top: 192%;
  }
  .contact-us-container-fixed {
    width: 101% !important;
  }
  .btn-cta-mobile-white {
    width: 5rem;
    height: 5rem;
  }
  .invalid-tooltip-fixed {
    font-size: 1.2rem !important;
  }
  .pricing-card-basic,
  .pricing-card-plus,
  .pricing-card-premium {
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .pricing-card-basic:hover,
  .pricing-card-plus:hover,
  .pricing-card-premium:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
  .blog-content-mid-image {
    height: 50%;
    width: 50%;
  }
  .project-main-image-headline.project-main-image-headline-prestige-estates {
    position: absolute;
    top: 50%;
    left: 22%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-weight: 600;
    color: #ffffff;
  }
  .project-gallery-image {
    height: 20rem;
    width: 30rem;
  }
  .project-details-img {
    height: 50rem;
    width: 75rem;
  }
  .project-details-img-sofia-b5 {
    height: 50rem;
    width: 40rem;
  }
  .project-mid-image-container.project-mid-image-container-prestige-estates {
    position: relative;
    padding: 0 !important;
    background-image: linear-gradient(to right bottom, rgba(37, 48, 70, 0), rgba(37, 48, 70, 0)), url("https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-estates-images/1769597288463-prestige-estates-2.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 60rem;
    height: 60rem;
    width: 100%;
  }
  .project-installment-scheme-table {
    width: 90rem !important;
  }
  .footer-border {
    width: 18rem;
  }
  .landing-text-mobile-container,
  .landing-main-image-mobile-container,
  .landing-text-mobile-container,
  .landing-icons-mobile-container,
  .landing-contact-us-mobile-container {
    display: none;
  }
  .landing-text-large-container,
  .landing-main-image-large-container {
    display: block;
  }
  .landing-logo {
    height: 6rem;
  }
  .landing-main-image {
    height: 54.3rem;
  }
  .landing-icons-mobile-container,
  .landing-icons-container {
    margin: 2rem 0;
  }
  .landing-icon {
    height: 4rem;
  }
  .landing-icon-text {
    font-size: 1.6rem;
  }
  .landing-contact-us-headline {
    font-size: 1.6rem;
  }
  .alert {
    width: 50%;
  }
}
@media only screen and (min-width: 1200px) {
  .navbar-nav {
    width: 100%;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-container {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .navbar-call-us-text-container,
  .navbar-mobile-container,
  .mobile-asset-favorite-btn,
  .mobile-currency-dropdown-btn,
  .mobile-currency-collapse,
  .mobile-lang-dropdown-btn,
  .mobile-lang-collapse {
    display: none !important;
  }
  .nav-item {
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    padding: 0;
    border-top: none;
  }
  .nav-link {
    padding: 0 !important;
  }
  .btn__cta--container {
    margin: 0;
  }
  .btn-cta--offcanvas {
    border: 1px solid #f28c38 !important;
  }
  .offcanvas-active-link {
    color: none;
  }
  .nav-el {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s !important;
  }
  .nav-el:hover {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  .mobile-navbar-brand {
    display: none;
  }
  .assets-catalog-dropdown-btn {
    margin: 0 0.3rem 0 0 !important;
  }
  .assets-catalog-dropdown-menu,
  .projects-dropdown-menu,
  .commercial-dropdown-menu {
    background-color: #ffffff !important;
  }
  .assets-catalog-dropdown-item,
  .projects-dropdown-btn,
  .projects-dropdown-item,
  .commercial-dropdown-btn,
  .commercial-dropdown-item {
    color: #5c5e64 !important;
    margin: 0 !important;
    padding: 1rem 2rem 1rem 2rem !important;
  }
  .projects-dropdown-btn::after,
  .commercial-dropdown-btn::after {
    vertical-align: 0.2rem !important;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .en-projects-dropdown-btn::after,
  .en-commercial-dropdown-btn::after {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  .assets-catalog-dropdown-item:hover,
  .projects-dropdown-item:hover,
  .commercial-dropdown-item:hover {
    background-color: rgba(199, 223, 251, 0.4784313725) !important;
  }
  .dropdown-submenu {
    position: relative;
  }
  .assets-catalog-dropdown > .dropdown-menu {
    top: 100%;
    display: none;
  }
  .dropdown-submenu > .dropdown-menu {
    top: -11%;
    right: 95.5%;
    display: none;
  }
  .en-projects-dropdown-menu,
  .en-commercial-dropdown-menu {
    left: 95.5%;
    width: fit-content;
  }
  .assets-catalog-dropdown:hover > .dropdown-menu,
  .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }
  .currency-mobile-dropdown-btn {
    display: none;
  }
  .currency-nav-item,
  .lang-nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .laptop-navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .active-link {
    color: #2078a9 !important;
  }
  .nav-item:has(.active-link) {
    border-bottom: solid 2px #2078a9 !important;
    height: 3rem;
  }
  .hero-container {
    height: 55rem;
    background-position: center;
  }
  .hero-icons-row {
    width: 82% !important;
    top: 55%;
  }
  .hero-contact-us-row {
    top: 80%;
  }
  .en-hero-container {
    height: 70rem;
  }
  .ru-hero-container {
    height: 60rem;
  }
  .en-hero-text-col {
    top: 25%;
  }
  .en-hero-icons-row {
    top: 60%;
  }
  .en-hero-contact-us-col {
    top: 125%;
  }
  .en-mainpage-about-container {
    height: 67rem;
  }
  .ru-mainpage-about-container {
    height: 70rem;
  }
  .asset-card-img {
    height: 20rem;
  }
  .asset-card-sold-badge,
  .asset-card-exclusive-badge {
    font-size: 2rem !important;
  }
  .mainpage-reviews-img {
    height: 16rem;
    width: 16rem;
  }
  .carousel-control-prev {
    margin-left: 0rem;
  }
  .carousel-control-next {
    margin-right: 0rem;
  }
  .mainpage-blog-card {
    height: 47rem !important;
  }
  .mainpage-blog-card-title-col {
    height: 18rem !important;
  }
  .mainpage-blog-card-text-col {
    height: 18rem !important;
  }
  .en-mainpage-blog-card {
    height: 59rem !important;
  }
  .en-mainpage-blog-card-title-col {
    height: 23rem !important;
  }
  .en-mainpage-blog-card-text-col {
    height: 24rem !important;
  }
  .ru-mainpage-blog-card {
    height: 70rem !important;
  }
  .ru-mainpage-blog-card-title-col {
    height: 31rem !important;
  }
  .ru-mainpage-blog-card-text-col {
    height: 28rem !important;
  }
  .asset-gallery-mainImage {
    height: 43rem;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 7% !important;
  }
  .asset-gallery-zoomIn-icon {
    height: 6rem;
    width: 6rem;
  }
  .asset-map {
    height: 45rem;
  }
  .qanda-headline,
  .invest-headline,
  .about-headline {
    font-size: 4.8rem;
  }
  .qanda-cta-btn:hover,
  .about-cta-btn:hover {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .about-partners-card {
    height: 62rem !important;
  }
  .en-about-partners-card {
    height: 68rem !important;
  }
  .about-partners-img {
    height: 37rem;
  }
  .calendly-text-headline {
    font-size: 4.2rem;
  }
  .calendly-text {
    font-size: 2rem;
  }
  .calendly-widget-container {
    top: 205%;
  }
  .en-calendly-text-container {
    top: 27%;
  }
  .en-calendly-widget-container {
    top: 190%;
  }
  .ru-calendly-widget-container {
    top: 189%;
  }
  .contact-us-button-fixed {
    width: 17rem !important;
  }
  .contact-us-fixed-headline {
    margin-bottom: 0.1rem;
  }
  .invalid-tooltip-fixed {
    top: 74% !important;
  }
  .error-btn:hover {
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
  }
  .footer-row,
  .qanda-questions-accordion-row {
    max-width: 99.2rem;
    margin: auto !important;
  }
  .project-main-image-headline.project-main-image-headline-prestige-estates {
    position: absolute;
    top: 50%;
    left: 36%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-weight: 600;
    color: #ffffff;
    font-size: 10rem;
  }
  .project-gallery-image {
    height: 20rem;
    width: 37rem;
  }
  .project-details-img {
    height: 55rem;
    width: 85rem;
  }
  .project-details-img-sofia-b5 {
    height: 55rem;
    width: 45rem;
  }
  .project-mid-image-container.project-mid-image-container-prestige-estates {
    position: relative;
    padding: 0 !important;
    background-image: linear-gradient(to right bottom, rgba(37, 48, 70, 0), rgba(37, 48, 70, 0)), url("https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-estates-images/1769597288463-prestige-estates-2.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 70rem;
    height: 80rem;
    width: 100%;
  }
  .project-map {
    height: 45rem;
  }
  .project-installment-scheme-table {
    width: 110rem !important;
  }
  .landing-text {
    font-size: 2rem;
  }
  .landing-main-image {
    height: 53rem;
  }
  .webinar-headline-img {
    height: 73rem;
  }
  .webinar-headline {
    font-size: 4.2rem;
    width: 70rem;
  }
  .webinar-headline-text-top,
  .webinar-headline-text-bottom {
    font-size: 3.4rem;
  }
  .webinar-headline-text-top {
    top: 32%;
  }
  .webinar-headline-text-bottom {
    top: 38%;
  }
  .webinar-contact-us-top-container {
    top: 73%;
  }
  .webinar-contact-us-headline {
    font-size: 2.4rem;
  }
  .webinar-input-name,
  .webinar-input-phone,
  .webinar-input-email {
    width: 45rem !important;
  }
  .webinar-who-headline,
  .webinar-subjects-headline,
  .webinar-moderators-headline {
    font-size: 3.4rem;
  }
}
@media only screen and (min-width: 1400px) {
  .hero-container {
    max-width: 200rem;
    margin: auto !important;
  }
  .mainpage-hot-assets-row,
  .mainpage-howitworks-container,
  .pricing-cards-row,
  .search-results-filters-container,
  .search-results-container,
  .error-main-container {
    max-width: 140rem;
    margin: auto !important;
  }
  .qanda-questions-accordion-container,
  .about-container,
  .partners-container,
  .about-rec-row,
  .pricing-container,
  .search-container,
  .asset-search-container,
  .asset-headline-container,
  .asset-details-container,
  .asset-amenities-container,
  .asset-video-container,
  .asset-map-container,
  .asset-related-assets-container {
    max-width: 150rem;
    margin: auto !important;
  }
  .en-hero-container {
    height: 60rem;
  }
  .en-hero-contact-us-row {
    top: 83%;
  }
  .mainpage-about-container {
    height: 60rem;
  }
  .mainpage-about-text-col {
    top: 46%;
  }
  .mainpage-reviews-carousel-prev-icon {
    margin-left: -3rem;
  }
  .mainpage-reviews-carousel-next-icon {
    margin-right: -3rem;
  }
  .mainpage-blog-card {
    height: 41rem !important;
  }
  .mainpage-blog-card-title-col {
    height: 15rem !important;
  }
  .mainpage-blog-card-text-col {
    height: 15rem !important;
  }
  .en-mainpage-blog-card {
    height: 52rem !important;
  }
  .en-mainpage-blog-card-title-col {
    height: 22rem !important;
  }
  .en-mainpage-blog-card-text-col {
    height: 19rem !important;
  }
  .ru-mainpage-blog-card {
    height: 60rem !important;
  }
  .ru-mainpage-blog-card-title-col {
    height: 26rem !important;
  }
  .ru-mainpage-blog-card-text-col {
    height: 23rem !important;
  }
  .asset-gallery-thumbnail {
    height: 7rem;
    width: 12rem;
  }
  .carousel-control-prev,
  .carousel-control-next {
    margin: 0 2rem;
  }
  .asset-video {
    height: 40rem;
  }
  .about-partners-card {
    height: 58rem !important;
  }
  .en-about-partners-card {
    height: 75rem !important;
  }
  .about-partners-img {
    height: 20rem;
  }
  .contact-us-button-fixed {
    width: 20rem !important;
  }
  .contact-us-container-fixed {
    width: 101% !important;
  }
  .en-calendly-widget-container {
    top: 195%;
  }
  .project-main-image-headline.project-main-image-headline-prestige-estates {
    position: absolute;
    top: 50%;
    left: 25%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-weight: 600;
    color: #ffffff;
  }
  .project-gallery-image {
    height: 25rem;
    width: 43rem;
  }
  .project-mid-image-container.project-mid-image-container-prestige-estates {
    position: relative;
    padding: 0 !important;
    background-image: linear-gradient(to right bottom, rgba(37, 48, 70, 0), rgba(37, 48, 70, 0)), url("https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-estates-images/1769597288463-prestige-estates-2.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 90rem;
    height: 100rem;
    width: 100%;
  }
  .project-installment-scheme-table-col {
    overflow-x: auto !important;
  }
  .landing-logo {
    height: 8rem;
  }
  .landing-text {
    font-size: 2.4rem;
  }
  .landing-main-image {
    height: 48.7rem;
  }
  .webinar-headline {
    top: 12%;
  }
  .webinar-headline-text-top {
    top: 29%;
  }
  .webinar-headline-text-bottom {
    top: 35%;
  }
  .webinar-contact-us-top-container {
    top: 71%;
  }
  .webinar-main-text {
    font-size: 3.4rem;
  }
}/*# sourceMappingURL=queries.css.map */