nav.navbar.navbar-expand-xl.fixed-top
  .container-fluid.navbar-container
    .row.mobile-navbar-row
      .col-4.mobile-navbar-col.align-content-center.text-center.text-sm-start
        a.navbar-brand.mobile-navbar-brand(href='/en')
          img.navbar-logo.mobile-navbar-logo(src='/img/logo.png' alt='Estates logo')   
      .col-4.mobile-navbar-col.align-content-center.text-center
        div.navbar-call-us-text-container
          img.navbar-mobile-icon.en-navbar-mobile-icon(src='/img/icons/navbar-mobile-phone-white.svg' alt='Phone Icon' loading='lazy') 
          span.navbar-call-us-text Call: 
          br
          span.navbar-call-us-text(href="tel:0546398138") 054-639-8138
      .col-4.mobile-navbar-col.align-content-center.text-center.text-sm-end
        button.navbar-toggler.collapsed(type='button' data-bs-toggle='offcanvas' data-bs-target='#navbarContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Open links menu')
          span.navbar-toggler-icon
    div.offcanvas.offcanvas-start.w-auto(tabindex='-1' id='navbarContent' aria-labelledby='offcanvasNavbarLabel')
      div.offcanvas-body
        div.btn-cta--container.text-center
          button.btn-cta.btn-cta--offcanvas.to-calendly-btn(aria-label='Open contact us page') Contact Us
        div.text-center  
          button.mobile-asset-favorite-btn
            img.header-favorite-btn-icon(src='/img/icons/heart-empty-svgrepo-com-outline-white.svg' alt='Heart icon') 
          button.btn.btn-secondary.dropdown-toggle.lang-dropdown-btn.mobile-lang-dropdown-btn(type='button' data-bs-toggle='collapse' data-bs-target="#langBtnCollapse" aria-expanded="false" aria-controls="langBtnCollapse" aria-label='Choose language')
            img.navbar-lang-icon.mobile-navbar-active-lang-icon(src='' alt='')      
          button.btn.btn-secondary.dropdown-toggle.currency-dropdown-btn.mobile-currency-dropdown-btn(type='button' data-bs-toggle='collapse' data-bs-target="#currencyBtnCollapse" aria-expanded="false" aria-controls="currencyBtnCollapse" aria-label='Choose currency')
            img.navbar-currency-icon.mobile-navbar-active-currency-icon(src='' alt='')   
          .row
            .col-7.mobile-lang-collapse-col-en
              div.collapse.multi-collapse.mobile-lang-collapse(id="langBtnCollapse")
                img.navbar-lang-icon.mobile-navbar-first-not-active-lang-icon.en-mobile-navbar-not-active-lang-icon(src='' alt='' loading='lazy')       
              div.collapse.multi-collapse.mobile-lang-collapse(id="langBtnCollapse")
                img.navbar-lang-icon.mobile-navbar-second-not-active-lang-icon.en-mobile-navbar-not-active-lang-icon(src='' alt='' loading='lazy')       
            .col-2.p-0
              div.collapse.multi-collapse.mobile-currency-collapse(id="currencyBtnCollapse")
                img.navbar-currency-icon.mobile-navbar-not-active-currency-icon.en-mobile-navbar-not-active-currency-icon(src='' alt='' loading='lazy')       
        ul.navbar-nav.en-navbar-nav.align-items-xl-center.justify-content-xl-evenly
          li.nav-item.en-nav-item
            a.nav-link.nav-el.homepage-link(href='/en') Home
          li.nav-item.en-nav-item.dropdown.assets-catalog-dropdown
            a.nav-link.dropdown-toggle.assets-catalog-dropdown-btn(role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label='Open properties catalog') Catalog
            ul.dropdown-menu.assets-catalog-dropdown-menu
              li
                a.nav-link.dropdown-item.assets-catalog-dropdown-item.text-start(href='/en/search') Property Search
              li.dropdown-submenu.projects-dropdown
                a.nav-link.dropdown-item.dropdown-toggle.projects-dropdown-btn.en-projects-dropdown-btn(role="button" aria-expanded="false") Projects
                ul.dropdown-menu.projects-dropdown-menu.en-projects-dropdown-menu
                  li.dropdown-submenu.projects-dropdown
                    a.nav-link.dropdown-item.dropdown-toggle.projects-dropdown-btn.en-projects-dropdown-btn.project-burgas-dropdown-btn(role="button" aria-expanded="false") City 1
                    ul.dropdown-menu.projects-dropdown-menu.en-projects-dropdown-menu
                      li
                        a.nav-link.dropdown-item.projects-dropdown-item(data-slug='prestige-estates') Prestige Estates
                  li.dropdown-submenu.projects-dropdown
                    a.nav-link.dropdown-item.dropdown-toggle.projects-dropdown-btn.en-projects-dropdown-btn.project-sveti-dropdown-btn(role="button" aria-expanded="false") City 2
                    ul.dropdown-menu.projects-dropdown-menu.en-projects-dropdown-menu  
                      li
                        a.nav-link.dropdown-item.projects-dropdown-item(data-slug='prestige-estates') Prestige Estates
                      li
                        a.nav-link.dropdown-item.projects-dropdown-item(data-slug='prestige-estates') Prestige Estates
                      li
                        a.nav-link.dropdown-item.projects-dropdown-item(data-slug='prestige-estates') Prestige Estates
                      li
                        a.nav-link.dropdown-item.projects-dropdown-item(data-slug='prestige-estates') Prestige Estates
                  li.dropdown-submenu.projects-dropdown
                    a.nav-link.dropdown-item.dropdown-toggle.projects-dropdown-btn.en-projects-dropdown-btn.project-nessebar-dropdown-btn(role="button" aria-expanded="false") City 3
                    ul.dropdown-menu.projects-dropdown-menu.en-projects-dropdown-menu  
                      li
                        a.nav-link.dropdown-item.projects-dropdown-item(data-slug='prestige-estates') Prestige Estates     
                  li.dropdown-submenu.projects-dropdown
                    a.nav-link.dropdown-item.dropdown-toggle.projects-dropdown-btn.en-projects-dropdown-btn.project-sunny-dropdown-btn(role="button" aria-expanded="false") City 4
                    ul.dropdown-menu.projects-dropdown-menu.en-projects-dropdown-menu  
                      li      
                        a.nav-link.dropdown-item.projects-dropdown-item(data-slug='prestige-estates') Prestige Estates
                  li.dropdown-submenu.projects-dropdown
                    a.nav-link.dropdown-item.dropdown-toggle.projects-dropdown-btn.en-projects-dropdown-btn.project-sinemorets-dropdown-btn(role="button" aria-expanded="false") City 5
                    ul.dropdown-menu.projects-dropdown-menu.en-projects-dropdown-menu  
                      li      
                        a.nav-link.dropdown-item.projects-dropdown-item(data-slug='prestige-estates') Prestige Estates
          li.nav-item.en-nav-item
            a.nav-link.nav-el(href='/en/qanda') Q&A
          li.nav-item.en-nav-item
            a.nav-link.nav-el(href='/en/invest') Investment Guide
          li.nav-item.en-nav-item
            a.nav-link.nav-el(href='/en/about') About Us
          li.nav-item.en-nav-item
            a.nav-link.nav-el.blog-nav-link Blog
          li.nav-item.en-nav-item
            a.nav-link.nav-el(href='/en/pricing') Pricing
          li.nav-item.en-nav-item
            button.asset-favorite-btn
              img.header-favorite-btn-icon(src='/img/icons/heart-empty-svgrepo-com-outline.svg' alt='Heart icon' loading='lazy') 
          li.nav-item.en-nav-item.lang-nav-item
            .dropdown
              button.btn.btn-secondary.dropdown-toggle.lang-dropdown-btn.lang-dropdown-btn(type='button' data-bs-toggle='dropdown' aria-expanded="false" aria-label='Choose language')
                img.navbar-lang-icon.navbar-active-lang-icon(src='/img/icons/placeholder-thin-svgrepo-com-white.svg' alt='' loading='lazy')    
              ul.dropdown-menu.lang-dropdown-menu
                li.lang-dropdown-menu-item 
                  img.navbar-lang-icon.navbar-first-not-active-lang-icon(src='' alt='' loading='lazy')      
                li.lang-dropdown-menu-item 
                  img.navbar-lang-icon.navbar-second-not-active-lang-icon(src='' alt='' loading='lazy')          
          li.nav-item.en-nav-item.currency-nav-item  
            .dropend
              button.btn.btn-secondary.dropdown-toggle.currency-dropdown-btn(type='button' data-bs-toggle='dropdown' aria-expanded='false' aria-label='Choose currency')
                img.navbar-currency-icon.navbar-active-currency-icon(src='/img/icons/placeholder-thin-svgrepo-com-white.svg' alt='' loading='lazy')   
              ul.dropdown-menu.currency-dropdown-menu
                li.currency-dropdown-menu-item 
                  img.navbar-currency-icon.navbar-not-active-currency-icon(src='' alt='' loading='lazy')  
    a.navbar-brand.laptop-navbar-brand(href='/en')
      img.navbar-logo(src='/img/logo.png' alt= 'Estates logo')     