extends base 

block head
    title Meet The Team | Dira Bulgarit
    meta(name="description" content="Dira Bulgarit team will accompany you all the way to a profitable and stable real estate investment in Bulgaria.")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.co.il/en/about")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/en/about" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/about" hreflang="he")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/ru/about" hreflang="ru")

    meta(property="og:title" content="Meet The Team | Dira Bulgarit")
    meta(property="og:description" content="Dira Bulgarit team will accompany you all the way to a profitable and stable real estate investment in Bulgaria.")
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../he/_headLinksScripts

block content

    .container-fluid
        .row.about-headline-row
            .col.about-headline-col 
                img.about-headline-img(src='/img/sectionCover-4.webp' alt='Image of Burgas Bulgaria') 
                h1.about-headline About Us
                button.section-headline-cta-btn.to-calendly-btn(aria-label='Go to contact us page') Contact Us

    .container-fluid.about-container                        
        .row.about-row.d-flex.align-items-center.justify-content-center.mx-4
            .col-12.col-md-10.col-xxl-6.about-text-col.my-4
                h2.about-text-name(dir='ltr') Dror Salomon
                h3.about-text-role(dir='ltr') Content Manager & Owner
                div.about-text(dir='ltr') Holder of a B.A. in Psychology, I have spent the last five years specializing in programming and web development. 
                div.about-text(dir='ltr') The difficulty of purchasing real estate at a sane price in our country leads many young couples and singles in their 20s, 30s, and 40s to abandon the dream, accepting the fact that they may never own property and will be forced to live with the instability of renting. The local real estate market is undergoing many upheavals due to factors such as supply shortages, wars, and a lack of labor in the construction industry, making the dream of homeownership almost impossible for many of us. 
                div.about-text(dir='ltr') So, if you are interested in international real estate investment, <strong>contact us and schedule a video meeting at your convenience. We will do everything we can to answer every question and guide you toward your desired property</strong>.
            .col-12.col-md-10.col-xxl-6.about-img-col.text-center
                img.about-img.img-fluid(src='/img/dror.webp' alt='Photo of Dror Salomon, Content Manager and Owner') 

    .container-fluid.mainpage-rec-container            
        .row.mx-4.justify-content-center
            .col-12.mainpage-rec-maintext-col.text-center
                h2.mainpage-rec-tag Recommendations   
                h3.mainpage-rec-headline What Our Customers Say About Us
            .col-12.col-md-10.reviews-carousel-col           
                #reviewsCarousel.carousel.slide.text-center.reviews-carousel(data-bs-touch='true' data-bs-interval='15000' data-bs-ride='carousel')
                    .carousel-inner.reviews-carousel-inner    
                        .carousel-item.active.reviews-carousel-item.en-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/avatar-img-1.webp' alt='Photo of reviewer Marina P.' loading='lazy')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name(dir='ltr') Nahum Rubin
                                        div.mainpage-reviews-prof(dir='ltr') Construction Supervisor
                                        div.mainpage-reviews-review.fst-italic(dir='ltr') "Excellent service experience! I found an amazing property abroad with the help of the site's professional team — personal, reliable, and efficient guidance all the way."
                        .carousel-item.reviews-carousel-item.en-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/avatar-img-2.webp' alt='Photo of reviewer Guzal' loading='lazy')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name(dir='ltr') Alon Cohen
                                        div.mainpage-reviews-prof(dir='ltr') Software Developer
                                        div.mainpage-reviews-review.fst-italic(dir='ltr') "I didn't think the process of buying property abroad could be so simple! The site helped me find an apartment that was exactly what I was looking for and provided answers to every question – from the initial check to signing the contract. Highly recommend to anyone interested in investing in real estate around the world."
                        .carousel-item.reviews-carousel-item.en-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/avatar-img-3.webp' alt='Photo of reviewer Alex N.' loading='lazy')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name(dir='ltr') Karin Green
                                        div.mainpage-reviews-prof(dir='ltr') Interior Designer
                                        div.mainpage-reviews-review.fst-italic(dir='ltr') "After long searches for a profitable investment abroad, I reached this site and quickly realized I had come to the right place. The team was patient, professional, and available at all times – they helped me understand the local market, checked various options for me, and introduced me to reliable professionals in the target country. Ultimately, I purchased a property yielding an excellent return, and I definitely plan to invest through them again in the future. Thanks for world-class service!"
                    button.carousel-control-prev(type='button' data-bs-target='#reviewsCarousel' data-bs-slide='prev')
                        span.carousel-control-prev-icon.mainpage-reviews-carousel-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                    button.carousel-control-next(type='button' data-bs-target='#reviewsCarousel' data-bs-slide='next')
                        span.carousel-control-next-icon.mainpage-reviews-carousel-next-icon(aria-hidden='true')
                        span.visually-hidden Next     
            .col-12.text-center.my-5   
                button.btn-cta.pricing-cta-btn.to-calendly-btn(aria-label='Go to contact us page') Contact Us      

    include _contactUsFixed  
    include _contactUsFixedMobile                       

                                            