extends base 

block head
    title Accessibility Policy | Dira Bulgarit
    meta(name="description" content="Accessibility Policy | Dira Bulgarit")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.co.il/en/accessibility")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/en/accessibility" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/accessibility" hreflang="he")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/ru/accessibility" hreflang="ru")

    meta(property="og:title" content="Accessibility Policy | Dira Bulgarit")
    meta(property="og:description" content="Accessibility Policy | Dira Bulgarit")
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../he/_headLinksScripts

block content

    .container-fluid.accessibility-container
        .row.accessibility-headline-row.justify-content-center 
            .col-10.accessibility-headline-col 
                h1.accessibility-headline Accessibility Policy
        .row.accessibility-row.justify-content-center 
            .col-10.accessibility-text-col
                h2.accessibility-text-headline Introduction
                div.accessibility-text The Estates team considers the accessibility of the site as a top value in order to provide our variety of customers with the most pleasant and successful browsing experience. We are aware that in the State of Israel there are about a million people who are dealing with a certain disability and we would like to provide them with the necessary support when they visit our website.
                h2.accessibility-text-headline Site Accessibility
                div.accessibility-text We have invested a lot of effort to ensure that our website is accessible according to the recommendations of the Israeli standard 5568 at level AA and the international WCAG 2.0 document.
                div.accessibility-text The website has implemented the accessibility bar of the enable company which helps the user to make various changes to the website, and may help in its accessibility according to his disability.
                h2.accessibility-text-headline How Does The Accessibility Bar Work?
                div.accessibility-text To open the accessibility bar, the user must press the open button on the left side of the screen or by pressing the ESC key.
                div.accessibility-text The button is blue and can be identified by an illustration of a person in a wheelchair.
                div.accessibility-text <strong>In the accessibility menu you can find the following options:</strong>
                div.accessibility-text •	Navigation using the keyboard.
                div.accessibility-text •	Canceling the flashing on the site.
                div.accessibility-text •	Changing the colors of the site to monochromats.
                div.accessibility-text •	Changing the colors of the site to sepia tones.
                div.accessibility-text •	Changing the website colors to high contrast colors.
                div.accessibility-text •	Changing the colors of the site to black and yellow only.
                div.accessibility-text •	Inverting site colors.
                div.accessibility-text •	Highlighting all the titles on the site.
                div.accessibility-text •	Highlight all the links on the site.
                div.accessibility-text •	Displaying the alt description on the website.
                div.accessibility-text •	Making the alt description on the site permanent.
                div.accessibility-text •	Changing the font to a readable font.
                div.accessibility-text •	Increase the font size.
                div.accessibility-text •	Decrease the font size.
                div.accessibility-text •	Zoom in.
                div.accessibility-text •	Zoom out.
                div.accessibility-text •	Increase the mouse cursor.
                div.accessibility-text •	Changing the color of the mouse cursor to black.
                div.accessibility-text •	Reading mode.           
                h2.accessibility-text-headline Important To Know
                div.accessibility-textWe We do everything we can to make our site accessible to a wide range of people with disabilities, but despite that, there may be different parts or components of the site that are not 100% accessible.
                div.accessibility-text If you have found any part of our website that is not accessible according to your needs, and therefore you are blocked from using that part, we would greatly appreciate it if you contact us through the contact details listed below and we will do our best to solve the accessibility problem.
                h2.accessibility-text-headline Contacting the accessibility coordinator on the site
                div.accessibility-text <strong>Name:</strong> Dror Salomon
                div.accessibility-text <strong>Phone:</strong> 054-639-8138
                div.accessibility-text <strong>Email:</strong> 
                    a(href='mailto:drorsal3@gmail.com' aria-label='Dror Salomon E-mail') drorsal3@gmail.com
                br
                div.accessibility-text The accessibility statement was updated on 27.5.2025