extends base 

block head
    title Real Estate Investments in Bulgaria: hundreds of investments properties and opportunities | Dira Bulgarit
    meta(name="description" content='Real estate investments in Bulgaria are only made with Dira Bulgarit! A company that offers hundreds of properties and apartments for investment in Bulgaria, and professional support from the search phase to receiving the property key. For more details click >>')
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.co.il/en")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/en" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.co.il" hreflang="he")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/ru" hreflang="ru")

    meta(property="og:title" content="Real Estate Investments in Bulgaria: hundreds of investments properties and opportunities | Dira Bulgarit")
    meta(name='description' content='Real estate investments in Bulgaria are only made with Dira Bulgarit! A company that offers hundreds of properties and apartments for investment in Bulgaria, and professional support from the search phase to receiving the property key. For more details click >>')
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../he/_headLinksScripts

block content 
    
    .container-fluid.hero-container.en-hero-container(role="img" aria-labelledby="heroDescription")
        .row.d-flex.align-items-center.justify-content-center                    
            .col-10.col-lg-8.hero-text-col.en-hero-text-col
                .hero-border
                h1.hero-headline Real Estate Investments
                .hero-border.hero-bottom-border
                div.hero-text Estates - The largest real estate website in Israel
        .row.hero-icons-row.en-hero-icons-row
            .col-6.col-xl-3.hero-icon-col
                img.hero-icon(src='/img/icons/house-svgrepo-com-hero-white.svg' alt='House icon' loading='lazy') 
                .hero-icon-text(dir='rtl') Hundreds of properties of all kinds
            .col-6.col-xl-3.hero-icon-col 
                img.hero-icon(src='/img/icons/lighthouse-svgrepo-com-hero-white.svg' alt='Lighthouse icon' loading='lazy') 
                .hero-icon-text(dir='rtl') Full guidance throughout the investment process
            .col-6.col-xl-3.hero-icon-col
                img.hero-icon(src='/img/icons/stats-real-estate-svgrepo-com-hero-white.svg' alt='House and graph icon' loading='lazy') 
                .hero-icon-text(dir='rtl') Stable and attractive investment profits        
            .col-6.col-xl-3.hero-icon-col
                img.hero-icon(src='/img/icons/money-bag-euro-svgrepo-com-hero-white.svg' alt='Euro money bag icon' loading='lazy') 
                .hero-icon-text(dir='rtl') Investment in an EU member developing country  
        .row.hero-contact-us-row.en-hero-contact-us-row       
            .col-10.col-lg-8.hero-contact-us-col      
                button.btn-cta-white.to-calendly-btn(aria-label='Open the Contact Us page') Contact Us         

    div.mainpage-search-modal-open-btn-container.text-center
        h2.mainpage-search-headline Property Search
        div.mainpage-search-text Press the search button and find a property to your liking
        button.mainpage-search-modal-open-btn(data-bs-toggle="modal" data-bs-target="#searchModal" aria-label='Open property search modal') Open Search   

    .container.d-flex.justify-content-center
        .mainpage-search-container.w-75   
            h2.mainpage-search-headline.text-center Property Search
            include _searchForm

        include _searchModal  

    .container-fluid.mainpage-hot-assets-container
        .row.mainpage-hot-assets-row.justify-content-center
            .col-12.mainpage-hot-assets-headline-col
                .row.text-center
                    h2.mainpage-hot-assets-tag Recommended   
                    h3.mainpage-hot-assets-headline Hot Investment Opportunities
            each asset in hotAssets
                include _assetsCards
        .row.mobile-mainpage-hot-assets-row.justify-content-center.mx-1         
            .col-12.mainpage-hot-assets-headline-col
                .row.text-center
                    div.mainpage-hot-assets-tag Recommended  
                    div.mainpage-hot-assets-headline Hot Investment Opportunities
            each asset in hotAssets
                include _mobileAssetsCards       

    .container-fluid.mainpage-about-container.en-mainpage-about-container.overflow-hidden(role="img" aria-labelledby="aboutUsImageDescription")
        span.visually-hidden(id="aboutUsImageDescription") Image of houses located on an alcove of the black sea in Burgas
        .row.mainpage-about-row.align-items-center
            .col-10.col-lg-8.mainpage-about-text-col
                h2.mainpage-about-tag About Us
                h3.mainpage-about-headline Estates
                div.mainpage-about-text A professional and highly experienced team - accompanies Israeli investors on the path to successful investments in the real estate market. Support from the stage of interest to receiving the key.
            .col-10.col-lg-8.mainpage-about-button-col.en-mainpage-about-button-col.my-md-5.my-lg-1
                .row.justify-content-center 
                    .col-12.col-sm-4.my-4
                        button.btn-cta-white.to-about-btn Meet The Team   

    .container-fluid.d-flex.mainpage-howitworks-container 
        .row.mainpage-howitworks-row.align-items-center.justify-content-center.mx-4
            .col-12.mainpage-howitworks-maintext--col
                h2.mainpage-howitworks-label The Process
                h3.mainpage-howitworks-mainheadline How It Works    
                div.mainpage-howitworks-maintext Estates personally and individually accompanies its clients throughout the entire process of purchasing the property, from the search phase to the closing phase    
            .col-12.col-md-6.col-xl-6.col.mainpage-howitworks-steps--col
                div.mainpage-howitworks-icon--background
                    svg.bi.mainpage-howitworks-icon(aria-labelledby="howItWorkIconClipboard")
                        title(id="howItWorkIconClipboard") Sketch board with a heart in its center icon
                        use(xlink:href='/img/icons/clipboard.svg#clipboard')
                div.mainpage-howitworks-headline Needs & Preferences      
                div.mainpage-howitworks-text We will hold a video meeting with you to understand your needs and preferences      
            .col-12.col-md-6.col-xl-6.col.mainpage-howitworks-steps--col
                div.mainpage-howitworks-icon--background
                    svg.bi.mainpage-howitworks-icon(aria-labelledby="howItWorkIconBinoculars")
                        title(id="howItWorkIconBinoculars") Binoculars icon
                        use(xlink:href='/img/icons/binoculars.svg#binoculars')
                div.mainpage-howitworks-headline Property Locating     
                div.mainpage-howitworks-text We will present you a variety of properties according to your preferred criteria     
            .col-12.col-md-6.col-xl-6.col.mainpage-howitworks-steps--col
                div.mainpage-howitworks-icon--background
                    svg.bi.mainpage-howitworks-icon(aria-labelledby="howItWorkIconHouse")
                        title(id="howItWorkIconHouse") House Icon
                        use(xlink:href='/img/icons/house.svg#house')
                div.mainpage-howitworks-headline Property Tour    
                div.mainpage-howitworks-text We will accompany you on the ground and tour all the properties that you liked     
            .col-12.col-md-6.col-xl-6.col.mainpage-howitworks-steps--col
                div.mainpage-howitworks-icon--background
                    svg.bi.mainpage-howitworks-icon(aria-labelledby="howItWorkIconSearch")
                        title(id="howItWorkIconSearch") Magnifying glass icon
                        use(xlink:href='/img/icons/search.svg#search')
                div.mainpage-howitworks-headline Legal Review      
                div.mainpage-howitworks-text We will conduct a comprehensive legal review of the property with the help of our legal advice in Bulgaria     

    .container-fluid.mainpage-why-bulgaria-container
        .row.mainpage-why-bulgaria-row.align-items-center.justify-content-center 
            .col.mainpage-why-bulgaria-col
                div.mainpage-why-bulgaria-bg-video-container(role="img" aria-labelledby="whyBulgariaDescription")
                    video(muted loop loading="lazy" data-src="/videos/burgas-video-1080p.mp4").mainpage-why-bulgaria-bg-video
                    span.visually-hidden(id="whyBulgariaDescription") A video that shows the city of Burgas from a bird's eye view
                div.mainpage-why-bulgaria-text-container.w-75.text-center       
                    h2.mainpage-why-bulgaria-tag Investment          
                    h3.mainpage-why-bulgaria-headline Why Real Estate?
                    div.mainpage-why-bulgaria-text The economy is constantly growing, thanks in part to increased investment and global market development. Real estate prices in many places around the world are still relatively affordable, and in certain areas you can enjoy a high rental yield – especially in major cities and tourist hotspots. We have prepared a detailed investment guide for you to help you take the first steps towards the right and most profitable deal.
                div.invest-guide-btn-container.en-invest-guide-btn-container.my-xxs-4.my-xs-2.my-md-4.my-lg-1
                    button.invest-guide-btn Investment Guide

    .container-fluid.mainpage-rec-container            
        .row.mx-4.justify-content-center
            .col-12.mainpage-rec-maintext-col.text-center
                h2.mainpage-rec-tag Recommendations   
                h3.mainpage-rec-headline What Our Customers Say About Us
            .col-12.col-md-10.reviews-carousel-col           
                #reviewsCarousel.carousel.slide.text-center.reviews-carousel(data-bs-touch='true' data-bs-interval='15000' data-bs-ride='carousel')
                    .carousel-inner.reviews-carousel-inner    
                        .carousel-item.active.reviews-carousel-item.en-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/avatar-img-1.webp' alt='Photo of reviewer Marina P.' loading='lazy')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name(dir='ltr') Nahum Rubin
                                        div.mainpage-reviews-prof(dir='ltr') Construction Supervisor
                                        div.mainpage-reviews-review.fst-italic(dir='ltr') "Excellent service experience! I found an amazing property abroad with the help of the site's professional team — personal, reliable, and efficient guidance all the way."
                        .carousel-item.reviews-carousel-item.en-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/avatar-img-2.webp' alt='Photo of reviewer Guzal' loading='lazy')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name(dir='ltr') Alon Cohen
                                        div.mainpage-reviews-prof(dir='ltr') Software Developer
                                        div.mainpage-reviews-review.fst-italic(dir='ltr') "I didn't think the process of buying property abroad could be so simple! The site helped me find an apartment that was exactly what I was looking for and provided answers to every question – from the initial check to signing the contract. Highly recommend to anyone interested in investing in real estate around the world."
                        .carousel-item.reviews-carousel-item.en-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/avatar-img-3.webp' alt='Photo of reviewer Alex N.' loading='lazy')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name(dir='ltr') Karin Green
                                        div.mainpage-reviews-prof(dir='ltr') Interior Designer
                                        div.mainpage-reviews-review.fst-italic(dir='ltr') "After long searches for a profitable investment abroad, I reached this site and quickly realized I had come to the right place. The team was patient, professional, and available at all times – they helped me understand the local market, checked various options for me, and introduced me to reliable professionals in the target country. Ultimately, I purchased a property yielding an excellent return, and I definitely plan to invest through them again in the future. Thanks for world-class service!"
                    button.carousel-control-prev(type='button' data-bs-target='#reviewsCarousel' data-bs-slide='prev')
                        span.carousel-control-prev-icon.mainpage-reviews-carousel-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                    button.carousel-control-next(type='button' data-bs-target='#reviewsCarousel' data-bs-slide='next')
                        span.carousel-control-next-icon.mainpage-reviews-carousel-next-icon(aria-hidden='true')
                        span.visually-hidden Next    

    .container-fluid.mainpage-pricing-container.justify-content-center              
        .row.mx-4.justify-content-center.mainpage-pricing-headline-row
            .col-12.pricing-maintext-col.text-center
                h2.pricing-tag For Your Choice 
                h3.mainpage-pricing-headline Pricing                       
        .row.justify-content-center.pricing-cards-row         
            .col-12.col-sm-7.col-md-6.col-lg-4.col-xl-4.col-xxl-3.mx-xxl-5.p-xxs-0.p-med-1
                .card.pricing-card-basic
                    .card-body
                        .container-fluid
                            .row.pricing-card-body-row
                                .col-12
                                    .card-title.pricing-card-main-title Base
                                    .card-title.pricing-card-secondary-title Property locating and paperwork Collection
                                    .card-title.pricing-card-tertiary-title 3000€ + Tax
                                .col-12.my-5
                                    div.card-text-container.d-flex.align-content-center.py-3
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon') 
                                        span.pricing-card-text Property location by customer demands
                                    div.card-text-container.d-flex.align-content-center.py-3       
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sing icon')
                                        span.pricing-card-text Physical or on-line property tour
                                    div.card-text-container.d-flex.align-content-center.py-3
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon')
                                        span.pricing-card-text Property legal check
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon')
                                        span.pricing-card-text Property legal paperwork collection
                                    div.card-text-container.d-flex.align-content-center.py-3  
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='X sign icon')
                                        span.pricing-card-text Writing initial contract with a lawyer
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='אייקון שלי איקס')
                                        span.pricing-card-text Writing and signing final contract with notary
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='X sign icon')
                                        span.pricing-card-text Opening a bank account with the customer
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='X sign icon')                                      
                                        span.pricing-card-text Renting and managing the property
            .col-12.col-sm-7.col-md-6.col-lg-4.col-xl-4.col-xxl-3.mx-xxl-5
                .card.pricing-card-plus
                    .card-body
                        .container-fluid
                            .row.pricing-card-body-row
                                .col-12
                                    .card-title.pricing-card-main-title Plus
                                    .card-title.pricing-card-secondary-title Final contract and opening a bank account
                                    .card-title.pricing-card-tertiary-title 3990€ + Tax
                                .col-12.my-5
                                    div.card-text-container.d-flex.align-content-center.py-3
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon') 
                                        span.pricing-card-text Property location by customer demands
                                    div.card-text-container.d-flex.align-content-center.py-3       
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sing icon')
                                        span.pricing-card-text Physical or on-line property tour
                                    div.card-text-container.d-flex.align-content-center.py-3
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon')
                                        span.pricing-card-text Property legal check
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon')
                                        span.pricing-card-text Property legal paperwork collection
                                    div.card-text-container.d-flex.align-content-center.py-3  
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sing icon')
                                        span.pricing-card-text Writing initial contract with a lawyer
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon')
                                        span.pricing-card-text Writing and signing final contract with notary
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon')
                                        span.pricing-card-text Opening a bank account with the customer
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='X sign icon')                                    
                                        span.pricing-card-text Renting and managing the property
            .col-12.col-sm-7.col-md-6.col-lg-4.col-xl-4.col-xxl-3.mx-xxl-5
                .card.pricing-card-premium
                    .card-body
                        .container-fluid
                            .row.pricing-card-body-row
                                .col-12.justify-content-center.pricing-premium-col 
                                    .span.badge.en-pricing-premium-badge Best Value
                                    .card-title.pricing-card-main-title Premium
                                    .card-title.pricing-card-secondary-title Full customer service and property management
                                    .card-title.pricing-card-tertiary-title 4990€ + Tax
                                .col-12.my-5
                                    div.card-text-container.d-flex.align-content-center.py-3
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon') 
                                        span.pricing-card-text Property location by customer demands
                                    div.card-text-container.d-flex.align-content-center.py-3       
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sing icon')
                                        span.pricing-card-text Physical or on-line property tour
                                    div.card-text-container.d-flex.align-content-center.py-3
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon')
                                        span.pricing-card-text Property legal check
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon')
                                        span.pricing-card-text Property legal paperwork collection
                                    div.card-text-container.d-flex.align-content-center.py-3  
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sing icon')
                                        span.pricing-card-text Writing initial contract with a lawyer
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon')
                                        span.pricing-card-text Writing and signing final contract with notary
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon')
                                        span.pricing-card-text Opening a bank account with the customer
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon')    
                                        span.pricing-card-text Renting and managing the property
            .col-12.en-mainpage-pricing-btn-container.text-center  
                button.btn-cta.pricing-cta-btn.to-calendly-btn(aria-label='Go to contact us page') Contact Us

    .container-fluid.mainpage-blog-container
        .row.mainpage-blog-headline-row.d-felx.justify-content-center
            .col-12.mainpage-blog-headline-col
                .row.text-center
                    h2.mainpage-blog-tag Important To Know
                    h3.mainpage-blog-headline Selected Articles From Our Blog 
        .row.mainpage-blog-cards-row.d-felx.justify-content-center.flex-md-row-reverse.mx-4 
            .col-12.col-md-6.col-lg-3
                .card.mainpage-blog-card.en-mainpage-blog-card.py-3
                    .card-body
                        .container-fluid
                            .row.mainpage-blog-card-body-row.text-center
                                .col-12.mainpage-blog-card-title-col.en-mainpage-blog-card-title-col.justify-content-center.align-content-center
                                    img.mainpage-blog-icon(src='/img/icons/israel-shekel-currency-symbol-svgrepo-com-white.svg' alt='Icon of the flag of Israel')
                                    .card-title.mainpage-blog-card-title The reasons for Bulgaria's popularity among Israeli property buyers
                                .col-12.mainpage-blog-card-text-col.en-mainpage-blog-card-text-col.my-2
                                    div.d-flex.align-content-center.justify-content-end.py-3 
                                        span.mainpage-blog-card-text Considering the most popular countries for purchasing property abroad among Israelis, it is worth highlighting Bulgaria. Beautiful seascapes, a mild climate, a large number of attractions and architectural monuments attract Israeli citi...
                                .col-12.my-2        
                                    button.mainpage-blog-card-btn(data-slug="The-reasons-for-Bulgarias-popularity-among-Israeli-property-buyers") Continue Reading
            .col-12.col-md-6.col-lg-3
                .card.mainpage-blog-card.en-mainpage-blog-card.py-3
                    .card-body
                        .container-fluid
                            .row.mainpage-blog-card-body-row.text-center
                                .col-12.mainpage-blog-card-title-col.en-mainpage-blog-card-title-col.justify-content-center.align-content-center
                                    img.mainpage-blog-icon(src='/img/icons/graph-property-svgrepo-com-white.svg' alt='Icon of a graph with houses at each column')
                                    .card-title.mainpage-blog-card-title Comprehensive property price analysis in Bulgaria for 2024 
                                .col-12.mainpage-blog-card-text-col.en-mainpage-blog-card-text-col.my-2
                                    div.d-flex.align-content-center.justify-content-end.py-3 
                                        span.mainpage-blog-card-text Compared to other European countries, Bulgaria is small but very interesting. Bulgaria is a popular destination among tourists because of its picturesque landscapes, fascinating architecture, gentle seas and snow-capped peaks. An inexh...
                                .col-12.my-2.align-content-end      
                                    button.mainpage-blog-card-btn(data-slug="Property-price-analysis-in-Bulgaria-in-2024") Continue Reading
            .col-12.col-md-6.col-lg-3
                .card.mainpage-blog-card.en-mainpage-blog-card.py-3
                    .card-body
                        .container-fluid
                            .row.mainpage-blog-card-body-row.text-center
                                .col-12.mainpage-blog-card-title-col.en-mainpage-blog-card-title-col.justify-content-center.align-content-center
                                    img.mainpage-blog-icon(src='/img/icons/mountaint-landscape-svgrepo-com-white.svg' alt='Icon of a sunny sky above mountains')
                                    .card-title.mainpage-blog-card-title A comprehensive look at the quality of life in Bulgaria       
                                .col-12.mainpage-blog-card-text-col.en-mainpage-blog-card-text-col.my-2
                                    div.d-flex.align-content-center.justify-content-end.py-3 
                                        span.mainpage-blog-card-text Bulgaria is a good country to live in. It has a mild climate, clean ecology, mesmerizing landscapes and many resorts and very friendly and welcoming residents. People visiting Bulgaria often talk about the amazing beauty of nature. In every city...
                                .col-12.my-2        
                                    button.mainpage-blog-card-btn(data-slug="Embrace-Bulgaria-a-comprehensive-look-at-the-quality-of-life-in-the-country") Continue Reading
            .col-12.col-md-6.col-lg-3
                .card.mainpage-blog-card.en-mainpage-blog-card.py-3
                    .card-body
                        .container-fluid
                            .row.mainpage-blog-card-body-row.text-center
                                .col-12.mainpage-blog-card-title-col.en-mainpage-blog-card-title-col.justify-content-center.align-content-center
                                    img.mainpage-blog-icon(src='/img/icons/house-thumbs-up-svgrepo-com-white.svg' alt='Icon of a house doing a like sign inside of it')
                                    div.card-title.mainpage-blog-card-title In which type of property should you invest in Bulgaria?      
                                .col-12.mainpage-blog-card-text-col.en-mainpage-blog-card-text-col.my-2
                                    div.d-flex.align-content-center.justify-content-end.py-3 
                                        span.mainpage-blog-card-text Bulgaria is a good country for investment. With a relatively low cost of housing, Bulgaria has great leisure potential, moreover, since 2007 it is a member of the European Union. Any foreigner can buy apartments in Bulgaria freely, but there...
                                .col-12.my-2        
                                    button.mainpage-blog-card-btn(data-slug="What-type-of-property-should-you-invest-in-Bulgaria") Continue Reading
        .row.mainpage-blog-btn-row.d-felx.justify-content-center
            .col-12.text-center.py-3    
                button.to-blog-btn Blog Page  

    .container-fluid.mainpage-contact-us-container
        .row.mainpage-contact-us-headline-row.d-felx.justify-content-center
            .col-12.col-md-10.col-xl-8.mainpage-contact-us-headline-col
                .row.text-center
                    h2.mainpage-contact-us-tag Contact Us
                    h3.mainpage-contact-us-headline Enter Your Contact Information And One Of Our Representatives will Get Back To You As Soon As Possible
        .row.mainpage-contact-us-row.d-felx.justify-content-center.mx-4
            .col-12.col-md-10.col-xl-8.mainpage-contact-us-col.text-center 
                div#crmWebToEntityForm.crmWebToEntityForm
                    form.contact-us-form#webform6296617000000479035(action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads6296617000000479035 method='POST' accept-charset='UTF-8' novalidate)
                        input(type='text' style='display:none;' name='xnQsjsdp' value='c9ef63b049adde9dd26f5acb21dc87ed1cff806c5954f97aa4908339c68a8469')
                        input#zc_gad(type='hidden' name='zc_gad' value='')
                        input(type='text' style='display:none;' name='xmIwtLD' value='901545bd25a6f11e8753daa2bb5bdc4a62c942986fe3a3b3123340dde1be1461ada4f129bad2cf0112fb24bc402fd5af')
                        input(type='text' style='display:none;' name='actionType' value='TGVhZHM=')
                        input(type='text' style='display:none;' name='returnURL' value='https://www.dirabulgarit.co.il/en/contact-us-confirm')
                        input.contact-us-honeypot-input(type='text' name='bot_check' style='display:none;' value='')
                        .row.contact-us-row.align-items-center
                            .col-12.contact-us-col.d-flex.justify-content-end
                                input.contact-us-input.contact-us-name-input.form-control.en-search-filter-input(type='text' name='Last Name' maxlength="50" pattern='[A-Za-zА-Яа-яЁёא-ת\\s\'\\-]{2,50}' placeholder='Name' aria-label='Name' aria-describedby='basic-addon1' required)                            
                                .invalid-tooltip Please enter a name
                            .col-12.contact-us-col.d-flex.justify-content-end
                                input.contact-us-input.contact-us-phone-input.form-control.en-search-filter-input(type='text' name='Phone' maxlength="12" pattern='((02|03|04|08|09)[0-9]{7})|(((05[0-57-9])|(07[2-4,6-9])|(08[1,7,9])|(09[2-5,7,9])|(170)|(171)|(177)|(444)|(447))[0-9]{7})|(972((5[0-57-9])|(7[2-4,6-9])|(8[1,7,9])|(9[2-5,7,9])|(170)|(171)|(177)|(444)|(447))[0-9]{7})|(972(2|3|4|8|9)[0-9]{7})' placeholder='Phone' aria-label='Phone' aria-describedby='basic-addon1' required)
                                .invalid-tooltip.contact-us-phone-invalid Please enter a valid phone number
                            .col-12.contact-us-col.d-flex.justify-content-end 
                                input.contact-us-input.contact-us-email-input.form-control.en-search-filter-input(type='email' ftype='email' autocomplete='false' name='Email' crmlabel='' maxlength='100' placeholder='Email  ' aria-label='Email' aria-describedby='basic-addon1' pattern='^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$' required)
                                .invalid-tooltip.contact-us-email-invalid Please enter a valid Email address
                            .col-12.contact-us-col.contact-us-last-col.d-flex.justify-content-end     
                                textarea.contact-us-textarea.contact-us-description-input.form-control.en-search-filter-input(id='Description' name='Description' aria-label="Request Description" rows="5" placeholder='Is there anything else you would like us to know?')
                            .col-12.contact-us-col.d-flex.align-items-start.align-items-sm-center
                                input.contact-us-checkbox-en(type='checkbox' aria-checked='false' class='zcwf_ckbox' id='Email_Opt_Out' aria-required='false' aria-label='Email Opt Out' name='Email Opt Out' aria-valuemax='50' maxlength='50')
                                span.webinar-form-check-top-label.form-check-label(for='flexCheckDefault') I consent to receiving relevant information regarding real estate in Bulgaria, which may occasionally be promotional
                            .col-12.contact-us-col
                                input.contact-us-button.mx-3(type='submit' id='formsubmit' class='formsubmit zcwf_button' value='Send' title='Submit')                                                                   
                                input.contact-us-button.mx-3(type='reset' class='zcwf_button' name='reset' value='Clear' title='Reset')    

    include _contactUsFixed  
    include _contactUsFixedMobile                                
