extends base 

block head
    title Confidentiality And Privacy | Dira Bulgarit
    meta(name="description" content="Confidentiality And Privacy | Dira Bulgarit")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.co.il/en/privacy")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/en/privacy" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/privacy" hreflang="he")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/ru/privacy" hreflang="ru")

    meta(property="og:title" content="Confidentiality And Privacy | Dira Bulgarit")
    meta(property="og:description" content="Confidentiality And Privacy | Dira Bulgarit")
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../he/_headLinksScripts

block content

    .container-fluid.privacy-container
        .row.privacy-headline-row.justify-content-center 
            .col-10.privacy-headline-col 
                h1.privacy-headline Confidentiality And Privacy
        .row.privacy-row.justify-content-center 
            .col-10.privacy-text-col
                div.termsOfService-text-headline Introduction
                div.privacy-text At Estates ("we", "our"), we are committed to protecting your privacy. This privacy policy explains how we collect, use and protect your information when you visit our website.
                div.termsOfService-text-headline Data Collection
                div.privacy-text we use Google Analytics to gather statistical data about users on our website, such as the number of visitors, duration of visits, pages viewed, and the source of traffic. This information is collected anonymously and helps us analyze and improve the website.
                div.privacy-text We use cookies to improve your user experience. We collect personal information that you voluntarily provide through our "Contact Us" section and when you make appointments through Calendly. This includes:
                div.privacy-text •	Name
                div.privacy-text •	Email Address
                div.privacy-text •	Phone Number
                div.termsOfService-text-headline Data Usage
                div.privacy-text We use the information we collect to:
                div.privacy-text •	Respond to your inquiries and provide customer support.
                div.privacy-text •	Facilitate communication regarding real estate records.
                div.privacy-text •	Coordinate and manage meetings through Calendly.
                div.privacy-text •	Analyze and improve the user experience on our website using Google Analytics.
                div.termsOfService-text-headline Data Sharing
                div.privacy-text We do not sell, trade, or transfer your personal information to outside parties unless necessary to provide our services (eg, using Calendly to schedule appointments).
                div.privacy-text Regarding Google Analytics, we share data with Google to enable statistical analysis, in accordance with Google’s privacy policy.
                div.termsOfService-text-headline Data Security
                div.privacy-text We implement a variety of security measures to protect your personal information. However, no method of transmission over the Internet or electronic storage is 100% secure.
                div.termsOfService-text-headline Third Party Services
                div.privacy-text Our website uses Google Analytics to perform statistical analysis of site activity in accordance with their privacy policy, which we encourage you to review. <a href="https://support.google.com/analytics/answer/7318509?hl=en" target="_blank">https://support.google.com/analytics/answer/7318509?hl=en</a>
                div.privacy-text Our website uses Calendly to manage appointments. Calendly's use of your personal information is subject to their privacy policy, which we encourage you to review. <a href="https://calendly.com/legal/customer-terms-conditions" target="_blank">https://calendly.com/legal/customer-terms-conditions</a>
                div.termsOfService-text-headline Your Rights
                div.privacy-text You have the right to:
                div.privacy-text •	Request the deletion of your personal information.
                div.privacy-text •	Opt out of the processing of your personal information.
                div.privacy-text To exercise these rights, please contact us at drorsal3@gmail.com
                div.termsOfService-text-headline Changes In Our Privacy Policy
                div.privacy-text We may update this privacy policy from time to time. We will notify you of any changes by posting the new privacy policy on this page. Your continued use of the site after these changes constitutes your acceptance of the new privacy policy.
                div.termsOfService-text-headline Contact Us
                div.privacy-text If you have any questions about this privacy policy, please contact us at: drorsal3@gmail.com
                