extends base 

block head
    title Terms Of Service | Dira Bulgarit
    meta(name="description" content="Terms Of Service | Dira Bulgarit")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.co.il/en/terms-of-service")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/en/terms-of-service" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/terms-of-service" hreflang="he")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/ru/terms-of-service" hreflang="ru")

    meta(property="og:title" content="Terms Of Service | Dira Bulgarit")
    meta(property="og:description" content="Terms Of Service | Dira Bulgarit")
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../he/_headLinksScripts

block content

    .container-fluid.termsOfService-container
        .row.termsOfService-headline-row.justify-content-center 
            .col-10.termsOfService-headline-col 
                h1.termsOfService-headline Terms Of Service
        .row.termsOfService-row.justify-content-center 
            .col-10.termsOfService-text-col
                div.termsOfService-text-headline Introduction
                div.termsOfService-text Welcome to Estates (the "Site"). These terms and conditions (the "Terms") govern your use of our website. By accessing or using our website, you agree to comply with and be bound by these terms. If you do not agree to these terms, you must not use our website.
                div.termsOfService-text-headline Services
                div.termsOfService-text Our website offers real estate listings and assists Israeli clients in investing and purchasing real estate in Bulgaria. We provide information and facilitate communication between buyers and sellers but do not act as real estate brokers.
                div.termsOfService-text-headline Website Use
                div.termsOfService-text •	You agree to use the Site for lawful purposes only.
                div.termsOfService-text •	You may not use the site in a way that causes or may cause damage to the site or impair the availability or accessibility of the site.
                div.termsOfService-text •	You agree not to use the information found on the site for commercial purposes.
                div.termsOfService-text-headline Intellectual Property
                div.termsOfService-text All content on the site, including text, graphics, logos and images, is the property of Estates or its content suppliers and is protected by international copyright laws.
                div.termsOfService-text-headline Limitation of Liability
                div.termsOfService-text We are not responsible for any direct, indirect, incidental or consequential damages arising out of or related to the use of our website. This includes any errors or omissions in the content provided on the site.
                div.termsOfService-text-headline External Links
                div.termsOfService-text Our website may contain links to third party websites. We are not responsible for the content or practices of these sites.
                div.termsOfService-text-headline Changes To Conditions
                div.termsOfService-text We reserve the right to change the terms at any time. Any changes will be posted on this page and your continued use of the site after these changes constitutes your acceptance of the new terms.
                div.termsOfService-text-headline The Applied Law
                div.termsOfService-text These terms are governed and construed in accordance with the laws of the State of Israel and any dispute related to these terms will be under the exclusive jurisdiction of the courts of the State of Israel.