footer
    .container-fluid.footer-container
        .row.footer-row.flex-sm-row-reverse.d-flex.justify-content-evenly
            .col-12.footer-logo-col.text-end
                img.footer-logo-img(src='/img/logo-white.png' alt='Estates logo')
            .col-12.col-sm-6.col-xl-3.footer-col.footer-links-col
                div.footer-headline דירה בולגרית
                div.footer-border-container.d-flex.justify-content-end
                    div.footer-border
                div.footer-link-container                                     
                    a.footer-link(href='/' dir='rtl') עמוד ראשי
                div.footer-link-container     
                    a.footer-link(href='/search' dir='rtl') חיפוש נכס
                div.footer-link-container     
                    a.footer-link.footer-project-link(data-slug='prestige-estates' dir='rtl') Prestige Estates
                div.footer-link-container     
                    a.footer-link(href='/qanda' dir='rtl') שאלות ותשובות
                div.footer-link-container     
                    a.footer-link(href='/invest' dir='rtl') מדריך השקעה    
                div.footer-link-container     
                    a.footer-link(href='/about' dir='rtl') מי אנחנו   
                div.footer-link-container     
                    a.footer-link(href='/blog' dir='rtl') חשוב לדעת   
                div.footer-link-container     
                    a.footer-link(href='/pricing' dir='rtl') מחירון  
                div.footer-link-container     
                    a.footer-link(href='/contact-us' dir='rtl') צרו קשר  
            .col-12.col-sm-6.col-xl-3.footer-col.footer-links-col  
                div.footer-headline מאמרים נבחרים
                div.footer-border-container.d-flex.justify-content-end
                    div.footer-border
                div.footer-link-container                                     
                    a.footer-link(href='/blog/apartments-for-sale-in-sofia-bulgaria' dir='rtl') דירות למכירה בסופיה בולגריה
                div.footer-link-container     
                    a.footer-link(href='/blog/apartments-for-sale-in-burgas-bulgaria' dir='rtl') דירות למכירה בבורגס בולגריה
                div.footer-link-container     
                    a.footer-link(href='/blog/apartments-for-sale-in-sunny-beach-bulgaria' dir='rtl') דירות למכירה בסאני ביץ' בולגריה
                div.footer-link-container     
                    a.footer-link(href='/blog/apartments-for-sale-in-varna-bulgaria' dir='rtl') דירות למכירה בוארנה בולגריה
                div.footer-link-container     
                    a.footer-link(href='/blog/villas-for-sale-in-bulgaria' dir='rtl') וילות למכירה בבולגריה
                div.footer-link-container     
                    a.footer-link(href='/blog/The-reasons-for-Bulgarias-popularity-among-Israeli-property-buyers' dir='rtl') משקיעים ישראלים בבולגריה
                div.footer-link-container     
                    a.footer-link(href='/blog/Property-price-analysis-in-Bulgaria-in-2024' dir='rtl') מחירי הנכסים בבולגריה 2024            
                div.footer-link-container     
                    a.footer-link(href='/blog/What-type-of-property-should-you-invest-in-Bulgaria' dir='rtl') סוגי נכסים בבולגריה               
                div.footer-link-container     
                    a.footer-link(href='/blog/The-best-places-to-live-in-Bulgaria' dir='rtl') המקומות הטובים ביותר למגורים בבולגריה              
                div.footer-link-container     
                    a.footer-link(href='/blog/Obtaining-Bulgarian-citizenship-what-are-the-advantages' dir='rtl') קבלת אזרחות בולגרית, מה היתרונות?             
                div.footer-link-container     
                    a.footer-link(href='/blog/Residence-permit-for-investment-in-Bulgaria-2024' dir='rtl') אישור שהייה להשקעה בבולגריה 2024             
                div.footer-link-container     
                    a.footer-link(href='/blog/real-estate-investments-in-bulgaria' dir='rtl') השקעות נדל"ן בבולגריה             
                div.footer-link-container     
                    a.footer-link(href='/blog/real-estate-investments-in-europe' dir='rtl') השקעות נדל"ן באירופה             
                div.footer-link-container     
                    a.footer-link(href='/blog/real-estate-investments-abroad' dir='rtl') השקעות נדל"ן בחו"ל            
                div.footer-link-container     
                    a.footer-link(href='/blog/real-estate-opportunities-abroad' dir='rtl') הזדמנויות נדל"ן בחו"ל            
            .col-12.col-sm-6.col-xl-3.footer-col.footer-links-col  
                div.footer-headline פוליסות
                div.footer-border-container.d-flex.justify-content-end
                    div.footer-border
                div.footer-link-container                                     
                    a.footer-link(href='/terms-of-service' dir='rtl') תקנון האתר
                div.footer-link-container     
                    a.footer-link(href='/privacy' dir='rtl') מדיניות פרטיות
                div.footer-link-container     
                    a.footer-link(href='/accessibility' dir='rtl') הצהרת נגישות
                div.footer-link-container     
                    a.footer-link(href='/site-map' dir='rtl') מפת האתר
            .col-12.col-sm-6.col-xl-3.footer-col
                div.footer-headline צרו קשר
                div.footer-border-container.d-flex.justify-content-end
                    div.footer-border
                div.footer-text-container  
                    span.footer-text(dir='rtl') החרוב 10, תל אביב
                    img.footer-icon(src='/img/icons/address-location-map-svgrepo-com-white.svg' alt='אייקון של כתובת')
                div.footer-text-container   
                    span.footer-text דרור סלומון 
                    a.footer-phone(href="tel:0546398183") 054-639-8138
                    img.footer-icon(src='/img/icons/phone-svgrepo-com-white.svg' alt='אייקון של טלפון') 
                div.footer-text-container   
                    a.footer-text(href='mailto:drorsal3@gmail.com' aria-label='Dror Salomon E-mail' dir='rtl') drorsal3@gmail.com
                    img.footer-icon(src='/img/icons/email-9-svgrepo-com-white.svg' alt='אייקון של אימייל')         
                div.footer-social.my-4(dir='rtl')
                    a(href='https://www.linkedin.com/in/dror-salomon-542867199/' aria-label='Dror Salomon Linkedin' target="_blank")
                        img.footer-social-icon(src='/img/icons/linkedin-svgrepo-com.svg' alt='אייקון של לינקדאין')   
                    a(href='https://www.facebook.com/dror.salomon/' aria-label='Dror Salomon Facebook' target="_blank")
                        img.footer-social-icon(src='/img/icons/facebook-color-svgrepo-com.svg' alt='אייקון של פייסבוק')  
                    a(href='' aria-label='Youtube' target="_blank")
                        img.footer-social-icon(src='/img/icons/youtube-color-svgrepo-com.svg' alt='אייקון של יוטיוב')   
                    a(href='' aria-label='Instagram' target="_blank")
                        img.footer-social-icon(src='/img/icons/instagram-1-svgrepo-com.svg' alt='אייקון של אינסטגרם') 

        .row.footer-copyright-row
            .col-12.footer-copyright-col.text-center
                div.footer-copyright-text(dir='rtl') כל הזכויות שמורות לדרור סלומון &copy; #{new Date().getFullYear()} (האתר הוא לצורך המחשה בלבד ואינו מכיל נכסים ותכנים אמיתיים)
                                    
                    