nav.navbar.navbar-expand-xl.fixed-top  
  .container-fluid.navbar-container
    .row.mobile-navbar-row
      .col-4.mobile-navbar-col.align-content-center.text-center.text-sm-start
        button.navbar-toggler.collapsed(type='button' data-bs-toggle='offcanvas' data-bs-target='#navbarContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='פתיחת תפריט קישורים')
          span.navbar-toggler-icon
      .col-4.mobile-navbar-col.align-content-center.text-center
        div.navbar-call-us-text-container
          span.navbar-call-us-text(dir='rtl') התקשרו: 
          img.navbar-mobile-icon(src='/img/icons/navbar-mobile-phone-white.svg' alt='Phone Icon' loading='lazy') 
          br
          a.navbar-call-us-text(href="tel:0546398183") 054-639-8138
      .col-4.mobile-navbar-col.align-content-center.text-end
        a.navbar-brand.mobile-navbar-brand(href='/')
          img.navbar-logo.mobile-navbar-logo(src='/img/logo.png' alt='לוגו של Estates')  
    div.offcanvas.offcanvas-end.w-auto.text-end(tabindex='-1' id='navbarContent' aria-labelledby='offcanvasNavbarLabel')
      div.offcanvas-body
        div.btn-cta--container
          button.btn-cta.btn-cta--offcanvas.to-calendly-btn(aria-label='מעבר לעמוד יצירת קשר') צרו קשר
        button.mobile-asset-favorite-btn
          img.header-favorite-btn-icon(src='/img/icons/heart-empty-svgrepo-com-outline-white.svg' alt='Heart icon' loading='lazy') 
        button.btn.btn-secondary.dropdown-toggle.lang-dropdown-btn.mobile-lang-dropdown-btn(type='button' data-bs-toggle='collapse' data-bs-target="#langBtnCollapse" aria-expanded="false" aria-controls="langBtnCollapse")
          img.navbar-lang-icon.mobile-navbar-active-lang-icon(src='' alt='' loading='lazy')     
        button.btn.btn-secondary.dropdown-toggle.currency-dropdown-btn.mobile-currency-dropdown-btn(type='button' data-bs-toggle='collapse' data-bs-target="#currencyBtnCollapse" aria-expanded="false" aria-controls="currencyBtnCollapse" aria-label='בחירת מטבע לתצוגה באתר')
          img.navbar-currency-icon.mobile-navbar-active-currency-icon(src='' alt='' loading='lazy')   
        .row
          .col.mobile-lang-collapse-col
            div.collapse.multi-collapse.mobile-lang-collapse(id="langBtnCollapse")
              img.navbar-lang-icon.mobile-navbar-first-not-active-lang-icon(src='' alt='' loading='lazy')  
            div.collapse.multi-collapse.mobile-lang-collapse(id="langBtnCollapse")       
              img.navbar-lang-icon.mobile-navbar-second-not-active-lang-icon(src='' alt='' loading='lazy')       
          .col-4.p-0
            div.collapse.multi-collapse.mobile-currency-collapse(id="currencyBtnCollapse")
              img.navbar-currency-icon.mobile-navbar-not-active-currency-icon(src='' alt='' loading='lazy')       
        ul.navbar-nav.align-items-xl-center.justify-content-xl-evenly
          li.nav-item
            button.asset-favorite-btn
              img.header-favorite-btn-icon(src='/img/icons/heart-empty-svgrepo-com-outline.svg' alt='אייקון של לב' loading='lazy') 
          li.nav-item.lang-nav-item
            .dropdown
              button.btn.btn-secondary.dropdown-toggle.lang-dropdown-btn.lang-dropdown-btn(type='button' data-bs-toggle='dropdown' aria-expanded="false" aria-label='בחירת שפה לתצוגה באתר')
                img.navbar-lang-icon.navbar-active-lang-icon(src='/img/icons/placeholder-thin-svgrepo-com-white.svg' alt='' loading='lazy')    
              ul.dropdown-menu.lang-dropdown-menu
                li.lang-dropdown-menu-item 
                  img.navbar-lang-icon.navbar-first-not-active-lang-icon(src='' alt='' loading='lazy')         
                li.lang-dropdown-menu-item 
                  img.navbar-lang-icon.navbar-second-not-active-lang-icon(src='' alt='' loading='lazy')         
          li.nav-item.currency-nav-item  
            .dropend
              button.btn.btn-secondary.dropdown-toggle.currency-dropdown-btn(type='button' data-bs-toggle='dropdown' aria-expanded='false' aria-label='בחירת מטבע לתצוגה באתר')
                img.navbar-currency-icon.navbar-active-currency-icon(src='/img/icons/placeholder-thin-svgrepo-com-white.svg' alt='' loading='lazy')   
              ul.dropdown-menu.currency-dropdown-menu
                li.currency-dropdown-menu-item 
                  img.navbar-currency-icon.navbar-not-active-currency-icon(src='' alt='' loading='lazy') 
          li.nav-item
            a.nav-link.nav-el(href='/pricing') מחירון
          li.nav-item
            a.nav-link.nav-el.blog-nav-link חשוב לדעת
          li.nav-item
            a.nav-link.nav-el(href='/about') מי אנחנו
          li.nav-item
            a.nav-link.nav-el(href='/invest') מדריך השקעה
          li.nav-item
            a.nav-link.nav-el(href='/qanda') שאלות ותשובות
          li.nav-item.dropdown.assets-catalog-dropdown
            a.nav-link.dropdown-toggle.assets-catalog-dropdown-btn(role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label='פתיחת תפריט פרויקטים' dir='rtl') קטלוג נכסים
            ul.dropdown-menu.assets-catalog-dropdown-menu
              li
                a.nav-link.dropdown-item.assets-catalog-dropdown-item.text-end(href='/search') חיפוש נכס
              li.dropdown-submenu.projects-dropdown
                a.nav-link.dropdown-item.dropdown-toggle.projects-dropdown-btn.text-end(role="button" aria-expanded="false" dir='rtl') פרויקטים
                ul.dropdown-menu.projects-dropdown-menu.text-start
                  li.dropdown-submenu.projects-dropdown
                    a.nav-link.dropdown-item.dropdown-toggle.projects-dropdown-btn.project-burgas-dropdown-btn.text-end(role="button" aria-expanded="false" dir='rtl') עיר 1
                    ul.dropdown-menu.projects-dropdown-menu.text-start
                      li
                        a.nav-link.dropdown-item.projects-dropdown-item(data-slug='prestige-estates') Prestige Estates
                  li.dropdown-submenu.projects-dropdown
                    a.nav-link.dropdown-item.dropdown-toggle.projects-dropdown-btn.project-sveti-dropdown-btn.text-end(role="button" aria-expanded="false" dir='rtl') עיר 2
                    ul.dropdown-menu.projects-dropdown-menu.text-start        
                      li
                        a.nav-link.dropdown-item.projects-dropdown-item(data-slug='prestige-estates') Prestige Estates
                      li
                        a.nav-link.dropdown-item.projects-dropdown-item(data-slug='prestige-estates') Prestige Estates
                      li
                        a.nav-link.dropdown-item.projects-dropdown-item(data-slug='prestige-estates') Prestige Estates
                      li
                        a.nav-link.dropdown-item.projects-dropdown-item(data-slug='prestige-estates') Prestige Estates
                  li.dropdown-submenu.projects-dropdown
                    a.nav-link.dropdown-item.dropdown-toggle.projects-dropdown-btn.project-nessebar-dropdown-btn.text-end(role="button" aria-expanded="false" dir='rtl') עיר 3
                    ul.dropdown-menu.projects-dropdown-menu.text-start        
                      li
                        a.nav-link.dropdown-item.projects-dropdown-item(data-slug='prestige-estates') Prestige Estates
                  li.dropdown-submenu.projects-dropdown
                    a.nav-link.dropdown-item.dropdown-toggle.projects-dropdown-btn.project-sunny-dropdown-btn.text-end(role="button" aria-expanded="false" dir='rtl') עיר 4
                    ul.dropdown-menu.projects-dropdown-menu.text-start        
                      li
                        a.nav-link.dropdown-item.projects-dropdown-item(data-slug='prestige-estates') Prestige Estates
                  li.dropdown-submenu.projects-dropdown
                    a.nav-link.dropdown-item.dropdown-toggle.projects-dropdown-btn.project-sinemorets-dropdown-btn.text-end(role="button" aria-expanded="false" dir='rtl') עיר 5
                    ul.dropdown-menu.projects-dropdown-menu.text-start        
                      li
                        a.nav-link.dropdown-item.projects-dropdown-item(data-slug='prestige-estates') Prestige Estates
          li.nav-item
            a.nav-link.nav-el.homepage-link(href='/') בית
    a.navbar-brand.laptop-navbar-brand(href='/')
      img.navbar-logo(src='/img/logo.png' alt='לוגו של Estates')    