extends base 

block head
    title הכירו את הצוות | Estates
    meta(name="description" content="צוות דירה בולגרית ילווה אתכם כל הדרך להשקעת נדל\"ן מניבה ויציבה בבולגריה.")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.co.il/about")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/en/about" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/about" hreflang="he")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/ru/about" hreflang="ru")

    meta(property="og:title" content="הכירו את הצוות | Estates")
    meta(property="og:description" content="צוות דירה בולגרית ילווה אתכם כל הדרך להשקעת נדל\"ן מניבה ויציבה בבולגריה.")
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include _headLinksScripts

block content

    .container-fluid
        .row.about-headline-row
            .col.about-headline-col 
                img.about-headline-img(src='/img/sectionCover-4.webp' alt='תמונה של בורגס בולגריה') 
                h1.about-headline(dir='rtl') מי אנחנו
                button.section-headline-cta-btn.to-calendly-btn(aria-label='מעבר לעמוד יצירת קשר') צרו קשר

    .container-fluid.about-container                        
        .row.about-row.d-flex.align-items-center.justify-content-center.mx-4
            .col-12.col-md-10.col-xxl-6.about-text-col.my-4
                h2.about-text-name(dir='rtl') דרור סלומון
                h3.about-text-role(dir='rtl')  אחראי תוכן ובעלים
                div.about-text(dir='rtl') בוגר תואר ראשון בפסיכולוגיה ומתעסק בחמשת השנים האחרונות בתחום התכנות ובניית אתרים. 
                div.about-text(dir='rtl') הקושי בקניית נדל"ן ובמחיר שפוי במדינתנו מביא רבים מהזוגות הצעירים והרווקים בגילאי ה20, 30 ו40 לזנוח את החלום ולהשלים עם העובדה שכנראה לא יהיו בעלי נכס ויאלצו לחיות בשכירות בלתי יציבה. שוק הנדל"ן בארץ עובר תהפוכות רבות עקב סיבות כמו חוסר בעצה, מלחמות וחוסר בידיים עובדות בשוק הבנייה אשר הופכות את החלום לרכוש בית לכמעט בלתי אפשרי עבור רבים מאיתנו. 
                div.about-text(dir='rtl') אז אם אתם מתעניינים בהשקעת נדל"ן בחו"ל <strong>צרו איתנו קשר וקבעו פגישת וידאו בזמן שנוח לכם ונעשה כל שנוכל כדי לענות על כל שאלה וללוותכם לנכס הנחשק</strong>.
            .col-12.col-md-10.col-xxl-6.about-img-col.text-center
                img.about-img.img-fluid(src='/img/dror.webp' alt='תמונה של אחראי התוכן והבעלים של דירה בולגרית דרור סלומון')  

    .container-fluid.mainpage-rec-container            
        .row.mx-4.justify-content-center
            .col-12.mainpage-rec-maintext-col.text-center
                h2.mainpage-rec-tag המלצות 
                h3.mainpage-rec-headline מה אומרים עלינו
            .col-12.col-md-10.reviews-carousel-col           
                #reviewsCarousel.carousel.slide.text-center.reviews-carousel(data-bs-touch='true' data-bs-interval='15000' data-bs-ride='carousel')
                    .carousel-inner.reviews-carousel-inner
                        .carousel-item.active.reviews-carousel-item.he-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/avatar-img-1.webp' alt='תמונה של הממליצה מרינה פ' loading='lazy')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name(dir='rtl') נחום רובין
                                        div.mainpage-reviews-prof(dir='rtl') מפקח בנייה
                                        div.mainpage-reviews-review.fst-italic(dir='rtl') "חוויית שירות מצוינת! מצאתי נכס מדהים בחו"ל בעזרת הצוות המקצועי של האתר — ליווי אישי, אמין ויעיל לאורך כל הדרך."
                        .carousel-item.reviews-carousel-item.he-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/avatar-img-2.webp' alt='תמונה של הממליצה גוזל' loading='lazy')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name(dir='rtl') אלון כהן
                                        div.mainpage-reviews-prof(dir='rtl') מתכנת
                                        div.mainpage-reviews-review.fst-italic(dir='rtl') "לא חשבתי שתהליך רכישת נכס בחו"ל יכול להיות כל כך פשוט! האתר סייע לי למצוא דירה שמתאימה בדיוק למה שחיפשתי, ונתן מענה לכל שאלה – מהבדיקה הראשונית ועד חתימת החוזה. ממליץ בחום לכל מי שמעוניין להשקיע בנדל"ן ברחבי העולם."
                        .carousel-item.reviews-carousel-item.he-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/avatar-img-3.webp' alt='תמונה של הממליץ אלכס נ' loading='lazy')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name(dir='rtl') קארין גרין
                                        div.mainpage-reviews-prof(dir='rtl') מעצבת פנים
                                        div.mainpage-reviews-review.fst-italic(dir='rtl') "לאחר חיפושים ממושכים אחר השקעה משתלמת בחו"ל, הגעתי לאתר הזה ומהר מאוד הבנתי שהגעתי למקום הנכון. הצוות היה סבלני, מקצועי וזמין בכל עת – עזרו לי להבין את השוק המקומי, בדקו עבורי אפשרויות שונות, והפגישו אותי עם אנשי מקצוע אמינים במדינת היעד. בסופו של דבר רכשתי נכס שמניב תשואה מצוינת ואני בהחלט מתכננת להשקיע שוב דרכם בעתיד. תודה על שירות ברמה בינלאומית!"
                    button.carousel-control-prev(type='button' data-bs-target='#reviewsCarousel' data-bs-slide='prev')
                        span.carousel-control-prev-icon.mainpage-reviews-carousel-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                    button.carousel-control-next(type='button' data-bs-target='#reviewsCarousel' data-bs-slide='next')
                        span.carousel-control-next-icon.mainpage-reviews-carousel-next-icon(aria-hidden='true')
                        span.visually-hidden Next     
            .col-12.text-center.my-5   
                button.btn-cta.pricing-cta-btn.to-calendly-btn צרו קשר   

    include _contactUsFixed  
    include _contactUsFixedMobile                      

                                            