extends base 

block head
    title הצהרת נגישות | דירה בולגרית
    meta(name="description" content="הצהרת נגישות | דירה בולגרית")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.co.il/accessibility")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/en/accessibility" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/accessibility" hreflang="he")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/ru/accessibility" hreflang="ru")
    
    meta(property="og:title" content="הצהרת נגישות | דירה בולגרית")
    meta(property="og:description" content="הצהרת נגישות | דירה בולגרית")
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include _headLinksScripts

block content

    .container-fluid.accessibility-container
        .row.accessibility-headline-row.justify-content-center 
            .col-10.accessibility-headline-col 
                h1.accessibility-headline(dir='rtl') הצהרת נגישות
        .row.accessibility-row.justify-content-center 
            .col-10.accessibility-text-col
                h2.accessibility-text-headline(dir='rtl') מבוא
                div.accessibility-text(dir='rtl') צוות דירה בולגרית רואה בהנגשת האתר כערך עליון בכדי לספק למגוון הלקוחות שלנו את חווית הגלישה הנעימה והמוצלחת ביותר. אנו מודעים לכך שבמדינת ישראל ישנם כמיליון בני אדם אשר מתמודדים עם מוגבלות מסוימת וברצוננו לספק להם את התמיכה הנדרשת כאשר הם מבקרים באתרנו. 
                h2.accessibility-text-headline(dir='rtl') הנגשת האתר
                div.accessibility-text(dir='rtl') השקענו מאמץ רב כדי לדאוג שאתרנו יהיה מונגש על פי המלצות התקן הישראלי 5568 ברמה AA ומסמך WCAG 2.0 הבינלאומי.
                div.accessibility-text(dir='rtl') באתר הוטמע סרגל הנגישות של חברת enable אשר עוזר למשתמש לבצע שינויים מגוונים באתר, ועשוי לעזור בהנגשתו בהתאם למוגבלותו.
                h2.accessibility-text-headline(dir='rtl') כיצד עובד סרגל הנגישות?
                div.accessibility-text(dir='rtl') כדי לפתוח את סרגל הנגישות על המשתמש ללחוץ על כפתור הפתיחה בצידו השמאלי של המסך או על ידי לחיצה על מקש הESC.
                div.accessibility-text(dir='rtl') הכפתור הינו בצבע כחול וניתן לזהותו על ידי איור של אדם על כיסא גלגלים.
                div.accessibility-text(dir='rtl') <strong>בתפריט הנגישות תוכלו למצוא את האפשרויות הבאות:</strong>
                div.accessibility-text(dir='rtl') •	ניווט בעזרת המקלדת.
                div.accessibility-text(dir='rtl') •	ביטול הבהובים באתר.
                div.accessibility-text(dir='rtl') •	שינוי צבעי האתר למונוכרומטים.
                div.accessibility-text(dir='rtl') •	שינוי צבעי האתר לגווני ספיה.
                div.accessibility-text(dir='rtl') •	שינוי צבעי האתר לצבעים בעלי ניגודיות גבוהה.
                div.accessibility-text(dir='rtl') •	שינוי צבעי האתר לשחור וצהוב בלבד.
                div.accessibility-text(dir='rtl') •	היפוך צבעי האתר.
                div.accessibility-text(dir='rtl') •	הדגשת כלל הכותרות באתר.
                div.accessibility-text(dir='rtl') •	הדגשת כלל הקישורים באתר.
                div.accessibility-text(dir='rtl') •	הצגת תיאור הalt באתר.
                div.accessibility-text(dir='rtl') •	הפיכת תיאור הalt באתר לקבוע.
                div.accessibility-text(dir='rtl') •	שינוי הגופן לגופן קריא.
                div.accessibility-text(dir='rtl') •	הגדלת הגופן.
                div.accessibility-text(dir='rtl') •	הקטנת הגופן.
                div.accessibility-text(dir='rtl') •	הגדלת המסך.
                div.accessibility-text(dir='rtl') •	הקטנת המסך.
                div.accessibility-text(dir='rtl') •	הגדלת סמן העכבר.
                div.accessibility-text(dir='rtl') •	שינוי צבעו של סמן העכבר לשחור.
                div.accessibility-text(dir='rtl') •	מצב קריאה.                
                h2.accessibility-text-headline(dir='rtl') חשוב לדעת
                div.accessibility-text(dir='rtl') אנו עשוים ככול העולה על ידינו כדי להנגיש את אתרנו למגוון רחב של בעלי מוגבלות, אך למרות זאת יתכן וישנם חלקים או רכיבים שונים באתר שאינם מונגשים במאת האחוזים.
                div.accessibility-text(dir='rtl') במידה ומצאתם חלק כלשהו באתרנו שאינה מונגש לפי צורכיכם, ולכן נחסם בפניכם השימוש באותו חלק נעריך זאת מאוד אם תצרו עמנו קשר דרך פרטי ההתקשרות הרשומים מטה ונעשה ככל יכולתנו כדי לפתור את בעיית הנגישות.
                h2.accessibility-text-headline(dir='rtl') יצירת קשר עם רכז הנגישות באתר
                div.accessibility-text(dir='rtl') <strong>שם:</strong> דרור סלומון
                div.accessibility-text(dir='rtl') <strong>טלפון:</strong> 054-6398-138
                div.accessibility-text(dir='rtl') <strong>אימייל:</strong> 
                    a(href='mailto:drorsal3@gmail.com' aria-label='Dira Bulgarit E-mail') drorsal3@gmail.com
                br
                div.accessibility-text(dir='rtl') הצהרת הנגישות עודכנה בתאריך 27.5.2025