extends base 

block head
    title השקעות נדל"ן: מאות נכסים ודירות להשקעה | Estates 
    meta(name="description" content='השקעות נדל"ן בבולגריה עושים רק עם דירה בולגרית! חברה המציעה מאות נכסים ודירות להשקעה בבולגריה, וליווי מקצועי משלב החיפוש ועד שלב קבלת המפתח. לפרטים לחצו >>')
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.co.il")
    link(rel="alternate" href="https://www.dirabulgarit.co.il" hreflang="he")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/en" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/ru" hreflang="ru")
    
    meta(property="og:title" content="השקעות נדל\"ן: מאות נכסים ודירות להשקעה | Estates")
    meta(name='description' content='השקעות נדל"ן בבולגריה עושים רק עם דירה בולגרית! חברה המציעה מאות נכסים ודירות להשקעה בבולגריה, וליווי מקצועי משלב החיפוש ועד שלב קבלת המפתח. לפרטים לחצו >>')
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include _headLinksScripts

block content 
    .container-fluid.hero-container(role="img" aria-labelledby="heroDescription")
        .row.d-flex.align-items-center.justify-content-center                    
            .col-10.col-lg-8.hero-text-col 
                .hero-border
                h1.hero-headline(dir='rtl') השקעות נדל"ן
                .hero-border.hero-bottom-border
                div.hero-text(dir='rtl') Estates - אתר הנדל"ן הגדול בישראל 
        .row.hero-icons-row
            .col-6.col-xl-3.hero-icon-col
                img.hero-icon(src='/img/icons/house-svgrepo-com-hero-white.svg' alt='House icon' loading='lazy') 
                .hero-icon-text(dir='rtl') מאות נכסים מכל הסוגים
            .col-6.col-xl-3.hero-icon-col 
                img.hero-icon(src='/img/icons/lighthouse-svgrepo-com-hero-white.svg' alt='Lighthouse icon' loading='lazy') 
                .hero-icon-text(dir='rtl') ליווי צמוד לאורך כל תהליך ההשקעה
            .col-6.col-xl-3.hero-icon-col
                img.hero-icon(src='/img/icons/stats-real-estate-svgrepo-com-hero-white.svg' alt='House and graph icon' loading='lazy') 
                .hero-icon-text(dir='rtl') תשואה יציבה ואטרקטיבית        
            .col-6.col-xl-3.hero-icon-col
                img.hero-icon(src='/img/icons/money-bag-euro-svgrepo-com-hero-white.svg' alt='Euro money bag icon' loading='lazy') 
                .hero-icon-text(dir='rtl') השקעה בנכסים ברחבי העולם     
        .row.hero-contact-us-row   
            .col-10.col-lg-8.hero-contact-us-col    
                button.btn-cta-white.to-calendly-btn(aria-label='מעבר לעמוד יצירת קשר') צרו קשר   

    div.mainpage-search-modal-open-btn-container.text-center
        h2.mainpage-search-headline חיפוש נכס
        div.mainpage-search-text לחצו על כפתור החיפוש ומצאו את הנכס שהכי מתאים למבוקשכם
        button.mainpage-search-modal-open-btn(data-bs-toggle="modal" data-bs-target="#searchModal" aria-label='פתיחת תפריט חיפוש נכס') חפשו נכס 

    .container.d-flex.justify-content-center
        .mainpage-search-container.w-75   
            h2.mainpage-search-headline.text-center חיפוש נכס
            include _searchForm

        include _searchModal 

    .container-fluid.mainpage-hot-assets-container
        .row.mainpage-hot-assets-row.justify-content-center
            .col-12.mainpage-hot-assets-headline-col
                .row.text-center
                    h2.mainpage-hot-assets-tag מומלץ  
                    h3.mainpage-hot-assets-headline נכסים חמים להשקעה
            each asset in hotAssets
                include _assetsCards
        .row.mobile-mainpage-hot-assets-row.justify-content-center.mx-1         
            .col-12.mainpage-hot-assets-headline-col
                .row.text-center
                    div.mainpage-hot-assets-tag מומלץ  
                    div.mainpage-hot-assets-headline נכסים חמים להשקעה
            each asset in hotAssets
                include _mobileAssetsCards              

    .container-fluid.mainpage-about-container.overflow-hidden(role="img" aria-labelledby="aboutUsImageDescription")
        span.visually-hidden(id="aboutUsImageDescription") תמונה של בתים שיושבים על מפרצון בשפת הים השחור בבורגס בולגריה
        .row.mainpage-about-row.align-items-center
            .col-10.col-lg-8.mainpage-about-text-col
                h2.mainpage-about-tag מי אנחנו
                h3.mainpage-about-headline(dir='rtl') Estates
                div.mainpage-about-text(dir='rtl') צוות מקצועי ועתיר ניסיון - מלווה משקיעים ישראלים בדרך להשקעות מוצלחות בשוק הנדל"ן. ליווי משלב ההתעניינות ועד קבלת המפתח.
            .col-10.col-lg-8.mainpage-about-button-col 
                .row.justify-content-center 
                    .col-12.col-sm-4.my-4
                        button.btn-cta-white.to-about-btn הכירו את הצוות                   

    .container-fluid.d-flex.mainpage-howitworks-container 
        .row.mainpage-howitworks-row.align-items-center.justify-content-center.flex-lg-row-reverse.flex-md-row-reverse.mx-4
            .col-12.mainpage-howitworks-maintext--col
                h2.mainpage-howitworks-label התהליך
                h3.mainpage-howitworks-mainheadline איך זה עובד     
                div.mainpage-howitworks-maintext ליווי באופן אישי ופרטני את לקוחותיה לאורך כל תהליך רכישת הנכס החל משלב החיפוש ועד שלב סגירת העסקה     
            .col-12.col-md-6.col-xl-6.col.mainpage-howitworks-steps--col
                div.mainpage-howitworks-icon--background
                    svg.bi.mainpage-howitworks-icon(aria-labelledby="howItWorkIconClipboard")
                        title(id="howItWorkIconClipboard") אייקון של לוח כתיבה עם לב במרכזו
                        use(xlink:href='/img/icons/clipboard.svg#clipboard')
                div.mainpage-howitworks-headline צרכים והעדפות       
                div.mainpage-howitworks-text נערוך אתכם פגישת וידאו כדי להבין את הצרכים וההעדפות שלכם       
            .col-12.col-md-6.col-xl-6.col.mainpage-howitworks-steps--col
                div.mainpage-howitworks-icon--background
                    svg.bi.mainpage-howitworks-icon(aria-labelledby="howItWorkIconBinoculars")
                        title(id="howItWorkIconBinoculars") אייקון של משקפת
                        use(xlink:href='/img/icons/binoculars.svg#binoculars')
                div.mainpage-howitworks-headline איתור נכס      
                div.mainpage-howitworks-text נציג לכם מגוון נכסים לפי הקריטריונים המועדפים עליכם      
            .col-12.col-md-6.col-xl-6.col.mainpage-howitworks-steps--col
                div.mainpage-howitworks-icon--background
                    svg.bi.mainpage-howitworks-icon(aria-labelledby="howItWorkIconHouse")
                        title(id="howItWorkIconHouse") אייקון של בית
                        use(xlink:href='/img/icons/house.svg#house')
                div.mainpage-howitworks-headline סיור נכסים     
                div.mainpage-howitworks-text נלווה אתכם בשטח לראיית כל הנכסים שמצאו חן בעינייכם      
            .col-12.col-md-6.col-xl-6.col.mainpage-howitworks-steps--col
                div.mainpage-howitworks-icon--background
                    svg.bi.mainpage-howitworks-icon(aria-labelledby="howItWorkIconSearch")
                        title(id="howItWorkIconSearch") אייקון של זכוכית מגדלת
                        use(xlink:href='/img/icons/search.svg#search')
                div.mainpage-howitworks-headline בדיקה משפטית       
                div.mainpage-howitworks-text נערוך בדיקה משפטית מקיפה של הנכס בעזרת הייעוץ המשפטי שלנו      

    .container-fluid.mainpage-why-bulgaria-container
        .row.mainpage-why-bulgaria-row.align-items-center.justify-content-center 
            .col.mainpage-why-bulgaria-col
                div.mainpage-why-bulgaria-bg-video-container(role="img" aria-labelledby="whyBulgariaDescription")
                    video(muted loop loading="lazy" data-src="/videos/burgas-video-1080p.mp4").mainpage-why-bulgaria-bg-video
                    span.visually-hidden(id="whyBulgariaDescription") וידאו שמראה את העיר בורגס ממבט על
                div.mainpage-why-bulgaria-text-container.w-75.text-center       
                    h2.mainpage-why-bulgaria-tag השקעה          
                    h3.mainpage-why-bulgaria-headline(dir='rtl') אז למה להשקיע בנדל"ן?
                    div.mainpage-why-bulgaria-text(dir='rtl') הכלכלה נמצאת בצמיחה מתמדת, בין היתר בזכות ריבוי ההשקעות וההתפתחות הגלובלית בשוק. מחירי הנדל"ן במקומות רבים בעולם עדיין נגישים יחסית, ובאזורים מסוימים ניתן ליהנות מתשואה גבוהה על השכרה – במיוחד בערים מרכזיות ובמוקדים תיירותיים. הכנו עבורכם מדריך השקעה מפורט שיסייע לכם בצעדים הראשונים לעבר העסקה הנכונה והמשתלמת ביותר.
                div.invest-guide-btn-container
                    button.invest-guide-btn למדריך ההשקעה
            
    .container-fluid.mainpage-rec-container            
        .row.mx-4.justify-content-center
            .col-12.mainpage-rec-maintext-col.text-center
                h2.mainpage-rec-tag המלצות 
                h3.mainpage-rec-headline מה אומרים עלינו
            .col-12.col-md-10.reviews-carousel-col           
                #reviewsCarousel.carousel.slide.text-center.reviews-carousel(data-bs-touch='true' data-bs-interval='15000' data-bs-ride='carousel')
                    .carousel-inner.reviews-carousel-inner    
                        .carousel-item.active.reviews-carousel-item.he-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/avatar-img-1.webp' alt='תמונה של הממליצה מרינה פ' loading='lazy')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name(dir='rtl') נחום רובין
                                        div.mainpage-reviews-prof(dir='rtl') מפקח בנייה
                                        div.mainpage-reviews-review.fst-italic(dir='rtl') "חוויית שירות מצוינת! מצאתי נכס מדהים בחו"ל בעזרת הצוות המקצועי של האתר — ליווי אישי, אמין ויעיל לאורך כל הדרך."
                        .carousel-item.reviews-carousel-item.he-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/avatar-img-2.webp' alt='תמונה של הממליצה גוזל' loading='lazy')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name(dir='rtl') אלון כהן
                                        div.mainpage-reviews-prof(dir='rtl') מתכנת
                                        div.mainpage-reviews-review.fst-italic(dir='rtl') "לא חשבתי שתהליך רכישת נכס בחו"ל יכול להיות כל כך פשוט! האתר סייע לי למצוא דירה שמתאימה בדיוק למה שחיפשתי, ונתן מענה לכל שאלה – מהבדיקה הראשונית ועד חתימת החוזה. ממליץ בחום לכל מי שמעוניין להשקיע בנדל"ן ברחבי העולם."
                        .carousel-item.reviews-carousel-item.he-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/avatar-img-3.webp' alt='תמונה של הממליץ אלכס נ' loading='lazy')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name(dir='rtl') קארין גרין
                                        div.mainpage-reviews-prof(dir='rtl') מעצבת פנים
                                        div.mainpage-reviews-review.fst-italic(dir='rtl') "לאחר חיפושים ממושכים אחר השקעה משתלמת בחו"ל, הגעתי לאתר הזה ומהר מאוד הבנתי שהגעתי למקום הנכון. הצוות היה סבלני, מקצועי וזמין בכל עת – עזרו לי להבין את השוק המקומי, בדקו עבורי אפשרויות שונות, והפגישו אותי עם אנשי מקצוע אמינים במדינת היעד. בסופו של דבר רכשתי נכס שמניב תשואה מצוינת ואני בהחלט מתכננת להשקיע שוב דרכם בעתיד. תודה על שירות ברמה בינלאומית!"
                    button.carousel-control-prev(type='button' data-bs-target='#reviewsCarousel' data-bs-slide='prev')
                        span.carousel-control-prev-icon.mainpage-reviews-carousel-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                    button.carousel-control-next(type='button' data-bs-target='#reviewsCarousel' data-bs-slide='next')
                        span.carousel-control-next-icon.mainpage-reviews-carousel-next-icon(aria-hidden='true')
                        span.visually-hidden Next

    .container-fluid.mainpage-pricing-container.justify-content-center              
        .row.mx-4.justify-content-center.mainpage-pricing-headline-row
            .col-12.pricing-maintext-col.text-center
                h2.pricing-tag לבחירתכם 
                h3.mainpage-pricing-headline מחירון חבילות ליווי                        
        .row.justify-content-center.pricing-cards-row.flex-md-row-reverse               
            .col-12.col-sm-7.col-md-6.col-lg-4.col-xl-4.col-xxl-3.mx-xxl-5.p-xxs-0.p-med-1
                .card.pricing-card-basic
                    .card-body
                        .container-fluid
                            .row.pricing-card-body-row
                                .col-12
                                    .card-title.pricing-card-main-title(dir='rtl') בסיס
                                    .card-title.pricing-card-secondary-title(dir='rtl') איתור הנכס ואיסוף מסמכים
                                    .card-title.pricing-card-tertiary-title(dir='rtl') 3000€ + מע"מ
                                .col-12.my-5
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3
                                        span.pricing-card-text איתור נכס על פי נתוני ודרישות הלקוח
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון שלי וי') 
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3       
                                        span.pricing-card-text סיור פיזי או סיור און ליין
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון של וי')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3
                                        span.pricing-card-text בדיקה משפטית של הנכס 
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון שלי וי')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3    
                                        span.pricing-card-text ליקוט ניירת משפטית של הנכס 
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון שלי וי')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3  
                                        span.pricing-card-text כתיבת חוזה ראשוני עם עורך דין 
                                        img.card-icon.pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='אייקון של איקס')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3    
                                        span.pricing-card-text כתיבת וחתימת חוזה סופי בלשכת נטוריון
                                        img.card-icon.pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='אייקון שלי איקס')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3    
                                        span.pricing-card-text ליווי הלקוח בפתיחת חשבון בנק 
                                        img.card-icon.pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='אייקון של איקס')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3    
                                        span.pricing-card-text השכרת הנכס וניהול הנכס 
                                        img.card-icon.pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='אייקון של איקס')                                      
            .col-12.col-sm-7.col-md-6.col-lg-4.col-xl-4.col-xxl-3.mx-xxl-5
                .card.pricing-card-plus
                    .card-body
                        .container-fluid
                            .row.pricing-card-body-row
                                .col-12
                                    .card-title.pricing-card-main-title(dir='rtl') פלוס
                                    .card-title.pricing-card-secondary-title(dir='rtl') סגירת חוזה ופתיחת חשבון בנק
                                    .card-title.pricing-card-tertiary-title(dir='rtl') 3990€ + מע"מ
                                .col-12.my-5
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3
                                        span.pricing-card-text איתור נכס על פי נתוני ודרישות הלקוח
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון שלי וי') 
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3       
                                        span.pricing-card-text סיור פיזי או סיור און ליין
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון של וי')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3
                                        span.pricing-card-text בדיקה משפטית של הנכס 
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון שלי וי')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3    
                                        span.pricing-card-text ליקוט ניירת משפטית של הנכס 
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון שלי וי')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3  
                                        span.pricing-card-text כתיבת חוזה ראשוני עם עורך דין 
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון של וי')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3    
                                        span.pricing-card-text כתיבת וחתימת חוזה סופי בלשכת נטוריון
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון שלי וי')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3    
                                        span.pricing-card-text ליווי הלקוח בפתיחת חשבון בנק 
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון שלי וי')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3    
                                        span.pricing-card-text השכרת הנכס וניהול הנכס 
                                        img.card-icon.pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='אייקון של איקס')                                    
            .col-12.col-sm-7.col-md-6.col-lg-4.col-xl-4.col-xxl-3.mx-xxl-5
                .card.pricing-card-premium
                    .card-body
                        .container-fluid
                            .row.pricing-card-body-row
                                .col-12.justify-content-center.pricing-premium-col 
                                    .span.badge.pricing-premium-badge המשתלם ביותר 
                                    .card-title.pricing-card-main-title(dir='rtl') פרימיום
                                    .card-title.pricing-card-secondary-title(dir='rtl') ליווי צמוד לאורך כל הדרך וניהול הנכס
                                    .card-title.pricing-card-tertiary-title(dir='rtl') 4990€ + מע"מ
                                .col-12.my-5
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3
                                        span.pricing-card-text איתור נכס על פי נתוני ודרישות הלקוח
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון שלי וי') 
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3       
                                        span.pricing-card-text סיור פיזי או סיור און ליין
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון של וי')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3
                                        span.pricing-card-text בדיקה משפטית של הנכס 
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון שלי וי')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3    
                                        span.pricing-card-text ליקוט ניירת משפטית של הנכס 
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון שלי וי')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3  
                                        span.pricing-card-text כתיבת חוזה ראשוני עם עורך דין 
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון של וי')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3    
                                        span.pricing-card-text כתיבת וחתימת חוזה סופי בלשכת נטוריון
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון שלי וי')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3    
                                        span.pricing-card-text ליווי הלקוח בפתיחת חשבון בנק 
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון שלי וי')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3    
                                        span.pricing-card-text השכרת הנכס וניהול הנכס 
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון שלי וי')    
            .col-12.text-center.py-5    
                button.btn-cta.pricing-cta-btn.to-calendly-btn(aria-label='מעבר לעמוד יצירת קשר') צרו קשר 

    .container-fluid.mainpage-blog-container
        .row.mainpage-blog-headline-row.d-felx.justify-content-center
            .col-12.mainpage-blog-headline-col
                .row.text-center
                    h2.mainpage-blog-tag חשוב לדעת
                    h3.mainpage-blog-headline כתבות נבחרות מהבלוג שלנו
        .row.mainpage-blog-cards-row.d-felx.justify-content-center.flex-md-row-reverse.mx-4 
            .col-12.col-md-6.col-lg-3
                .card.mainpage-blog-card.py-3
                    .card-body
                        .container-fluid
                            .row.mainpage-blog-card-body-row.text-center
                                .col-12.mainpage-blog-card-title-col.justify-content-center.align-content-center
                                    img.mainpage-blog-icon(src='/img/icons/israel-shekel-currency-symbol-svgrepo-com-white.svg' alt='אייקון של דגל ישראל' loading='lazy')
                                    .card-title.mainpage-blog-card-title הסיבות לפופולריות של בולגריה בקרב ישראלים
                                .col-12.mainpage-blog-card-text-col.my-2
                                    div.d-flex.align-content-center.justify-content-end.py-3 
                                        span.mainpage-blog-card-text(dir="rtl") בהתחשב במדינות הפופולריות ביותר לרכישת נכס בחו"ל בקרב ישראלים, כדאי להדגיש את בולגריה. נופי ים יפים, אקלים מתון, מספר רב של אטרקציות ומונומנטים אדריכליים מושכים את אזר...
                                .col-12.my-2        
                                    button.mainpage-blog-card-btn(data-slug="The-reasons-for-Bulgarias-popularity-among-Israeli-property-buyers") להמשך קריאה
            .col-12.col-md-6.col-lg-3
                .card.mainpage-blog-card.py-3
                    .card-body
                        .container-fluid
                            .row.mainpage-blog-card-body-row.text-center
                                .col-12.mainpage-blog-card-title-col.justify-content-center.align-content-center
                                    img.mainpage-blog-icon(src='/img/icons/graph-property-svgrepo-com-white.svg' alt='אייקון של גרף עם בית בראש כל עמודה' loading='lazy')
                                    .card-title.mainpage-blog-card-title ניתוח מחירי הנכסים בבולגריה בשנת 2024   
                                .col-12.mainpage-blog-card-text-col.my-2
                                    div.d-flex.align-content-center.justify-content-end.py-3 
                                        span.mainpage-blog-card-text(dir="rtl") בהשוואה לשאר מדינות באירופה, בולגריה קטנה אך מעניינת מאוד. בולגריה היא יעד פופולרי בקרב תיירים בגלל הנופים הציוריים, הארכיטקטורה המרתקת, הים העדין והפסגות המושלגות זרם...
                                .col-12.my-2.align-content-end      
                                    button.mainpage-blog-card-btn(data-slug="Property-price-analysis-in-Bulgaria-in-2024") להמשך קריאה
            .col-12.col-md-6.col-lg-3
                .card.mainpage-blog-card.py-3
                    .card-body
                        .container-fluid
                            .row.mainpage-blog-card-body-row.text-center
                                .col-12.mainpage-blog-card-title-col.justify-content-center.align-content-center
                                    img.mainpage-blog-icon(src='/img/icons/mountaint-landscape-svgrepo-com-white.svg' alt='אייקון של הרים עם שמש ועננים מעליהם' loading='lazy')
                                    .card-title.mainpage-blog-card-title מבט מקיף על איכות החיים בבולגריה         
                                .col-12.mainpage-blog-card-text-col.my-2
                                    div.d-flex.align-content-center.justify-content-end.py-3 
                                        span.mainpage-blog-card-text(dir="rtl") בולגריה היא מדינה טובה לחיות בה. יש לה אקלים מתון, אקולוגיה נקייה, נופים מהפנטים ואתרי נופש רבים ותושבים מאוד ידידותיים ומסבירי פנים. אנשים המבקרים בבולגריה מדברים לעת...
                                .col-12.my-2        
                                    button.mainpage-blog-card-btn(data-slug="Embrace-Bulgaria-a-comprehensive-look-at-the-quality-of-life-in-the-country") להמשך קריאה
            .col-12.col-md-6.col-lg-3
                .card.mainpage-blog-card.py-3
                    .card-body
                        .container-fluid
                            .row.mainpage-blog-card-body-row.text-center
                                .col-12.mainpage-blog-card-title-col.justify-content-center.align-content-center
                                    img.mainpage-blog-icon(src='/img/icons/house-thumbs-up-svgrepo-com-white.svg' alt='אייקון של בית עם יד שעושה לייק בתוכו' loading='lazy')
                                    div.card-title.mainpage-blog-card-title(dir="rtl") באיזה סוג נכס כדאי להשקיע בבולגריה?      
                                .col-12.mainpage-blog-card-text-col.my-2
                                    div.d-flex.align-content-center.justify-content-end.py-3 
                                        span.mainpage-blog-card-text(dir="rtl") בולגריה היא מדינה טובה להשקעה. עם עלות דיור נמוכה יחסית, לבולגריה יש פוטנציאל פנאי גדול, יתר על כן, מאז 2007 היא חברה באיחוד האירופי. כל זר יכול לקנות דירות בבולגריה ב...
                                .col-12.my-2        
                                    button.mainpage-blog-card-btn(data-slug="What-type-of-property-should-you-invest-in-Bulgaria") להמשך קריאה
        .row.mainpage-blog-btn-row.d-felx.justify-content-center
            .col-12.text-center.py-3    
                button.to-blog-btn לעמוד הבלוג  


    .container-fluid.mainpage-contact-us-container
        .row.mainpage-contact-us-headline-row.d-felx.justify-content-center
            .col-12.col-md-10.col-xl-8.mainpage-contact-us-headline-col
                .row.text-center
                    h2.mainpage-contact-us-tag צרו קשר
                    h3.mainpage-contact-us-headline השאירו פרטים ואחד היועצים שלנו יצור עמכם קשר בהקדם
        .row.mainpage-contact-us-row.d-felx.justify-content-center.mx-4
            .col-12.col-md-10.col-xl-8.mainpage-contact-us-col.text-center 
                div#crmWebToEntityForm.crmWebToEntityForm
                    form.contact-us-form#webform6296617000000479035(action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads6296617000000479035 method='POST' accept-charset='UTF-8' novalidate)
                        input(type='text' style='display:none;' name='xnQsjsdp' value='c9ef63b049adde9dd26f5acb21dc87ed1cff806c5954f97aa4908339c68a8469')
                        input#zc_gad(type='hidden' name='zc_gad' value='')
                        input(type='text' style='display:none;' name='xmIwtLD' value='901545bd25a6f11e8753daa2bb5bdc4a62c942986fe3a3b3123340dde1be1461ada4f129bad2cf0112fb24bc402fd5af')
                        input(type='text' style='display:none;' name='actionType' value='TGVhZHM=')
                        input(type='text' style='display:none;' name='returnURL' value='https://www.dirabulgarit.co.il/contact-us-confirm')
                        input.contact-us-honeypot-input(type='text' name='bot_check' style='display:none;' value='')
                        .row.contact-us-row
                            .col-12.contact-us-col.d-flex.justify-content-end
                                input.contact-us-input.contact-us-name-input.form-control(type='text' name='Last Name'  maxlength="50" pattern='[A-Za-zА-Яа-яЁёא-ת\\s\'\\-]{2,50}' placeholder='שם' aria-label='שם' aria-describedby='basic-addon1' required)                            
                                .invalid-tooltip אנא הכניסו שם תקין
                            .col-12.contact-us-col.d-flex.justify-content-end
                                input.contact-us-input.contact-us-phone-input.form-control(type='text' name='Phone' maxlength="12" pattern='((02|03|04|08|09)[0-9]{7})|(((05[0-57-9])|(07[2-4,6-9])|(08[1,7,9])|(09[2-5,7,9])|(170)|(171)|(177)|(444)|(447))[0-9]{7})|(972((5[0-57-9])|(7[2-4,6-9])|(8[1,7,9])|(9[2-5,7,9])|(170)|(171)|(177)|(444)|(447))[0-9]{7})|(972(2|3|4|8|9)[0-9]{7})' placeholder='טלפון' aria-label='טלפון' aria-describedby='basic-addon1' required)
                                .invalid-tooltip.contact-us-phone-invalid אנא הכניסו מספר טלפון תקין
                            .col-12.contact-us-col.d-flex.justify-content-end 
                                input.contact-us-input.contact-us-email-input.form-control(type='email' ftype='email' autocomplete='false' name='Email' crmlabel='' maxlength='100' placeholder='אימייל  ' aria-label='אימייל' aria-describedby='basic-addon1' pattern='^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$' required)
                                .invalid-tooltip.contact-us-email-invalid אנא הכניסו אימייל תקין
                            .col-12.contact-us-col.contact-us-last-col.d-flex.justify-content-end     
                                textarea.contact-us-textarea.contact-us-description-input.form-control(id='Description' name='Description' dir='rtl' aria-label="תיאור הבקשה" rows="5" placeholder='יש עוד משהו שהייתם רוצים שנדע?')
                            .col-12.contact-us-col.d-flex.justify-content-end.align-items-start.align-items-sm-center.text-end 
                                span.webinar-form-check-top-label.form-check-label(for='flexCheckDefault') אני מאשר\ת קבלת מידע ענייני בנושא נדל"ן בבולגריה שלעתים עשוי להיות שיווקי 
                                input.contact-us-checkbox(type='checkbox' aria-checked='false' class='zcwf_ckbox' id='Email_Opt_Out' aria-required='false' aria-label='Email Opt Out' name='Email Opt Out' aria-valuemax='50' maxlength='50')
                            .col-12.contact-us-col
                                input.contact-us-button.mx-3(type='reset' class='zcwf_button' name='reset' value='ניקוי' title='Reset')        
                                input.contact-us-button.mx-3(type='submit' id='formsubmit' class='formsubmit zcwf_button' value='שליחה' title='Submit')   

    include _contactUsFixed  
    include _contactUsFixedMobile    