extends base 

block head
    title סודיות ופרטיות | דירה בולגרית
    meta(name="description" content="סודיות ופרטיות | דירה בולגרית")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.co.il/privacy")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/en/privacy" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/privacy" hreflang="he")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/ru/privacy" hreflang="ru")

    meta(property="og:title" content="סודיות ופרטיות | דירה בולגרית")
    meta(property="og:description" content="סודיות ופרטיות | דירה בולגרית")
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include _headLinksScripts

block content

    .container-fluid.privacy-container
        .row.privacy-headline-row.justify-content-center 
            .col-10.privacy-headline-col 
                h1.privacy-headline(dir='rtl') סודיות ופרטיות
        .row.privacy-row.justify-content-center 
            .col-10.privacy-text-col
                div.termsOfService-text-headline(dir='rtl') מבוא
                div.privacy-text(dir='rtl') ב- Estates ("אנחנו", "שלנו", "לנו"), אנו מחויבים להגן על פרטיותך. מדיניות פרטיות זו מסבירה כיצד אנו אוספים, משתמשים ומגינים על המידע שלך כאשר אתה מבקר באתר שלנו.
                div.termsOfService-text-headline(dir='rtl') מידע שאנו אוספים
                div.privacy-text(dir='rtl') אנו משתמשים ב-Google Analytics כדי לאסוף נתונים סטטיסטיים על המשתמשים באתר, כגון מספר המבקרים, משך השהייה באתר, הדפים הנצפים ומקור ההגעה לאתר. מידע זה נאסף באופן אנונימי ומשמש אותנו לצורך ניתוח ושיפור האתר.
                div.privacy-text(dir='rtl') אנו משתמשים בעוגיות כדי לשפר את חוויית המשתמש שלך. אנו אוספים מידע אישי שאתה מספק מרצונך דרך חלק ה-"צור קשר" שלנו וכשקובעים פגישות דרך Calendly. זאת כוללת:
                div.privacy-text(dir='rtl') •	שם
                div.privacy-text(dir='rtl') •	כתובת אימייל
                div.privacy-text(dir='rtl') •	מספר טלפון
                div.termsOfService-text-headline(dir='rtl') שימוש במידע
                div.privacy-text(dir='rtl') אנו משתמשים במידע שאנו אוספים כדי:
                div.privacy-text(dir='rtl') •	להשיב לפניותיך ולספק תמיכה ללקוחות.
                div.privacy-text(dir='rtl') •	להקל על תקשורת בנוגע לרישומי נדל"ן.
                div.privacy-text(dir='rtl') •	לתאם ולנהל פגישות דרך Calendly.
                div.privacy-text(dir='rtl') •	לנתח ולשפר את חוויית המשתמש באתר באמצעות Google Analytics.
                div.termsOfService-text-headline(dir='rtl') שיתוף מידע
                div.privacy-text(dir='rtl') איננו מוכרים, סוחרים או מעבירים את המידע האישי שלך לצדדים חיצוניים אלא אם כן יש צורך לספק את השירותים שלנו (למשל, שימוש ב-Calendly לתיאום פגישות).
                div.privacy-text(dir='rtl') לגבי Google Analytics, אנו משתפים מידע עם Google כדי לאפשר את ביצוע הניתוחים הסטטיסטיים, בכפוף למדיניות הפרטיות של Google.
                div.termsOfService-text-headline(dir='rtl') אבטחת מידע
                div.privacy-text(dir='rtl') אנו מיישמים מגוון אמצעי אבטחה לשמירת המידע האישי שלך. עם זאת, אין שיטת העברה דרך האינטרנט או אחסון אלקטרוני שהיא בטוחה ב-100%.
                div.termsOfService-text-headline(dir='rtl') שירותי צד שלישי
                div.privacy-text(dir='rtl') האתר שלנו משתמש ב-Google Analytics לצורך ניתוח סטטיסטי של פעילות האתר ובכפוף למדיניות הפרטיות שלהם, אשר אנו ממליצים לכם לעיין בה. <a href="https://support.google.com/analytics/answer/7318509?hl=en" target="_blank">https://support.google.com/analytics/answer/7318509?hl=en</a>
                div.privacy-text(dir='rtl') האתר שלנו משתמש ב-Calendly לניהול פגישות. השימוש של Calendly במידע האישי שלך כפוף למדיניות הפרטיות שלהם, אשר אנו ממליצים לכם לעיין בה. <a href="https://calendly.com/legal/customer-terms-conditions" target="_blank">https://calendly.com/legal/customer-terms-conditions</a>
                div.termsOfService-text-headline(dir='rtl') זכויותיך
                div.privacy-text(dir='rtl') יש לך את הזכות ל:
                div.privacy-text(dir='rtl') •	לבקש את מחיקת המידע האישי שלך.
                div.privacy-text(dir='rtl') •	לבטל את הסכמתך לעיבוד המידע האישי שלך.
                div.privacy-text(dir='rtl') למימוש זכויות אלו, אנא פנה אלינו ב-drorsal3@gmail.com.
                div.termsOfService-text-headline(dir='rtl') שינויים במדיניות הפרטיות
                div.privacy-text(dir='rtl') אנו עשויים לעדכן מדיניות פרטיות זו מעת לעת. אנו נודיע לך על כל שינוי על ידי פרסום מדיניות הפרטיות החדשה בעמוד זה. השימוש המתמשך שלך באתר לאחר שינויים אלו מהווה את קבלתך את מדיניות הפרטיות החדשה.
                div.termsOfService-text-headline(dir='rtl') צרו קשר
                div.privacy-text(dir='rtl') אם יש לך שאלות לגבי מדיניות פרטיות זו, אנא פנה אלינו ב: drorsal3@gmail.com
                