extends base 

block head
    title מפת האתר | דירה בולגרית
    meta(name="robots" content="noindex, nofollow")
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include _headLinksScripts

block content

    .container-fluid.siteMap-container
        .row.siteMap-headline-row.justify-content-center
            .col-10.siteMap-headline-col 
                h1.siteMap-headline(dir='rtl') מפת האתר
        .row.siteMap-row.d-flex.justify-content-center.text-end
            .col-10.siteMap-headline-col 
                .row
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/invest' dir='rtl') מדריך השקעה
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/qanda' dir='rtl') שאלות ותשובות
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/blog' dir='rtl') חיפוש נכס
                    .col-6.col-md-4.siteMap-links-col    
                        a.siteMap-links(href='/pricing' dir='rtl') מחירון
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/blog' dir='rtl') חשוב לדעת
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/about' dir='rtl') מי אנחנו
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/contact-us' dir='rtl') צרו קשר
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/en/terms-of-service') תקנון האתר
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/en/privacy') מדיניות פרטיות
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/en/accessibility') הצהרת נגישות   
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links.siteMap-project-link(data-slug='prestige-estates') Prestige Estates