extends base 

block head
    title תקנון האתר | דירה בולגרית
    meta(name="description" content="תקנון האתר | דירה בולגרית")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.co.il/terms-of-service")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/en/terms-of-service" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/terms-of-service" hreflang="he")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/ru/terms-of-service" hreflang="ru")

    meta(property="og:title" content="תקנון האתר | דירה בולגרית")
    meta(property="og:description" content="תקנון האתר | דירה בולגרית")
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include _headLinksScripts

block content

    .container-fluid.termsOfService-container
        .row.termsOfService-headline-row.justify-content-center 
            .col-10.termsOfService-headline-col 
                h1.termsOfService-headline(dir='rtl') תנאים והגבלות
        .row.termsOfService-row.justify-content-center 
            .col-10.termsOfService-text-col
                div.termsOfService-text-headline(dir='rtl') מבוא
                div.termsOfService-text(dir='rtl') ברוכים הבאים לאתר Estates ("האתר"). תנאים והגבלות אלו ("התנאים") מסדירים את השימוש שלך באתר שלנו. על ידי גישה או שימוש באתר שלנו, אתה מסכים לציית ולהיות מחויב לתנאים אלו. אם אינך מסכים לתנאים אלו, עליך לא להשתמש באתר שלנו.
                div.termsOfService-text-headline(dir='rtl') שירותים
                div.termsOfService-text(dir='rtl') האתר שלנו מציע רישומי נדל"ן ומסייע ללקוחות ישראליים בהשקעה ורכישת נדל"ן. אנו מספקים מידע ומקלים על תקשורת בין קונים ומוכרים אך לא פועלים כמתווכים נדל"ן.
                div.termsOfService-text-headline(dir='rtl') שימוש באתר
                div.termsOfService-text(dir='rtl') •	אתה מסכים להשתמש באתר למטרות חוקיות בלבד.
                div.termsOfService-text(dir='rtl') •	אינך רשאי להשתמש באתר באופן שיגרום או עשוי לגרום לנזק לאתר או לפגיעה בזמינות או בנגישות של האתר.
                div.termsOfService-text(dir='rtl') •	אתה מסכים לא להשתמש במידע שנמצא באתר למטרות מסחריות.
                div.termsOfService-text-headline(dir='rtl') קניין רוחני
                div.termsOfService-text(dir='rtl') כל התוכן באתר, כולל טקסט, גרפיקה, לוגו ותמונות, הוא רכוש של Estates או של ספקי התוכן שלו ומוגן על ידי חוקי זכויות יוצרים בינלאומיים.
                div.termsOfService-text-headline(dir='rtl') הגבלת אחריות
                div.termsOfService-text(dir='rtl') איננו אחראים לכל נזק ישיר, עקיף, מקרי או תוצאתי הנובע מהשימוש באתר שלנו או קשור אליו. זאת כוללת כל שגיאה או השמטה בתוכן המסופק באתר.
                div.termsOfService-text-headline(dir='rtl') קישורים חיצוניים
                div.termsOfService-text(dir='rtl') האתר שלנו עשוי להכיל קישורים לאתרים של צדדים שלישיים. איננו אחראים לתוכן או לפרקטיקות של אתרים אלה.
                div.termsOfService-text-headline(dir='rtl') שינויים בתנאים
                div.termsOfService-text(dir='rtl') אנו שומרים לעצמנו את הזכות לשנות את התנאים בכל עת. כל שינוי יפורסם בעמוד זה והשימוש המתמשך שלך באתר לאחר שינויים אלו מהווה את קבלתך את התנאים החדשים.
                div.termsOfService-text-headline(dir='rtl') החוק החל
                div.termsOfService-text(dir='rtl') תנאים אלו נשלטים ומפורשים בהתאם לחוקי מדינת ישראל וכל מחלוקת הקשורה לתנאים אלו תהיה בסמכות הבלעדית של בתי המשפט במדינת ישראל.